Repository cncf/glossary, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/ar, lang/bn, lang/de, lang/en, lang/es, lang/fr, lang/hi, lang/it, lang/ko, lang/pt, lang/zh

.github/labeler.yml:

lang/ar:
- content/ar/*

lang/bn:
- content/bn/*

lang/de:
- content/de/*

lang/en:
- content/en/*

lang/es:
- content/es/*

lang/fr:
- content/fr/*

lang/hi:
- content/hi/*

lang/it:
- content/it/*

lang/ko:
- content/ko/*

lang/pt:
- content/pt-br/*

lang/zh:
- content/zh/*

add Adriana to german approver team
  .github/settings.yml
  CODEOWNERS
Labels: none

Add content/pt-br/bare_metal_machine.md
  content/pt-br/bare_metal_machine.md
Labels: lang/pt

Add content/en/database as a service
  content/en/database_as_a_service.md
Labels: lang/en

feat: --20220301 Add cluster.md into dev-zh
  content/zh/cluster.md
Labels: lang/zh

Update database_as_a_service.md
  content/en/database_as_a_service.md
Labels: lang/en

Update database_as_a_service.md
  content/en/database_as_a_service.md
Labels: lang/en

Links + edits
  content/en/chaos_engineering.md
Labels: lang/en

Some edits
  content/en/security_chaos_engineering.md
Labels: lang/en

:fire: Translate cloud_computing to spanish
  content/es/cloud_computing.md
Labels: lang/es

removed Chaos Engineering concept
  content/en/chaos_engineering.md
Labels: lang/en

Chaos Engineering concept
  content/en/chaos_engineering.md
Labels: lang/en

[hi] localize canary_deployment.md (#421)
  content/hi/canary_deployment.md
Labels: lang/hi

fixed high-frequency deployments in chaos engineering concept
  content/en/chaos_engineering.md
Labels: lang/en

fixed a sentence
  content/en/security_chaos_engineering.md
Labels: lang/en

fix links
  content/en/security_chaos_engineering.md
Labels: lang/en

split concepts
  content/en/security_chaos_engineering.md
Labels: lang/en

changed concetto e titolo
  content/it/agile_software_development.md
  content/it/devops.md
Labels: lang/it

cambio titolo e concetto
  content/it/cluster.md
  content/it/nodes.md
Labels: lang/it

Add content/pt-br/container-image.md
  content/pt-br/container-image.md
Labels: lang/pt

chore: rev01
  content/es/devops.md
Labels: lang/es

feat: add content /es/devops
  content/es/devops.md
Labels: lang/es

chore: cola
  content/es/devops.md
Labels: lang/es

chore: wordlist
  content/es/.wordlist.txt
  content/es/devops.md
Labels: lang/es

Improve translation quality
  content/zh/cluster.md
Labels: lang/zh

Add content/en/technical-debt
  content/en/technical-debt.md
Labels: lang/en

Initial draft of the contributing guide
  CONTRIBUTING.md
Labels: none

a few tweaks
  CONTRIBUTING.md
Labels: none

typo
  CONTRIBUTING.md
Labels: none

tweak
  CONTRIBUTING.md
Labels: none

Adds prerequisites to local instance setup (closes #442)
  README.md
Labels: none

add content/zh/cloud_computing.md
  content/zh/cloud_computing.md
Labels: lang/zh

modify content/zh/cloud_computing.md
  content/zh/cloud_native_tech.md
Labels: lang/zh

Update variable names of feedback section
  i18n/en.toml
  layouts/partials/feedback.html
Labels: none

[hi] localize contributor-ladder/_index.md
  content/hi/contributor-ladder/_index.md
Labels: none

Add container.md localization to zh
  content/zh/container.md
Labels: lang/zh

modify container.md localization to zh
  content/zh/container.md
Labels: lang/zh

Localize monolithic_apps.md for Korean
  content/ko/monolithic_apps.md
Labels: lang/ko
