Repository cncf/glossary, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/ar, lang/bn, lang/de, lang/en, lang/es, lang/fr, lang/it, lang/hi, lang/ko, lang/pt, lang/zh

A few edits
  content/en/database_as_a_service.md
Labels: lang/en

Contributing Guide (#501)
  CONTRIBUTING.md
Labels: none

Added words related to database as a service
  wordlist.txt
Labels: none

Update database_as_a_service.md
  content/en/database_as_a_service.md
Labels: lang/en

Update database_as_a_service.md
  content/en/database_as_a_service.md
Labels: lang/en

rephrase concept
  content/en/chaos_engineering.md
Labels: lang/en

How it helps edits
  content/en/database_as_a_service.md
Labels: lang/en

I18n of feedback section (#483)
  i18n/en.toml
  layouts/partials/feedback.html
Labels: none

Update golden_signals.md
  content/en/golden_signals.md
Labels: lang/en

remove catherine as german approver
  .github/settings.yml
  CODEOWNERS
Labels: none

add Adriana to german approver team (#492)
  .github/settings.yml
  CODEOWNERS
Labels: none

Add client_server_architecture.md
  content/hi/client_server_architecture.md
Labels: lang/hi

Update client_server_architecture.md
  content/en/client_server_architecture.md
Labels: lang/en

fix category localization
  content/it/cloud_native_tech.md
Labels: lang/it

Update content/en/monolithic_apps.md
  content/ko/monolithic_apps.md
Labels: lang/ko

Update client_server_architecture.md (#521)
  content/en/client_server_architecture.md
Labels: lang/en

Update content/hi/client_server_architecture.md
  content/hi/client_server_architecture.md
Labels: lang/hi

Changed the category of the pull request
  content/en/technical-debt.md
Labels: lang/en

Update _index.md
  content/it/style-guide/_index.md
Labels: none

Update _index.md (#465)
  content/it/style-guide/_index.md
Labels: none

Added words related to database as a service
  wordlist.txt
Labels: none

Update ko/virtual_machine.md (#474)
  content/ko/virtual_machine.md
Labels: lang/ko

Update automation.md
  content/en/automation.md
Labels: lang/en

Update virtualization.md
  content/en/virtualization.md
Labels: lang/en

Update cloud_computing.md
  content/en/cloud_computing.md
Labels: lang/en

Update container storage interface
  content/en/container storage interface
Labels: lang/en

Add content/pt-br/application_programming_interface.md (#437)
  content/pt-br/application_programming_interface.md
Labels: lang/pt

Update debugging.md
  content/en/debugging.md
Labels: lang/en

Localize microservices.md for Korean
  content/ko/microservices.md
Labels: lang/ko

Added Shift Left English glossary entry
  content/en/shift_left.md
Labels: lang/en

Some minor updates to Shift Left formatting
  content/en/shift_left.md
Labels: lang/en

Some minor updates to Shift Left formatting
  content/en/shift_left.md
Labels: lang/en

Some minor updates to Shift Left text
  content/en/shift_left.md
Labels: lang/en

doc: add english term tranaslation
  content/ar/abstraction.md
Labels: lang/ar

Add content/ar/abstraction.md (#491)
  content/ar/abstraction.md
Labels: lang/ar

doc: add container.md localization to Arabic
  content/ar/container.md
Labels: lang/ar

doc: fix YAML syntax category field
  content/ar/container.md
Labels: lang/ar

Removed 1 (of 3) database in the 1st sentences
  content/en/database_as_a_service.md
Labels: lang/en

Add content/en/database as a service (#494)
  content/en/database_as_a_service.md
  wordlist.txt
Labels: lang/en

Delete automation
  content/en/automation.md
Labels: lang/en

.github/labeler.yml:

lang/ar:
- content/ar/*

lang/bn:
- content/bn/*

lang/de:
- content/de/*

lang/en:
- content/en/*

lang/es:
- content/es/*

lang/fr:
- content/fr/*

lang/it:
- content/it/*

lang/hi:
- content/hi/*

lang/ko:
- content/ko/*

lang/pt:
- content/pt-br/*

lang/zh:
- content/zh/*
