Repository cncf/glossary, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/ar, lang/bn, lang/de, lang/en, lang/es, lang/fr, lang/it, lang/hi, lang/ko, lang/pt, lang/zh

.github/labeler.yml:

lang/ar:
- content/ar/*

lang/bn:
- content/bn/*

lang/de:
- content/de/*

lang/en:
- content/en/*

lang/es:
- content/es/*

lang/fr:
- content/fr/*

lang/it:
- content/it/*

lang/hi:
- content/hi/*

lang/ko:
- content/ko/*

lang/pt:
- content/pt-br/*

lang/zh:
- content/zh/*

Update _index.md
  content/en/style-guide/_index.md
Labels: none

link
  content/en/chaos_engineering.md
Labels: lang/en

Add Chaos Engineering to the main Glossary - english version (#498)
  content/en/chaos_engineering.md
Labels: lang/en

Add Security Chaos Engineering to the main Glossary - english version (#357)
  content/en/security_chaos_engineering.md
  wordlist.txt
Labels: lang/en

Update content/pt-br/bare_metal_machine.md
  content/pt-br/bare_metal_machine.md
Labels: lang/pt

Update link reliability
  content/pt-br/continuous_delivery.md
Labels: lang/pt

Update content/en/shift_left.md based on suggestions
  content/en/shift_left.md
Labels: lang/en

Update content/en/style-guide/_index.md
  content/en/style-guide/_index.md
Labels: none

Added quality section (#542)
  content/en/style-guide/_index.md
Labels: none

Update digital certificate
  content/en/digital_certificate.md
Labels: lang/en

Update content/it/cluster.md
  content/it/cluster.md
Labels: lang/it

Update content/it/cluster.md
  content/it/cluster.md
Labels: lang/it

Update content/it/nodes.md
  content/it/nodes.md
Labels: lang/it

Update content/it/nodes.md
  content/it/nodes.md
Labels: lang/it

Update content/it/nodes.md
  content/it/nodes.md
Labels: lang/it

translation agile_software_development and devops (#356)
  content/it/agile_software_development.md
  content/it/devops.md
Labels: lang/it

traduzione cluster e nodi (#368)
  content/it/cluster.md
  content/it/nodes.md
Labels: lang/it

Update content/en/contribute/_index.md
  content/en/contribute/_index.md
Labels: none

Update content/en/contribute/_index.md
  content/en/contribute/_index.md
Labels: none

english issue template
  static/images/how-to/english-issue-template.png
Labels: none

submit issue
  static/images/how-to/submit-issue.png
Labels: none

Update issue screenshots
  content/en/contribute/_index.md
Labels: none

Delete duplicated issue template
  .github/ISSUE_TEMPLATE/en.yml
Labels: none

Update gitops.md
  content/en/gitops.md
Labels: lang/en

Add files via upload
  static/images/how-to/english-issue-template-new.png
Labels: none

Updated screenshot
  content/en/contribute/_index.md
Labels: none

Update _index.md
  content/en/contribute/_index.md
Labels: none

Update content/ko/monolithic_apps.md
  content/ko/monolithic_apps.md
Labels: lang/ko

Update content/ko/microservices.md
  content/ko/microservices.md
Labels: lang/ko

doc: language enhancment
  content/ar/container.md
Labels: lang/ar

first release debugging
  content/en/debugging.md
Labels: lang/en

Added middleware term to glossary
  .DS_Store
  content/.DS_Store
  content/en/middleware.md
Labels: lang/en

Create middleware.md
  content/en/middleware.md
Labels: lang/en

update api.md
  .hugo_build.lock
  content/hi/application_programming_interface.md
Labels: lang/hi

update api.md
  content/hi/application_programming_interface.md
Labels: lang/hi

chore: rev01
  content/es/devops.md
Labels: lang/es

feat: add content /es/devops
  content/es/devops.md
Labels: lang/es

chore: cola
  content/es/devops.md
Labels: lang/es

Remove container-image.md
  content/pt-br/container-image.md
Labels: lang/pt

Traduzido título
  content/pt-br/bare_metal_machine.md
Labels: lang/pt
