Repository cncf/glossary, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/ar, lang/bn, lang/de, lang/en, lang/es, lang/fr, lang/hi, lang/it, lang/ja, lang/ko, lang/pt, lang/tw, lang/zh

Update content/en/stateless-apps.md
  content/en/stateless-apps.md
Labels: lang/en

[fr] Localize reliability update
  content/fr/reliability.md
Labels: lang/fr

adding PR suggerences
  content/es/service-proxy.md
Labels: lang/es

[ES] added content/es/shift-left.md (#2081)
  content/es/.wordlist.txt
  content/es/shift-left.md
Labels: lang/es

[ES] Localize stateless app (#2015)
  content/es/.wordlist.txt
  content/es/stateless-apps.md
Labels: lang/es

Add Huats feedbacks
  content/fr/kubernetes.md
Labels: lang/fr

Update content/de/cluster.md
  content/de/cluster.md
Labels: lang/de

Update content/de/cluster.md
  content/de/cluster.md
Labels: lang/de

Update content/de/cluster.md
  content/de/cluster.md
Labels: lang/de

[FR] Microservice-architecture - caps fix
  content/fr/microservices-architecture.md
Labels: lang/fr

[fr] Virtualization - caps fix
  content/fr/virtualization.md
Labels: lang/fr

[FR] Nodes - caps fix
  content/fr/nodes.md
Labels: lang/fr

[FR] Distributed Apps - caps fix
  content/fr/distributed-apps.md
Labels: lang/fr

[FR] Distributed Apps - minor fixes
  content/fr/distributed-apps.md
Labels: lang/fr

Updates after reviews
  content/fr/auto-scaling.md
Labels: lang/fr

Updates after review
  content/fr/vertical-scaling.md
Labels: lang/fr

.github/labeler.yml:

lang/ar:
- content/ar/*

lang/bn:
- content/bn/*

lang/de:
- content/de/*

lang/en:
- content/en/*

lang/es:
- content/es/*

lang/fr:
- content/fr/*

lang/hi:
- content/hi/*

lang/it:
- content/it/*

lang/ja:
- content/ja/*

lang/ko:
- content/ko/*

lang/pt:
- content/pt-br/*

lang/tw:
- content/zh-tw/*

lang/zh:
- content/zh-cn/*
