Repository cncf/glossary, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/ar, lang/bn, lang/de, lang/en, lang/es, lang/fr, lang/it, lang/hi, lang/ko, lang/pt, lang/zh

.github/labeler.yml:

lang/ar:
- content/ar/*

lang/bn:
- content/bn/*

lang/de:
- content/de/*

lang/en:
- content/en/*

lang/es:
- content/es/*

lang/fr:
- content/fr/*

lang/it:
- content/it/*

lang/hi:
- content/hi/*

lang/ko:
- content/ko/*

lang/pt:
- content/pt-br/*

lang/zh:
- content/zh/*

Small edit
  content/en/chaos_engineering.md
Labels: lang/en

Fixed capitalization issue
  content/en/security_chaos_engineering.md
Labels: lang/en

Edits
  content/en/golden_signals.md
Labels: lang/en

new version with last changes
  content/en/chaos_engineering.md
Labels: lang/en

Add content/pt-br/blue_green_deployment.md (#436)
  content/pt-br/blue_green_deployment.md
Labels: lang/pt

doc: language enhancment
  content/ar/container.md
Labels: lang/ar

digital certificate
  content/en/digital_certificate.md
Labels: lang/en

Create demo-term.md
  content/demo-term.md
Labels: none

Remove bare_metal_machine.md file
  content/pt-br/bare_metal_machine.md
Labels: lang/pt

Adding issue triage to how-to
  content/en/contribute/_index.md
Labels: none

Added quality section
  content/en/style-guide/_index.md
Labels: none

add the end line
  content/zh/container.md
Labels: lang/zh

add the end line
  content/zh/container.md
Labels: lang/zh

Add "claiming an issue" screenshot
  static/images/how-to/claiming an issue.png
Labels: none

Add "issues and labels" image
  static/images/how-to/issue and labels.png
  static/images/how-to/issue and lables.png
Labels: none

Adding new how to
  content/en/contribute/_index.md
Labels: none

Added SRE and DevOps links
  content/en/chaos_engineering.md
Labels: lang/en

Add content/pt-br/continuous_delivery.md
  content/pt-br/continuous_delivery.md
Labels: lang/pt

adding the missing words
  wordlist.txt
Labels: none

Added links and made a few edits
  content/en/shift_left.md
Labels: lang/en

Removed 'afterthought' phrasing as recommended
  content/en/shift_left.md
Labels: lang/en

Added more definition around the concept of "left"
  content/en/shift_left.md
Labels: lang/en

Rename container storage interface to container_storage_interface.md
  content/en/container_storage_interface.md
Labels: lang/en

Delete automation.md
  content/en/automation.md
Labels: lang/en

Update container_storage_interface.md
  content/en/container_storage_interface.md
Labels: lang/en

Update wordlist.txt
  wordlist.txt
Labels: none

Update container_storage_interface.md
  content/en/container_storage_interface.md
Labels: lang/en

Update content/en/contribute/_index.md
  content/en/contribute/_index.md
Labels: none

Update content/en/contribute/_index.md
  content/en/contribute/_index.md
Labels: none

Update content/en/contribute/_index.md
  content/en/contribute/_index.md
Labels: none

Update content/en/contribute/_index.md
  content/en/contribute/_index.md
Labels: none

Update content/en/contribute/_index.md
  content/en/contribute/_index.md
Labels: none

Update content/en/contribute/_index.md
  content/en/contribute/_index.md
Labels: none

how-to images
  static/images/how-to/claiming an issue.png
Labels: none

How to file 2
  static/images/how-to/issue and labels.png
Labels: none

Delete claiming an issue.png
  static/images/how-to/claiming an issue.png
Labels: none

Delete issue and labels.png
  static/images/how-to/issue and labels.png
Labels: none

Add files via upload
  static/images/how-to/claiming-an-issue.png
Labels: none

Add files via upload
  static/images/how-to/issue-and-labels.png
Labels: none

Update content/en/style-guide/_index.md
  content/en/style-guide/_index.md
Labels: none
