Repository cncf/glossary, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/ar, lang/bn, lang/de, lang/en, lang/es, lang/fr, lang/hi, lang/it, lang/ja, lang/ko, lang/pt, lang/tw, lang/zh

.github/labeler.yml:

lang/ar:
- content/ar/*

lang/bn:
- content/bn/*

lang/de:
- content/de/*

lang/en:
- content/en/*

lang/es:
- content/es/*

lang/fr:
- content/fr/*

lang/hi:
- content/hi/*

lang/it:
- content/it/*

lang/ja:
- content/ja/*

lang/ko:
- content/ko/*

lang/pt:
- content/pt-br/*

lang/tw:
- content/zh-tw/*

lang/zh:
- content/zh-cn/*

doc changed
  content/en/_index.md
Labels: lang/en

[fr] Localize Bare Metal Machine
  content/fr/bare-metal-machine.md
Labels: lang/fr

[fr] Localize Bare Metal Machine
  content/fr/bare-metal-machine.md
Labels: lang/fr

Traduction de Loosely Coupled Architecture into French
  content/fr/loosely-coupled-architectures.md
Labels: lang/fr

Fix comments from Ludo, Flavien and Stéphane
  content/fr/scalability.md
Labels: lang/fr

[fr] Localize Virtualization
  content/fr/virtualization.md
Labels: lang/fr

[fr] Localize Virtualization
  content/fr/virtualization.md
Labels: lang/fr

[FR] localize Nodes
  content/fr/nodes.md
Labels: lang/fr

[FR] localize Nodes
  content/fr/nodes.md
Labels: lang/fr

Update content/en/_index.md
  content/en/_index.md
Labels: lang/en

Update content/en/_index.md
  content/en/_index.md
Labels: lang/en

Added a procedure to join the CNCF Slack workspace on main page (#2141)
  content/en/_index.md
Labels: lang/en

[FR] localize Distributed Apps
  content/fr/distributed-apps.md
Labels: lang/fr

Update settings.yml for Tr and Bn approvers
  .github/settings.yml
Labels: none

Update content/en/webassembly.md
  content/en/webassembly.md
Labels: lang/en

Update content/en/webassembly.md
  content/en/webassembly.md
Labels: lang/en

Update content/en/cloud-computing.md
  content/en/cloud-computing.md
Labels: lang/en

Update content/en/cloud-computing.md
  content/en/cloud-computing.md
Labels: lang/en

Update content/en/cloud-computing.md
  content/en/cloud-computing.md
Labels: lang/en

Update content/en/cloud-computing.md
  content/en/cloud-computing.md
Labels: lang/en

Update content/en/cloud-computing.md
  content/en/cloud-computing.md
Labels: lang/en

Update CODEOWNERS
  CODEOWNERS
Labels: none

Update settings.yml for Tr and Bn approvers (#2151)
  .github/settings.yml
Labels: none

Localize Tightly Coupled Architectures for Japanese
  content/ja/tightly-coupled-architectures.md
Labels: lang/ja

localize tightly-coupled-architectures for japanese
  content/ja/tightly-coupled-architectures.md
Labels: lang/ja

Update content/en/runtime.md
  content/en/runtime.md
Labels: lang/en

Update content/en/runtime.md
  content/en/runtime.md
Labels: lang/en

Add content/en/configuration-management.md
  content/en/configuration-management.md
Labels: lang/en

Update content/en/cloud-computing.md
  content/en/cloud-computing.md
Labels: lang/en

Added Zero Trust Architecture Italian localization
  content/it/zero-trust-architecture.md
Labels: lang/it

Initialize cluster into French
  content/fr/cluster.md
Labels: lang/fr

Add sestegra feedbacks
  content/fr/kubernetes.md
Labels: lang/fr

Add content/zh-tw/continuous-integration.md
  content/zh-tw/continuous-integration.md
Labels: lang/tw

Create service discovery.md
  content/hi/service discovery.md
Labels: lang/hi

Create service discovery.md
  content/hi/service discovery.md
Labels: lang/hi

Added Edge computing in Hindi
  content/hi/edge-computing.md
Labels: lang/hi

Update content/de/cluster.md
  content/de/cluster.md
Labels: lang/de

Update content/de/cluster.md
  content/de/cluster.md
Labels: lang/de

Update content/de/cluster.md
  content/de/cluster.md
Labels: lang/de

Update content/de/cluster.md
  content/de/cluster.md
Labels: lang/de
