Repository cncf/glossary, pull requests merged in 2022-12, with the labels that each got.

#1496 Add /pt-br/devsecops.md
  content/pt-br/devsecops.md
Labels: lang/pt

#1429 Add /content/pt-br/nodes.md
  content/pt-br/nodes.md
Labels: lang/pt

#1459 Create event-streaming.md
  content/pt-br/event-streaming.md
Labels: lang/pt

#1058 [ptbr] Translate i18n strings used in tags
  i18n/pt-br.toml
Labels: lang/pt

#1485 Update kubernetes term
  content/es/.wordlist.txt
  content/es/kubernetes.md
Labels: lang/es

#1484 Update infrastructure as code
  content/es/immutable-infrastructure.md
  content/es/infrastructure-as-code.md
  content/es/infrastructure_as_code.md
Labels: lang/es

#1483 Update index
  content/es/.wordlist.txt
  content/es/_index.md
Labels: lang/es

#1482 Update gitops term
  content/es/gitops.md
Labels: lang/es

#1481 Update event driven architecture
  content/es/event-driven-architecture.md
Labels: lang/es

#1480 Update containerization term
  content/es/containerization.md
Labels: lang/es

#1479 Update continuous delivery term
  content/es/continuous-delivery.md
Labels: lang/es

#1468 Create PT-BT version of platform-as-a-service.md
  content/pt-br/platform-as-a-service.md
Labels: lang/pt

#1500 [zh] Update Chinese version in main with dev-zh
  content/zh-cn/api-gateway.md
  content/zh-cn/bare-metal-machine.md
  content/zh-cn/chaos-engineering.md
  content/zh-cn/cloud-native-apps.md
  content/zh-cn/container-orchestration.md
  content/zh-cn/containerization.md
  content/zh-cn/containers-as-a-service.md
  content/zh-cn/devops.md
  content/zh-cn/distributed-systems.md
  content/zh-cn/event-driven-architecture.md
  content/zh-cn/horizontal-scaling.md
  content/zh-cn/infrastructure-as-a-service.md
  content/zh-cn/infrastructure-as-code.md
  content/zh-cn/kubernetes.md
  content/zh-cn/managed-services.md
  content/zh-cn/microservices.md
  content/zh-cn/mutual-transport-layer-security.md
  content/zh-cn/observability.md
  content/zh-cn/platform-as-a-service.md
  content/zh-cn/policy-as-code.md
  content/zh-cn/portability.md
  content/zh-cn/scalability.md
  content/zh-cn/security-chaos-engineering.md
  content/zh-cn/service.md
  content/zh-cn/software-as-a-service.md
  content/zh-cn/stateful-apps.md
  content/zh-cn/stateless-apps.md
  content/zh-cn/tightly-coupled-architectures.md
  content/zh-cn/transport-layer-security.md
  content/zh-cn/vertical-scaling.md
  content/zh-cn/virtual-machine.md
Labels: maintainers, lang/zh

#1501 [zh] sync immutable-infrastructure.md in Chinese
  content/zh-cn/immutable-infrastructure.md
Labels: lang/zh

#1449 Updating tags
  content/en/abstraction.md
  content/en/application-programming-interface.md
  content/en/auto-scaling.md
  content/en/blue-green-deployment.md
  content/en/canary-deployment.md
  content/en/chaos-engineering.md
  content/en/client-server-architecture.md
  content/en/cloud-computing.md
  content/en/cloud-native-apps.md
  content/en/cloud-native-tech.md
  content/en/cluster.md
  content/en/container.md
  content/en/containers-as-a-service.md
  content/en/continuous-delivery.md
  content/en/data-center.md
  content/en/debugging.md
  content/en/devsecops.md
  content/en/digital-certificate.md
  content/en/event-driven-architecture.md
  content/en/event-streaming.md
  content/en/firewall.md
  content/en/function-as-a-service.md
  content/en/gitops.md
  content/en/idempotence.md
  content/en/immutable-infrastructure.md
  content/en/infrastructure-as-code.md
  content/en/kubernetes.md
  content/en/load-balancer.md
  content/en/loosely-coupled-architecture.md
  content/en/managed-services.md
  content/en/microservices.md
  content/en/monolithic-apps.md
  content/en/multitenancy.md
  content/en/mutual-transport-layer-security.md
  content/en/nodes.md
  content/en/observability.md
  content/en/platform-as-a-service.md
  content/en/policy-as-code.md
  content/en/portability.md
  content/en/reliability.md
  content/en/scalability.md
  content/en/security-chaos-engineering.md
  content/en/self-healing.md
  content/en/serverless.md
  content/en/service.md
  content/en/software-as-a-service.md
  content/en/stateful-apps.md
  content/en/stateless-apps.md
  content/en/tightly-coupled-architectures.md
  content/en/transport-layer-security.md
  content/en/version-control.md
  content/en/virtual-machine.md
  content/en/virtualization.md
Labels: lang/en, maintainers

#1458 [Spanish] localize 'Debugging
  content/es/.wordlist.txt
  content/es/debugging.md
Labels: lang/es

#1499 [Spanish] localize 'Digital Certificate
  content/es/.wordlist.txt
  content/es/digital-certificate.md
Labels: lang/es

#1029 Added chaos_engineering localization for ES
  content/es/.wordlist.txt
  content/es/chaos_engineering.md
Labels: lang/es

#1442 Enable labeler to non-korean languages
  .github/workflows/labeler.yml
Labels: maintainers

#1436 [it] Localizzazione termine Firewall
  content/it/firewall.md
Labels: lang/it

#1523 Deprecating debugging
  content/en/debugging.md
Labels: lang/en, maintainers

#1467 Add glossary / content / en /edge-computing.md
  content/en/edge-computing.md
Labels: lang/en

#1534 Style guide update
  content/en/style-guide/_index.md
Labels: lang/en, maintainers
