Repository cncf/glossary, pull requests merged in 2022-11, with the labels that each got.

#1386 [ES]Localization managed services / Passing Checks
  content/es/.wordlist.txt
  content/es/managed-services.md
Labels: lang/es

#1430 Add /content/pt-br/distributed-apps.md
  content/pt-br/distributed-apps.md
Labels: lang/pt

#1434 fix filename
  content/de/application-programming-interface.md
Labels: lang/de

#1440 [Spanish] localize 'Event Streaming'
  content/es/.wordlist.txt
  content/es/event-streaming.md
Labels: lang/es

#1392 Update devops term
  content/es/devops.md
Labels: lang/es

#1391 Update continuous integration term
  content/es/continuous-integration.md
Labels: lang/es

#1388 Update cluster term
  content/es/cluster.md
Labels: lang/es

#1389 Update container image term
  content/es/container-image.md
Labels: lang/es

#1342 [DE] Localization of Blue Green Deployment
  content/de/blue-green-deployment.md
Labels: lang/de

#1427 Create Spanish localization for event-driven-architecture.md
  content/es/.wordlist.txt
  content/es/event-driven-architecture.md
Labels: lang/es

#1424 [Spanish] localize 'Platform as a Service (PaaS)' #1400
  content/es/.wordlist.txt
  content/es/platform-as-a-service.md
Labels: lang/es

#1447 Spanish localization for content/en/reliability.md
  content/es/reliability.md
Labels: lang/es

#1390 Update continuous delivery term
  content/es/continuous-delivery.md
Labels: lang/es

#1437 Update dev-it approver
  .github/settings.yml
  CODEOWNERS
Labels: lang/it, maintainers

#1420 [it] Localizzazione termine Self Healing
  content/it/self-healing.md
Labels: lang/it

#1464 Add bcubk as German localization approver
  .github/settings.yml
  CODEOWNERS
Labels: maintainers

#1469 [zh] sync software-as-a-service.md in Chinese
  content/zh-cn/software-as-a-service.md
Labels: lang/zh

#1463 Merge dev-de into main (for the first German localization live version)
  config.toml
  content/de/_index.md
  content/de/abstraction.md
  content/de/agile-software-development.md
  content/de/api-gateway.md
  content/de/application-programming-interface.md
  content/de/autoscaling.md
  content/de/blue-green-deployment.md
  content/de/canary-deployment.md
  content/de/cloud-computing.md
  content/de/cloud-native-apps.md
  content/de/cloud-native-security.md
  content/de/cloud-native-tech.md
  content/de/contribute/_index.md
  content/de/style-guide/_index.md
  i18n/de.toml
Labels: lang/de, maintainers

#1385 Add content/en/hypervisor
  content/en/hypervisor.md
Labels: lang/en

#1470 [zh] sync stateful-apps.md in Chinese
  content/zh-cn/stateful-apps.md
Labels: lang/zh

#1454 Localized `content/bn/blue-green-deployment.md` to Bengali
  content/bn/blue-green-deployment.md
Labels: lang/bn

#993 Add content/en/container-orchestration.md
  content/en/container-orchestration.md
  wordlist.txt
Labels: lang/en

#1489 Update layout and remove redundancy in digital-certificate.md
  content/en/digital-certificate.md
Labels: enhancement, lang/en, update term

#1495 Update dev-pt with main branch
  .github/pull_request_template.md
  .github/settings.yml
  .github/workflows/check-outdated-terms.yaml
  .github/workflows/es-spellcheck.yml
  .github/workflows/post-outdated-terms-report.yaml
  .github/workflows/spellcheck.yml
  CODEOWNERS
  config.toml
  content/bn/_index.md
  content/de/_index.md
  content/de/abstraction.md
  content/de/agile-software-development.md
  content/de/api-gateway.md
  content/de/application-programming-interface.md
  content/de/autoscaling.md
  content/de/blue-green-deployment.md
  content/de/canary-deployment.md
  content/de/cloud-computing.md
  content/de/cloud-native-apps.md
  content/de/cloud-native-security.md
  content/de/cloud-native-tech.md
  content/de/contribute/_index.md
  content/de/style-guide/_index.md
  content/en/_index.md
  content/en/container-orchestration.md
  content/en/database-as-a-service.md
  content/en/digital-certificate.md
  content/en/event-streaming.md
  content/en/hypervisor.md
  content/en/policy-as-code.md
  content/es/_index.md
  content/hi/_index.md
  content/it/_index.md
  content/ko/_TEMPLATE.md
  content/ko/_index.md
  content/ko/abstraction.md
  content/ko/idempotence.md
  content/pt-br/_index.md
  content/zh-cn/_index.md
  i18n/de.toml
  layouts/partials/head.html
  static/images/homepage/kubecon.jpg
  wordlist.txt
Labels: lang/pt, maintainers

#1439 [Spanish] localize 'Policy as Code (PaC)'
  content/es/.wordlist.txt
  content/es/policy-as-code.md
Labels: lang/es
