Repository cncf/glossary, pull requests merged in 2022-04, with the labels that each got.

#672 fixed typo in en/content/contribute/_index.md
  content/en/contribute/_index.md
Labels: lang/en

#676 [zh] localize virtual_machine.md & virtualization.md
  content/zh/virtual_machine.md
  content/zh/virtualization.md
Labels: lang/zh

#684 [zh] Localize blue_green_development & canary_development
  content/zh/blue_green_deployment.md
  content/zh/canary_deployment.md
Labels: lang/zh

#586 Localization Reliability
  content/it/reliability.md
Labels: lang/it

#677 [pt-BR] Update config.toml
  config.toml
Labels: maintainers

#699 [zh] Localize distributed_app & distributed_systems
  content/zh/distributed_apps.md
  content/zh/distributed_systems.md
Labels: lang/zh

#703 localize devops.md
  content/zh/devops.md
Labels: lang/zh

#692 chore: update dev-es branch with main branch
  .github/settings.yml
  CODEOWNERS
  config.toml
  content/en/contribute/_index.md
  content/en/debugging.md
  content/en/firewall.md
  content/en/kubernetes.md
  content/es/.wordlist.txt
  content/es/agile_software_development.md
  content/hi/_TEMPLATE.md
  content/hi/_index.md
  content/hi/abstraction.md
  content/hi/agile_software_development.md
  content/hi/auto_scaling.md
  content/hi/canary_deployment.md
  content/hi/cloud_native_tech.md
  content/hi/container-image.md
  content/hi/container.md
  content/hi/containerization.md
  content/hi/continuous_delivery.md
  content/hi/continuous_integration.md
  content/hi/contribute/_index.md
  content/hi/contributor-ladder/_index.md
  content/hi/devops.md
  content/hi/style-guide/_index.md
  i18n/hi.toml
Labels: lang/es, maintainers

#709 [pt-BR] Update dev-pt with main branch
  .github/ISSUE_TEMPLATE/en.yml
  .github/ISSUE_TEMPLATE/new-term.yml
  .github/settings.yml
  .github/workflows/labeler.yml
  .github/workflows/spellcheck.yml
  CODEOWNERS
  CONTRIBUTING.md
  README.md
  content/en/automation.md
  content/en/bare_metal_machine.md
  content/en/chaos_engineering.md
  content/en/client_server_architecture.md
  content/en/cloud_native_tech.md
  content/en/contribute/_index.md
  content/en/database_as_a_service.md
  content/en/debugging.md
  content/en/firewall.md
  content/en/horizontal_scaling.md
  content/en/idempotence.md
  content/en/kubernetes.md
  content/en/security_chaos_engineering.md
  content/en/shift_left.md
  content/en/style-guide/_index.md
  content/hi/_TEMPLATE.md
  content/hi/_index.md
  content/hi/abstraction.md
  content/hi/agile_software_development.md
  content/hi/auto_scaling.md
  content/hi/canary_deployment.md
  content/hi/cloud_native_tech.md
  content/hi/container-image.md
  content/hi/container.md
  content/hi/containerization.md
  content/hi/continuous_delivery.md
  content/hi/continuous_integration.md
  content/hi/contribute/_index.md
  content/hi/contributor-ladder/_index.md
  content/hi/devops.md
  content/hi/style-guide/_index.md
  english-issue-template.jpg
  i18n/en.toml
  i18n/hi.toml
  layouts/partials/feedback.html
  static/images/how-to/claiming-an-issue.png
  static/images/how-to/english-issue-template-new.png
  static/images/how-to/english-issue-template.jpg
  static/images/how-to/issue-and-labels.png
  static/images/how-to/submit-issue.png
  wordlist.txt
Labels: lang/pt, maintainers

#713 [zh] update dev-zh with main
  .github/ISSUE_TEMPLATE/en.yml
  .github/ISSUE_TEMPLATE/new-term.yml
  .github/settings.yml
  .github/workflows/labeler.yml
  .github/workflows/spellcheck.yml
  CODEOWNERS
  CONTRIBUTING.md
  README.md
  config.toml
  content/en/automation.md
  content/en/bare_metal_machine.md
  content/en/chaos_engineering.md
  content/en/client_server_architecture.md
  content/en/contribute/_index.md
  content/en/database_as_a_service.md
  content/en/debugging.md
  content/en/firewall.md
  content/en/horizontal_scaling.md
  content/en/idempotence.md
  content/en/kubernetes.md
  content/en/security_chaos_engineering.md
  content/en/shift_left.md
  content/en/style-guide/_index.md
  content/hi/_TEMPLATE.md
  content/hi/_index.md
  content/hi/abstraction.md
  content/hi/agile_software_development.md
  content/hi/auto_scaling.md
  content/hi/canary_deployment.md
  content/hi/cloud_native_tech.md
  content/hi/container-image.md
  content/hi/container.md
  content/hi/containerization.md
  content/hi/continuous_delivery.md
  content/hi/continuous_integration.md
  content/hi/contribute/_index.md
  content/hi/contributor-ladder/_index.md
  content/hi/devops.md
  content/hi/style-guide/_index.md
  english-issue-template.jpg
  i18n/en.toml
  i18n/hi.toml
  i18n/zh.toml
  layouts/partials/feedback.html
  static/images/how-to/claiming-an-issue.png
  static/images/how-to/english-issue-template-new.png
  static/images/how-to/english-issue-template.jpg
  static/images/how-to/issue-and-labels.png
  static/images/how-to/submit-issue.png
  wordlist.txt
Labels: maintainers, lang/zh

#691 [bn] Localize content\bn\_TEMPLATE.md
  content/bn/_TEMPLATE.md
Labels: lang/bn

#712 [de] Fix typo in _index.md
  content/de/_index.md
Labels: lang/de

#661 [de] translation for agile software dev
  content/de/agile_software_development.md
Labels: lang/de

#708 [ar] Translate "Containerization.md" into Arabic
  content/ar/containerization.md
Labels: lang/ar

#719 [en] Mention container orchestrator in k8s def
  content/en/kubernetes.md
Labels: lang/en

#693 add managed services localization
  content/it/managed_services.md
Labels: lang/it

#441 Add content/en/continuous_deployment.md
  content/en/continuous_deployment.md
Labels: lang/en

#710 [pt-BR] Translate feedback section
  i18n/pt-br.toml
Labels: lang/pt, maintainers

#658 [en] Fix: missing parts of container-image.md
  content/en/container-image.md
Labels: lang/en

#675 Merge dev-pt into main
  config.toml
  content/pt-br/_index.md
  content/pt-br/api_gateway.md
  content/pt-br/application_programming_interface.md
  content/pt-br/bare_metal_machine.md
  content/pt-br/blue_green_deployment.md
  content/pt-br/canary_deployment.md
  content/pt-br/client_server_architecture.md
  content/pt-br/cloud_native_apps.md
  content/pt-br/cloud_native_security.md
  content/pt-br/cluster.md
  content/pt-br/container-image.md
  content/pt-br/container.md
  content/pt-br/containerization.md
  content/pt-br/continuous_delivery.md
  content/pt-br/continuous_integration.md
  content/pt-br/contribute/_index.md
  content/pt-br/contributor-ladder/_index.md
  content/pt-br/devops.md
  content/pt-br/style-guide/_index.md
  i18n/pt-br.toml
Labels: lang/pt, maintainers

#459 VM Translation to It
  content/it/virtual-machine.md
Labels: lang/it

#612 Term/microservices
  content/it/microservices.md
Labels: lang/it

#694 Es loadbalancer
  content/es/.wordlist.txt
  content/es/load_balancer.md
Labels: lang/es

#729 Merge main to dev-it
  .github/workflows/spellcheck.yml
  config.toml
  content/en/container-image.md
  content/en/continuous_deployment.md
  content/en/kubernetes.md
  content/hi/_TEMPLATE.md
  content/hi/_index.md
  content/hi/abstraction.md
  content/hi/agile_software_development.md
  content/hi/auto_scaling.md
  content/hi/canary_deployment.md
  content/hi/cloud_native_tech.md
  content/hi/container-image.md
  content/hi/container.md
  content/hi/containerization.md
  content/hi/continuous_delivery.md
  content/hi/continuous_integration.md
  content/hi/contribute/_index.md
  content/hi/contributor-ladder/_index.md
  content/hi/devops.md
  content/hi/style-guide/_index.md
  content/pt-br/_index.md
  content/pt-br/api_gateway.md
  content/pt-br/application_programming_interface.md
  content/pt-br/bare_metal_machine.md
  content/pt-br/blue_green_deployment.md
  content/pt-br/canary_deployment.md
  content/pt-br/client_server_architecture.md
  content/pt-br/cloud_native_apps.md
  content/pt-br/cloud_native_security.md
  content/pt-br/cluster.md
  content/pt-br/container-image.md
  content/pt-br/container.md
  content/pt-br/containerization.md
  content/pt-br/continuous_delivery.md
  content/pt-br/continuous_integration.md
  content/pt-br/contribute/_index.md
  content/pt-br/contributor-ladder/_index.md
  content/pt-br/devops.md
  content/pt-br/style-guide/_index.md
  i18n/pt-br.toml
Labels: lang/it, maintainers

#720 [bn] Need to add approvers for Bengali Localization
  .github/settings.yml
  CODEOWNERS
Labels: lang/bn, maintainers

#738 [pt-br] Update links in 'dev-pt'
  content/pt-br/_index.md
  content/pt-br/api_gateway.md
  content/pt-br/application_programming_interface.md
  content/pt-br/bare_metal_machine.md
  content/pt-br/cloud_native_security.md
  content/pt-br/cluster.md
  content/pt-br/containerization.md
  content/pt-br/continuous_delivery.md
  content/pt-br/continuous_integration.md
  content/pt-br/contribute/_index.md
  content/pt-br/contributor-ladder/_index.md
  content/pt-br/style-guide/_index.md
Labels: lang/pt, maintainers

#443 Translate content/pt/auto_scaling.md to portuguese
  content/pt-br/abstraction.md
  content/pt-br/agile_software_development.md
  content/pt-br/auto_scaling.md
Labels: lang/pt

#739 Fix/titles localization it
  content/it/cloud_native_tech.md
  content/it/infrastructure_as_code.md
  i18n/it.toml
Labels: lang/it, maintainers

#740 [en] Update links in 'content/en'
  content/en/abstraction.md
  content/en/chaos_engineering.md
  content/en/containers_as_a_service.md
  content/en/contribute/_index.md
  content/en/contributor-ladder/_index.md
  content/en/database_as_a_service.md
  content/en/distributed_apps.md
  content/en/function_as_a_service.md
  content/en/mTLS (Mutual Transport Layer Security).md
  content/en/monolithic_apps.md
  content/en/security_chaos_engineering.md
  content/en/service.md
  content/en/shift_left.md
  content/en/stateful_apps.md
  content/en/style-guide/_index.md
  content/en/virtual_machine.md
Labels: lang/en, maintainers

#735 merge dev-it to main
  config.toml
  content/it/_index.md
  content/it/abstraction.md
  content/it/agile_software_development.md
  content/it/cloud_native_tech.md
  content/it/cluster.md
  content/it/contribute/_index.md
  content/it/devops.md
  content/it/infrastructure_as_code.md
  content/it/managed_services.md
  content/it/microservices.md
  content/it/nodes.md
  content/it/reliability.md
  content/it/site_reliability_engineering.md
  content/it/style-guide/_index.md
  content/it/virtual-machine.md
  i18n/it.toml
Labels: lang/it, maintainers

#746 [zh] Localize service_mesh & service_proxy
  content/zh/service_mesh.md
  content/zh/service_proxy.md
Labels: lang/zh

#718 chore: Add feedback templating
  i18n/de.toml
Labels: lang/de

#744 Update issue template for updating a term
  .github/ISSUE_TEMPLATE/update-term.yml
Labels: documentation, maintainers

#750 [bn] Localize `content/bn/style-guide/_index.md `
  content/bn/style-guide/_index.md
Labels: lang/bn

#751 [bn] Updated content/bn/style-guide/_index.md
  content/bn/style-guide/_index.md
Labels: lang/bn

#753 [bn] Update `content/bn/style-guide/_index.md`
  content/bn/style-guide/_index.md
Labels: lang/bn

#754 [bn] Updated the _index.md
  content/bn/style-guide/_index.md
Labels: lang/bn

#737 [hi] Update links in 'dev-hi'
  content/hi/auto_scaling.md
  content/hi/containerization.md
  content/hi/continuous_delivery.md
  content/hi/continuous_integration.md
  content/hi/contribute/_index.md
  content/hi/contributor-ladder/_index.md
  content/hi/style-guide/_index.md
Labels: lang/hi, maintainers

#752 localize scalability.md
  content/zh/scalability.md
Labels: lang/zh

#698 [ESP] add content/es/api_gateway.md
  content/es/.wordlist.txt
  content/es/api_gateway.md
Labels: lang/es

#689 feat: add content es/bare_metal_machine
  content/es/.wordlist.txt
  content/es/agile_software_development.md
  content/es/bare_metal_machine.md
  content/es/cloud_computing.md
  content/es/devops.md
  content/es/style-guide/_index.md
  i18n/es.toml
Labels: lang/es

#731 [de] Fix template title for agile software dev
  content/de/agile_software_development.md
Labels: lang/de

#724 feat/localize kubernetes #608
  content/es/.wordlist.txt
  content/es/kubernetes.md
Labels: lang/es

#726 [ko] Translate 'DevOps' into Korean
  content/ko/devops.md
Labels: lang/ko

#742 [ko] Translate 'Containerization' into Korean
  content/ko/containerization.md
Labels: lang/ko

#743 [ko] Translate 'Cloud Native Apps' into Korean
  content/ko/cloud_native_apps.md
Labels: lang/ko

#747 [ko] Translate 'How To Contribute' into Korean
  content/ko/contribute/_index.md
Labels: lang/ko

#774 [ko] Update outdated contents in dev-ko and add title reference
  content/ko/_index.md
  content/ko/cloud_computing.md
  content/ko/cloud_native_apps.md
  content/ko/cloud_native_tech.md
  content/ko/container.md
  content/ko/containerization.md
  content/ko/microservices.md
  content/ko/monolithic_apps.md
  content/ko/virtual_machine.md
Labels: lang/ko

#770 [ko] Add contributor-ladder for Korean
  content/ko/contributor-ladder/_index.md
Labels: lang/ko

#681 [hi] titles & links updated
  content/hi/abstraction.md
  content/hi/agile_software_development.md
  content/hi/auto_scaling.md
  content/hi/canary_deployment.md
  content/hi/cloud_native_tech.md
  content/hi/container-image.md
  content/hi/container.md
  content/hi/containerization.md
  content/hi/continuous_delivery.md
  content/hi/continuous_integration.md
  content/hi/devops.md
Labels: lang/hi

#766 feat(glossary): blue green deployment
  content/es/.wordlist.txt
  content/es/blue_green_deployment.md
Labels: lang/es

#787 Fix rebase typos in dev-pt
  config.toml
  content/pt-br/contributor-ladder/_index.md
Labels: lang/pt

#785 How-to and style guide updates
  content/en/contribute/_index.md
  content/en/style-guide/_index.md
Labels: documentation, maintainers

#786 Add references to related terms
  content/en/auto_scaling.md
  content/en/continuous_delivery.md
  content/en/continuous_deployment.md
  content/en/continuous_integration.md
  content/en/horizontal_scaling.md
  content/en/vertical_scaling.md
Labels: lang/en

#784 Adding maintainers to Glossary landing page
  content/en/_index.md
  wordlist.txt
Labels: maintainers

#793 [zh] Localize zero-trust-architecture.md
  content/zh/zero_trust_architecture.md
Labels: lang/zh

#768 [zh] Localize microservices.md & monolithic_apps.md
  content/zh/microservices.md
  content/zh/monolithic_apps.md
Labels: lang/zh

#791 [Spanish] localize 'Infrastructure as Code (IaC)
  content/es/.wordlist.txt
  content/es/infrastructure_as_code.md
Labels: lang/es

#790 Fix paths to pt-br and improve cloud native apps translation
  content/pt-br/bare_metal_machine.md
  content/pt-br/cloud_native_security.md
  content/pt-br/continuous_delivery.md
Labels: lang/pt

#789 Merge dev-pt in main
  content/pt-br/_index.md
  content/pt-br/abstraction.md
  content/pt-br/agile_software_development.md
  content/pt-br/api_gateway.md
  content/pt-br/application_programming_interface.md
  content/pt-br/auto_scaling.md
  content/pt-br/bare_metal_machine.md
  content/pt-br/cloud_native_security.md
  content/pt-br/cluster.md
  content/pt-br/containerization.md
  content/pt-br/continuous_delivery.md
  content/pt-br/continuous_integration.md
  content/pt-br/contribute/_index.md
  content/pt-br/contributor-ladder/_index.md
  content/pt-br/style-guide/_index.md
Labels: lang/pt, maintainers

#800 [ko] Update index page with acknowledgement to Korean contributors
  content/ko/_index.md
Labels: lang/ko

#795 [fix] Translate all category template fields
  content/es/.wordlist.txt
  content/es/abstraction.md
  content/es/agile_software_development.md
  content/es/api_gateway.md
  content/es/bare_metal_machine.md
  content/es/blue_green_deployment.md
  content/es/cloud_computing.md
  content/es/devops.md
  content/es/infrastructure_as_code.md
  content/es/kubernetes.md
  content/es/load_balancer.md
  content/es/observability.md
  content/es/style-guide/_index.md
Labels: lang/es

#801 Merge dev-ko into main (for the first Korean localization live version)
  config.toml
  content/ko/_index.md
  content/ko/cloud_computing.md
  content/ko/cloud_native_apps.md
  content/ko/cloud_native_tech.md
  content/ko/container.md
  content/ko/containerization.md
  content/ko/contribute/_index.md
  content/ko/contributor-ladder/_index.md
  content/ko/devops.md
  content/ko/microservices.md
  content/ko/monolithic_apps.md
  content/ko/service_mesh.md
  content/ko/style-guide/_index.md
  content/ko/virtual_machine.md
  i18n/ko.toml
Labels: lang/ko

#732 Add german translation for API Gateway
  content/de/api_gateway.md
Labels: lang/de
