Repository cncf/glossary, pull requests merged in 2022-07, with the labels that each got.

#1022 [ptbr] Update links in the definitions
  content/pt-br/cloud-native-apps.md
  content/pt-br/cloud-native-tech.md
  content/pt-br/containerization.md
  content/pt-br/data-center.md
  content/pt-br/serverless.md
  content/pt-br/stateful-apps.md
  content/pt-br/vertical-scaling.md
  content/pt-br/virtual-machine.md
Labels: lang/pt

#983 [es] Localize cloud-native-apps.md
  content/es/.wordlist.txt
  content/es/bare_metal_machine.md
  content/es/cloud-native-apps.md
  content/es/infrastructure_as_code.md
Labels: lang/es

#1023 Update settings for maintainers
  .github/settings.yml
Labels: maintainers

#623 Term/tls
  content/it/tls.md
Labels: lang/it

#615 Term/blue green deployment
  content/it/blue-green-deployment.md
Labels: lang/it

#1004 expands and refines o11y definition
  content/en/observability.md
Labels: lang/en, update term

#1050 Get Search working on PR instance
  config.toml
Labels: maintainers

#1008 [en] Modify `load-balancer.md`
  content/en/load-balancer.md
Labels: lang/en

#783 Add content/pt-br/tightly_coupled_architectures.md
  content/pt-br/tightly-coupled-architectures.md
Labels: lang/pt

#1053 [zh]translate `loosely coupled architecture`
  content/zh-cn/loosely-coupled-architecture.md
Labels: lang/zh

#990 [DE] Take Over Cloud Native Security localization
  content/de/cloud-native-security.md
Labels: lang/de

#1075 add some guidelines for localization teams
  LOCALIZATION.md
Labels: maintainers

#1066 remove adrianna from all files
  .github/settings.yml
  CODEOWNERS
Labels: lang/de, maintainers

#391 New branch and translation for term/service
  content/it/service.md
Labels: lang/it

#616 Term/canary deployment
  content/it/canary-deployment.md
Labels: lang/it

#1061 [zh]Translate versioncontrol
  content/zh-cn/version-control.md
Labels: lang/zh

#1051 [es] Localize cloud-native-security.md
  content/es/.wordlist.txt
  content/es/cloud-native-security.md
Labels: lang/es

#1054 [zh]translate `tightly coupled architectures`
  content/zh-cn/tightly-coupled-architectures.md
Labels: lang/zh

#1089 [zh]translate continuous deployment
  content/zh-cn/continuous-deployment.md
Labels: lang/zh

#1088 [zh]update related term refer to the original
  content/zh-cn/continuous-delivery.md
  content/zh-cn/continuous-integration.md
Labels: lang/zh

#1087 [it] localizzazione termine devsecops
  content/it/devsecops.md
Labels: lang/it

#1081 Glossary style tweaks
  assets/scss/_archive.scss
  assets/scss/_buttons.scss
  assets/scss/_categories.scss
  assets/scss/_footer.scss
  assets/scss/_hamburger.scss
  assets/scss/_header.scss
  assets/scss/_main.scss
  assets/scss/_search.scss
  assets/scss/_sidebar-left.scss
  assets/scss/_sidebar-right.scss
  assets/scss/_styles_project.scss
  assets/scss/_taxonomy.scss
  assets/scss/_typography.scss
  assets/scss/_variables_project.scss
  layouts/_default/search.html
  layouts/partials/feedback.html
  layouts/partials/footer.html
  layouts/partials/navbar-lang-selector.html
  layouts/partials/navbar.html
  layouts/partials/search-input.html
  layouts/partials/sidebar-tree.html
Labels: maintainers

#1037 [ko] Add tags to each localized term
  content/ko/cloud-computing.md
  content/ko/cloud-native-apps.md
  content/ko/cloud-native-tech.md
  content/ko/container.md
  content/ko/containerization.md
  content/ko/devops.md
  content/ko/microservices.md
  content/ko/monolithic-apps.md
  content/ko/service-mesh.md
  content/ko/virtual-machine.md
Labels: lang/ko

#1091 [zh]translate security chaos engineering
  content/zh-cn/security-chaos-engineering.md
Labels: lang/zh

#1002 [it] localizzazione termine distributed-system
  content/it/distributed_system.md
Labels: lang/it

#978 [it] localizzazione termine Distributed Apps
  content/it/distributed-apps.md
Labels: lang/it

#1104 [zh]add tags
  content/zh-cn/abstraction.md
  content/zh-cn/agile-software-development.md
  content/zh-cn/api-gateway.md
  content/zh-cn/application-programming-interface.md
  content/zh-cn/auto-scaling.md
  content/zh-cn/blue-green-deployment.md
  content/zh-cn/canary-deployment.md
  content/zh-cn/chaos-engineering.md
  content/zh-cn/client-server-architecture.md
  content/zh-cn/cloud-computing.md
  content/zh-cn/cloud-native-apps.md
  content/zh-cn/cloud-native-security.md
  content/zh-cn/cloud-native-tech.md
  content/zh-cn/cluster.md
  content/zh-cn/container-image.md
  content/zh-cn/container.md
  content/zh-cn/containerization.md
  content/zh-cn/containers-as-a-service.md
  content/zh-cn/continuous-delivery.md
  content/zh-cn/continuous-deployment.md
  content/zh-cn/continuous-integration.md
  content/zh-cn/data-center.md
  content/zh-cn/database-as-a-service.md
  content/zh-cn/debugging.md
  content/zh-cn/devops.md
  content/zh-cn/distributed-apps.md
  content/zh-cn/distributed-systems.md
  content/zh-cn/firewall.md
  content/zh-cn/horizontal-scaling.md
  content/zh-cn/idempotence.md
  content/zh-cn/infrastructure-as-a-service.md
  content/zh-cn/infrastructure-as-code.md
  content/zh-cn/kubernetes.md
  content/zh-cn/load-balancer.md
  content/zh-cn/loosely-coupled-architecture.md
  content/zh-cn/microservices.md
  content/zh-cn/monolithic-apps.md
  content/zh-cn/nodes.md
  content/zh-cn/platform-as-a-service.md
  content/zh-cn/reliability.md
  content/zh-cn/scalability.md
  content/zh-cn/security-chaos-engineering.md
  content/zh-cn/serverless.md
  content/zh-cn/service-discovery.md
  content/zh-cn/service-mesh.md
  content/zh-cn/service-proxy.md
  content/zh-cn/tightly-coupled-architectures.md
  content/zh-cn/version-control.md
  content/zh-cn/vertical-scaling.md
  content/zh-cn/virtual-machine.md
  content/zh-cn/virtualization.md
  content/zh-cn/zero-trust-architecture.md
Labels: lang/zh

#1095 [zh] translate `bare metal machine`
  content/zh-cn/bare-metal-machine.md
Labels: lang/zh

#1039 Localize content/bn/virtual-machine.md
  content/bn/virtual-machine.md
Labels: lang/bn

#1009 [bn] Localize content/bn/api-gateway.md
  content/bn/api-gateway.md
Labels: hold, lang/bn

#1109 [zh]translate site reliability engineering
  content/zh-cn/site-reliability-engineering.md
Labels: lang/zh

#1110 [bn] Updated file links for Bengali Localization
  content/bn/abstraction.md
  content/bn/application-programming-interface.md
  content/bn/cloud-computing.md
  content/bn/cloud-native-security.md
  content/bn/cloud-native-tech.md
  content/bn/cluster.md
  content/bn/devops.md
  content/bn/software-as-a-service.md
  content/bn/virtual-machine.md
Labels: lang/bn

#1105 [zh] merge dev-zh into main
  content/zh-cn/_index.md
  content/zh-cn/abstraction.md
  content/zh-cn/agile-software-development.md
  content/zh-cn/api-gateway.md
  content/zh-cn/application-programming-interface.md
  content/zh-cn/auto-scaling.md
  content/zh-cn/bare-metal-machine.md
  content/zh-cn/blue-green-deployment.md
  content/zh-cn/canary-deployment.md
  content/zh-cn/chaos-engineering.md
  content/zh-cn/client-server-architecture.md
  content/zh-cn/cloud-computing.md
  content/zh-cn/cloud-native-apps.md
  content/zh-cn/cloud-native-security.md
  content/zh-cn/cloud-native-tech.md
  content/zh-cn/cluster.md
  content/zh-cn/container-image.md
  content/zh-cn/container.md
  content/zh-cn/containerization.md
  content/zh-cn/containers-as-a-service.md
  content/zh-cn/continuous-delivery.md
  content/zh-cn/continuous-deployment.md
  content/zh-cn/continuous-integration.md
  content/zh-cn/contribute/_index.md
  content/zh-cn/contributor-ladder/_index.md
  content/zh-cn/data-center.md
  content/zh-cn/database-as-a-service.md
  content/zh-cn/debugging.md
  content/zh-cn/devops.md
  content/zh-cn/distributed-apps.md
  content/zh-cn/distributed-systems.md
  content/zh-cn/firewall.md
  content/zh-cn/horizontal-scaling.md
  content/zh-cn/idempotence.md
  content/zh-cn/infrastructure-as-a-service.md
  content/zh-cn/infrastructure-as-code.md
  content/zh-cn/kubernetes.md
  content/zh-cn/load-balancer.md
  content/zh-cn/loosely-coupled-architecture.md
  content/zh-cn/microservices.md
  content/zh-cn/monolithic-apps.md
  content/zh-cn/nodes.md
  content/zh-cn/platform-as-a-service.md
  content/zh-cn/reliability.md
  content/zh-cn/scalability.md
  content/zh-cn/security-chaos-engineering.md
  content/zh-cn/serverless.md
  content/zh-cn/service-discovery.md
  content/zh-cn/service-mesh.md
  content/zh-cn/service-proxy.md
  content/zh-cn/site-reliability-engineering.md
  content/zh-cn/style-guide/_index.md
  content/zh-cn/tightly-coupled-architectures.md
  content/zh-cn/version-control.md
  content/zh-cn/vertical-scaling.md
  content/zh-cn/virtual-machine.md
  content/zh-cn/virtualization.md
  content/zh-cn/zero-trust-architecture.md
Labels: maintainers, lang/zh

#1093 [it] Traduzione Cloud Native Apps
  content/it/cloud_native_apps.md
Labels: lang/it

#618 [it] localizzazione termine containers
  content/it/containers.md
Labels: lang/it

#1092 [it] Insert API Gateway term
  content/it/api-gateway.md
Labels: lang/it

#659 [bn] Localized content/bn/auto_scaling.md
  content/bn/auto_scaling.md
Labels: hold, lang/bn

#875 [bn] Localize containerization.md
  content/bn/containerization.md
Labels: lang/bn

#1102 [zh]Translate `transport layer security`
  content/zh-cn/transport-layer-security.md
Labels: lang/zh

#1083 [it] localizzazione termine cloud native security
  content/it/cloud_native_security.md
Labels: lang/it

#1079 [it] localizzazione termine Monolithic Apps
  content/it/monolithic-apps.md
Labels: lang/it

#1072 [it] localizzazione termine chaos engineering
  content/it/chaos_engineering.md
Labels: lang/it

#1071 [it] localizzazione termine scalability
  content/it/scalability.md
Labels: lang/it

#1070 [it] localizzazione termine portability
  content/it/portability.md
Labels: lang/it

#619 [it] localizzazione termine continuous delivery
  content/it/continuous-delivery(CD).md
Labels: lang/it

#1113 [zh]translate `service`
  content/zh-cn/service.md
Labels: lang/zh

#1080 [hi] Localizing debugging.md
  content/hi/debugging.md
Labels: lang/hi

#796 [hi] localize `Nodes.md` in Hindi
  content/hi/nodes.md
Labels: lang/hi

#1128 [zh]translate mutual translate layer security
  content/zh-cn/mutual-transport-layer-security.md
Labels: lang/zh

#1046 [ptbr] Add tags to localized terms
  content/pt-br/abstraction.md
  content/pt-br/agile-software-development.md
  content/pt-br/api-gateway.md
  content/pt-br/application-programming-interface.md
  content/pt-br/auto-scaling.md
  content/pt-br/bare-metal-machine.md
  content/pt-br/blue-green-deployment.md
  content/pt-br/canary-deployment.md
  content/pt-br/client-server-architecture.md
  content/pt-br/cloud-computing.md
  content/pt-br/cloud-native-apps.md
  content/pt-br/cloud-native-security.md
  content/pt-br/cloud-native-tech.md
  content/pt-br/cluster.md
  content/pt-br/container-image.md
  content/pt-br/container.md
  content/pt-br/containerization.md
  content/pt-br/continuous-delivery.md
  content/pt-br/continuous-integration.md
  content/pt-br/data-center.md
  content/pt-br/devops.md
  content/pt-br/serverless.md
  content/pt-br/site-reliability-engineering.md
  content/pt-br/software-as-a-service.md
  content/pt-br/stateful-apps.md
  content/pt-br/stateless-apps.md
  content/pt-br/transport-layer-security.md
  content/pt-br/version-control.md
  content/pt-br/vertical-scaling.md
  content/pt-br/virtual-machine.md
  content/pt-br/virtualization.md
  content/pt-br/zero-trust-architecture.md
Labels: lang/pt

#810 Add content/pt-br/service.md
  content/pt-br/service.md
Labels: lang/pt

#1137 [zh]translate event driven architecture
  content/zh-cn/event-driven-architecture.md
Labels: lang/zh
