Repository cncf/glossary, pull requests merged in 2022-10, with the labels that each got.

#1247 [DE] Add german definition for canary deployment
  content/de/canary_deployment.md
Labels: lang/de

#1111 german autoscaling localization
  content/de/autoscaling.md
Labels: lang/de

#1338 add info about adding sign off to global git config
  .github/pull_request_template.md
Labels: maintainers

#1336 Enhance description for microservices.md in Korean
  content/ko/microservices.md
Labels: lang/ko

#1313 Enable word list checker
  .github/workflows/es-spellcheck.yml
Labels: lang/es

#1343 [DE]corrects filename for canary deployment
  content/de/canary-deployment.md
Labels: lang/de

#1323 distributed-apps.md localized to Hindi
  content/hi/distributed-apps.md
Labels: lang/hi

#1281 Add content/pt-br/shift-left.md
  content/pt-br/shift-left.md
Labels: lang/pt

#1356 Add david again as reviewer
  CODEOWNERS
Labels: maintainers

#1288 [es] localize 'Containerization'
  content/es/.wordlist.txt
  content/es/containerization.md
Labels: lang/es

#1348 Update abstraction term
  content/es/.wordlist.txt
  content/es/abstraction.md
Labels: lang/es

#1351 Update application programming interface term
  content/es/application-programming-interface.md
Labels: lang/es

#1352 Update auto-scaling term
  content/es/auto-scaling.md
Labels: lang/es

#1360 Add workflows to track outdated terms
  .github/workflows/check-outdated-terms.yaml
  .github/workflows/post-outdated-terms-report.yaml
Labels: lang/ko, maintainers

#1355 correct wording for status as only english wording gets evaluated
  content/de/style-guide/_index.md
Labels: lang/de, maintainers

#1363 Localizes `content/bn/containers-as-a-service.md` to Bengali
  content/bn/containers-as-a-service.md
Labels: lang/bn

#1380 Added Urdu Localization Configurations and content/ur dir
  config.toml
  content/ur/_TEMPLATE.md
  content/ur/_index.md
  content/ur/abstraction.md
  content/ur/contribute/_index.md
  content/ur/contributor-ladder/_index.md
  content/ur/style-guide/_index.md
  i18n/ur.toml
Labels: lang/ur

#1413 [ptbr] Update terms that have missing tags
  content/pt-br/service.md
  content/pt-br/tightly-coupled-architectures.md
Labels: lang/pt

#1055 [localization/german] Add localization for API
  content/de/application_programming_interface.md
Labels: lang/de

#1115 [it] Localizzazione termine Service Mesh
  content/it/service-mesh.md
Labels: lang/it

#1146 [it] Localizzazione termine Containerization
  content/it/containerization.md
Labels: lang/it

#1186 [it] Localizzazione termine Containers-as-a-service
  content/it/containers-as-a-service.md
Labels: lang/it

#1283 [it] Localizzazione termine Loosely coupled architecture
  content/it/loosely-coupled-architecture.md
Labels: lang/it

#1299 [it] Localizzazione termine Version Control
  content/it/version-control.md
Labels: lang/it

#1332 [it] Localizzazione termine Event-Driven Architecture
  content/it/event-driven-architecture.md
Labels: lang/it

#1335 [it] Localizzazione termine Client-Server Architecture
  content/it/client-server-architecture.md
Labels: lang/it

#1346 [it] Localizzazione termine Tightly coupled architecture
  content/it/tightly-coupled-architectures.md
Labels: lang/it

#1378 [it] Localizzazione termine Debugging
  content/it/debugging.md
Labels: lang/it

#1403 [it] localizzazione termine SaaS
  content/it/software-as-a-service.md
Labels: lang/it

#1321 [it] Localizzazione termine idempotence
  content/it/idempotence.md
Labels: lang/it

#1361 Update bare-metal-machine term
  content/es/bare-metal-machine.md
  content/es/bare_metal_machine.md
Labels: lang/es

#1362 Update blue green deployment term
  content/es/blue-green-deployment.md
Labels: lang/es

#1365 Update canary deployment term
  content/es/canary-deployment.md
Labels: lang/es

#1366 Update client-server architecture term
  content/es/client-server-architecture.md
Labels: lang/es

#1350 Update api gateway term
  content/es/.wordlist.txt
  content/es/api-gateway.md
  content/es/api_gateway.md
Labels: lang/es

#1370 Update cloud-native tech term
  content/es/.wordlist.txt
  content/es/cloud-native-tech.md
Labels: lang/es

#1369 Update cloud-native security term
  content/es/.wordlist.txt
  content/es/cloud-native-security.md
Labels: lang/es

#1368 Update cloud native apps term
  content/es/cloud-native-apps.md
Labels: lang/es

#1367 Update cloud computing term
  content/es/cloud-computing.md
Labels: lang/es

#1382 [Spanish] localize 'Idempotence'
  content/es/idempotence.md
Labels: lang/es

#1383 [Spanish] localize 'Immutable Infrastructure'
  content/es/.wordlist.txt
  content/es/immutable-infrastructure.md
Labels: lang/es
