Repository cncf/glossary, pull requests merged in 2022-08, with the labels that each got.

#1140 Link "virtual machine" and "cloud computing"
  content/en/virtualization.md
Labels: lang/en

#1142 Added links for becoming Approver and Maintainer
  content/en/contributor-ladder/_index.md
Labels: lang/en, maintainers

#704 [ESP] add content/es/application_programming_interface.md done
  content/es/application-programming-interface.md
Labels: lang/es

#1097 Translated Idempotence term to pt-br
  content/pt-br/idempotence.md
Labels: lang/pt

#1086 Add content/pt-br/infrastructure-as-code.md
  content/pt-br/infrastructure-as-code.md
Labels: lang/pt

#1126 Adding update discussion link to guide
  LOCALIZATION.md
Labels: documentation, maintainers

#1123 Localize service.md for Korean
  content/ko/service.md
Labels: lang/ko

#1158 Merge 5 new Hindi localizations into main
  content/hi/abstraction.md
  content/hi/agile-software-development.md
  content/hi/auto-scaling.md
  content/hi/bare_metal_machine.md
  content/hi/canary-deployment.md
  content/hi/client_server_architecture.md
  content/hi/cloud-native-tech.md
  content/hi/container-image.md
  content/hi/container.md
  content/hi/containerization.md
  content/hi/continuous-delivery.md
  content/hi/continuous-integration.md
  content/hi/debugging.md
  content/hi/devops.md
  content/hi/nodes.md
Labels: lang/hi, maintainers

#1157 Update wordlist.txt to add multitenancy
  wordlist.txt
Labels: lang/en

#1175 Link monolithic-apps
  content/en/distributed-apps.md
Labels: lang/en

#1174 Link Kubernetes
  content/en/cluster.md
Labels: lang/en

#1176 Remove the issue template 'new term (Non-English)'
  .github/ISSUE_TEMPLATE/new-term-lang.yml
Labels: maintainers

#1170 [ko] Modify architecture tag to localized terms
  content/ko/microservices.md
  content/ko/monolithic-apps.md
Labels: lang/ko

#1159 [PTBR] Add MrErlison as a Portuguese approver
  .github/settings.yml
  CODEOWNERS
Labels: lang/pt, maintainers

#1049 [hi] Localize version_control.md
  content/hi/version-control.md
Labels: lang/hi

#1103 Add content/pt-br/firewall.md
  content/pt-br/firewall.md
Labels: lang/pt

#1172 [hi] Localizing portability.md
  content/hi/portability.md
Labels: lang/hi

#1185 Add missing links
  content/en/site-reliability-engineering.md
Labels: lang/en

#1085 german localize cloud native apps
  content/de/cloud-native-apps.md
Labels: lang/de

#1194 [zh] Remove extra blank lines
  content/zh-cn/api-gateway.md
  content/zh-cn/infrastructure-as-a-service.md
Labels: lang/zh

#1145 Settings and initial contents for French localization
  config.toml
  content/fr/_TEMPLATE.md
  content/fr/_index.md
  content/fr/contribute/_index.md
  content/fr/style-guide/_index.md
  i18n/fr.toml
Labels: maintainers, lang/fr

#1011 Added: lang-bn content/bn/kubernetes.md
  content/bn/kubernetes.md
Labels: lang/bn

#1202 [bn] Update Kubernetes status to "Completed"
  content/bn/kubernetes.md
Labels: lang/bn

#1198 [hi] Localize mutual-transport-layer-security.md
  content/hi/mutual-transport-layer-security.md
Labels: lang/hi

#1199 Link microservices
  content/en/firewall.md
Labels: lang/en

#1229 [bn] Localize portability.md & idempotence.md
  content/bn/idempotence.md
  content/bn/portability.md
Labels: lang/bn

#1230 add checkbox to check if the term does not already exist in the glossary
  .github/ISSUE_TEMPLATE/new-term.yml
Labels: maintainers

#1122 Localize auto-scaling.md for Korean
  content/ko/auto-scaling.md
Labels: lang/ko

#1134 [ko] Localize infrastructure-as-code.md
  content/ko/infrastructure-as-code.md
Labels: lang/ko

#1043 feat: add content es/portability
  content/es/.wordlist.txt
  content/es/portability.md
Labels: lang/es

#1135 [ko] ADD - Localized debugging.md for Korean
  content/ko/debugging.md
Labels: lang/ko

#1231 [ES] add content/es/auto_scaling.md
  content/es/.wordlist.txt
  content/es/auto-scaling.md
Labels: lang/es

#1236 Update dev-ko branch with main branch
  .github/ISSUE_TEMPLATE/new-term-lang.yml
  .github/ISSUE_TEMPLATE/new-term.yml
  .github/settings.yml
  .github/workflows/es-spellcheck.yml
  .github/workflows/spellcheck.yml
  CODEOWNERS
  assets/icons/logo.svg
  content/bn/contribute/_index.md
  content/bn/contributor-ladder/_index.md
  content/bn/style-guide/_index.md
  content/en/blue-green-deployment.md
  content/en/cluster.md
  content/en/container-image.md
  content/en/contribute/_index.md
  content/en/contributor-ladder/_index.md
  content/en/distributed-apps.md
  content/en/firewall.md
  content/en/site-reliability-engineering.md
  content/en/style-guide/_index.md
  content/es/contribute/_index.md
  content/es/contributor-ladder/_index.md
  content/es/style-guide/_index.md
  content/hi/abstraction.md
  content/hi/agile-software-development.md
  content/hi/auto-scaling.md
  content/hi/bare_metal_machine.md
  content/hi/canary-deployment.md
  content/hi/client_server_architecture.md
  content/hi/cloud-native-tech.md
  content/hi/container-image.md
  content/hi/container.md
  content/hi/containerization.md
  content/hi/continuous-delivery.md
  content/hi/continuous-integration.md
  content/hi/contribute/_index.md
  content/hi/contributor-ladder/_index.md
  content/hi/debugging.md
  content/hi/devops.md
  content/hi/nodes.md
  content/hi/style-guide/_index.md
  content/it/contribute/_index.md
  content/it/style-guide/_index.md
  content/ko/contribute/_index.md
  content/ko/contributor-ladder/_index.md
  content/ko/style-guide/_index.md
  content/pt-br/contribute/_index.md
  content/pt-br/contributor-ladder/_index.md
  content/pt-br/style-guide/_index.md
  content/zh-cn/contribute/_index.md
  content/zh-cn/contributor-ladder/_index.md
  content/zh-cn/style-guide/_index.md
  layouts/_default/sitemap.xml
  layouts/partials/footer.html
  layouts/partials/navbar-lang-selector.html
  layouts/partials/navbar.html
  layouts/partials/sidebar-tree.html
  wordlist.txt
Labels: lang/ko, maintainers

#1234 Create a pull request template
  .github/pull_request_template.md
Labels: maintainers

#1152 [hi] Localize site-reliabilty-engineering.md
  content/hi/site-reliability-engineering.md
Labels: lang/hi

#1132 [ko] translation service-discovery
  content/ko/service-discovery.md
Labels: lang/ko

#1195 [hi] Localizing `Reliability.md`
  content/hi/reliability.md
Labels: lang/hi

#1193 [es] Localize cloud-native-tech.md
  content/es/.wordlist.txt
  content/es/cloud-native-tech.md
Labels: lang/es

#1192 Add Nicolas Quiceno to Spanish approver team
  .github/settings.yml
  CODEOWNERS
Labels: lang/es, maintainers
