Repository cncf/glossary, pull requests merged in 2022-09, with the labels that each got.

#1167 Link "virtual machine" and "cloud native"
  content/en/nodes.md
Labels: lang/en

#1279 Update description of Cloud Native Glossary Repo
  .github/settings.yml
Labels: maintainers

#1238 [ko] Translate 'Scalability' into Korean
  content/ko/scalability.md
Labels: lang/ko

#1131 [ko] Translate 'Cluster'
  content/ko/cluster.md
Labels: lang/ko

#1154 Create multitenancy.md
  content/en/multitenancy.md
  wordlist.txt
Labels: lang/en

#1285 [ko] Translate 'Distributed Apps' in Korean
  content/ko/distributed-apps.md
Labels: lang/ko

#1246 [bn] Localize content/bn/microservices.md
  content/bn/microservices.md
Labels: lang/bn

#1298 Kubernetes edits + open questions
  content/en/kubernetes.md
Labels: lang/en, update term

#1290 Merge dev-ko into main (for Korean localization live version)
  content/ko/_TEMPLATE.md
  content/ko/auto-scaling.md
  content/ko/cloud-computing.md
  content/ko/cloud-native-apps.md
  content/ko/cloud-native-tech.md
  content/ko/cluster.md
  content/ko/container.md
  content/ko/containerization.md
  content/ko/debugging.md
  content/ko/devops.md
  content/ko/distributed-apps.md
  content/ko/infrastructure-as-code.md
  content/ko/microservices.md
  content/ko/monolithic-apps.md
  content/ko/scalability.md
  content/ko/service-discovery.md
  content/ko/service-mesh.md
  content/ko/service.md
  content/ko/virtual-machine.md
Labels: lang/ko

#1255 [bn] Localize content/bn/chaos-engineering.md
  content/bn/chaos-engineering.md
Labels: lang/bn

#1311 Multi tenancy completed
  content/en/multitenancy.md
Labels: lang/en

#1270 Add service models and modify documentation
  content/en/cloud-computing.md
Labels: lang/en, update term, maintainers

#1276 Translate abstraction.md into Korean
  content/ko/abstraction.md
Labels: lang/ko

#1278 Update headers and links
  content/es/.wordlist.txt
  content/es/api_gateway.md
  content/es/application-programming-interface.md
  content/es/auto-scaling.md
  content/es/canary-deployment.md
  content/es/infrastructure_as_code.md
  content/es/kubernetes.md
Labels: lang/es

#1286 Enable labeler workflow
  .github/workflows/labeler.yml
Labels: maintainers

#1317 add check if the term has already been declined in the past
  .github/ISSUE_TEMPLATE/new-term.yml
Labels: maintainers

#1294 [ko]Translate 'Idempotence' in Korean
  content/ko/idempotence.md
Labels: lang/ko

#1325 Specify a target branch on labeler workflow
  .github/workflows/labeler.yml
Labels: maintainers

#1228 [es] Localize 'Container Image'
  content/es/.wordlist.txt
  content/es/container-image.md
Labels: lang/es, triage/accepted

#1324 Add Urdu Localization Team Approvers
  .github/settings.yml
  CODEOWNERS
Labels: maintainers, lang/ur

#1253 Add pt-br/docs/reference/glossary/portability.md
  content/pt-br/portability.md
Labels: lang/pt

#1251 Add content/pt-br/reliability.md
  content/pt-br/reliability.md
Labels: lang/pt

#1204 Add pt-br/docs/reference/glossary/debugging.md
  content/pt-br/debugging.md
Labels: lang/pt

#1330 Update dev-ko with main branch
  .github/ISSUE_TEMPLATE/new-term.yml
  .github/settings.yml
  .github/workflows/labeler.yml
  CODEOWNERS
Labels: lang/ko, maintainers

#1329 Update `dev-ur` with the latest `main`
  .github/settings.yml
  .github/workflows/labeler.yml
  CODEOWNERS
Labels: maintainers, lang/ur

#1328 Disable TEMPLATE from sidebar of Korean site
  content/ko/_TEMPLATE.md
Labels: lang/ko

#1252 Add content/pt-br/scalability.md
  content/pt-br/scalability.md
Labels: lang/pt

#1065 Add new term: 'Event Streaming'
  content/en/event-streaming.md
  wordlist.txt
Labels: lang/en

#1226 [hi] Localize `Firewall.md`
  content/hi/firewall.md
Labels: lang/hi

#934 [hi] Localize Database as a service
  content/hi/database-as-a-service.md
Labels: lang/hi

#1331 Merge dev-pt into main branch
  content/pt-br/abstraction.md
  content/pt-br/agile-software-development.md
  content/pt-br/api-gateway.md
  content/pt-br/application-programming-interface.md
  content/pt-br/auto-scaling.md
  content/pt-br/bare-metal-machine.md
  content/pt-br/blue-green-deployment.md
  content/pt-br/canary-deployment.md
  content/pt-br/client-server-architecture.md
  content/pt-br/cloud-computing.md
  content/pt-br/cloud-native-apps.md
  content/pt-br/cloud-native-security.md
  content/pt-br/cloud-native-tech.md
  content/pt-br/cluster.md
  content/pt-br/container-image.md
  content/pt-br/container.md
  content/pt-br/containerization.md
  content/pt-br/continuous-delivery.md
  content/pt-br/continuous-integration.md
  content/pt-br/data-center.md
  content/pt-br/debugging.md
  content/pt-br/devops.md
  content/pt-br/firewall.md
  content/pt-br/idempotence.md
  content/pt-br/infrastructure-as-code.md
  content/pt-br/portability.md
  content/pt-br/reliability.md
  content/pt-br/scalability.md
  content/pt-br/serverless.md
  content/pt-br/service.md
  content/pt-br/site-reliability-engineering.md
  content/pt-br/software-as-a-service.md
  content/pt-br/stateful-apps.md
  content/pt-br/stateless-apps.md
  content/pt-br/tightly-coupled-architectures.md
  content/pt-br/transport-layer-security.md
  content/pt-br/version-control.md
  content/pt-br/vertical-scaling.md
  content/pt-br/virtual-machine.md
  content/pt-br/virtualization.md
  content/pt-br/zero-trust-architecture.md
Labels: lang/pt, maintainers

#1316 Localized `content/bn/cloud-native-apps.md`
  content/bn/bare-metal-machine.md
  content/bn/cloud-native-apps.md
Labels: lang/bn

#1227 [hi] Localize cluster.md
  content/hi/cluster.md
Labels: lang/hi
