Repository cncf/glossary, pull requests merged in 2022-03, with the labels that each got.

#467 feat: add content es/observability
  content/es/observability.md
Labels: lang/es

#421 [hi] localize canary_deployment.md
  content/hi/canary_deployment.md
Labels: lang/hi

#492 add Adriana to german approver team
  .github/settings.yml
  CODEOWNERS
Labels: lang/de, maintainers

#351 translation cloud_native_technology
  content/it/cloud_native_tech.md
Labels: lang/it

#465 Update _index.md
  content/it/style-guide/_index.md
Labels: lang/it

#474 Update Korean virtual_machine.md
  content/ko/virtual_machine.md
Labels: lang/ko

#437 Add content/pt-br/application_programming_interface.md
  content/pt-br/application_programming_interface.md
Labels: lang/pt

#491 Add content/ar/abstraction.md
  content/ar/abstraction.md
Labels: lang/ar

#494 Add content/en/database as a service
  content/en/database_as_a_service.md
  wordlist.txt
Labels: lang/en

#436 Add content/pt-br/blue_green_deployment.md
  content/pt-br/blue_green_deployment.md
Labels: lang/pt

#498 Add Chaos Engineering to the main Glossary - english version
  content/en/chaos_engineering.md
Labels: lang/en

#357 Add Security Chaos Engineering to the main Glossary - english version
  content/en/security_chaos_engineering.md
  wordlist.txt
Labels: lang/en

#533 Delete automation
  content/en/automation.md
Labels: lang/en

#542 Added quality section
  content/en/style-guide/_index.md
Labels: documentation

#356 translation agile_software_development and devops
  content/it/agile_software_development.md
  content/it/devops.md
Labels: lang/it

#541 Adding issue triage to how-to
  content/en/contribute/_index.md
  static/images/how-to/claiming-an-issue.png
  static/images/how-to/english-issue-template-new.png
  static/images/how-to/english-issue-template.png
  static/images/how-to/issue-and-labels.png
  static/images/how-to/submit-issue.png
Labels: documentation

#548 Delete one of similar issue templates for new term
  .github/ISSUE_TEMPLATE/en.yml
Labels: maintainers

#480 adding client_server_architecture localization
  content/pt-br/client_server_architecture.md
Labels: lang/pt

#493 Add content/pt-br/bare_metal_machine.md
  content/pt-br/bare_metal_machine.md
Labels: lang/pt

#504 Localize monolithic_apps.md for Korean
  content/ko/monolithic_apps.md
Labels: lang/ko

#559 Update issue template for new term proposal
  .github/ISSUE_TEMPLATE/new-term.yml
Labels: documentation, maintainers

#588 [bn] Localize Contribute and Contributor Ladder
  content/bn/contribute/_index.md
  content/bn/contributor-ladder/_index.md
Labels: lang/bn

#589 [bn] changes in file of contributor & contributor ladder
  content/bn/contribute/_index.md
Labels: lang/bn

#502 Add content/zh/cloud_computing.md
  content/zh/cloud_computing.md
  content/zh/cloud_native_tech.md
  content/zh/container.md
Labels: lang/zh

#529 Add term: Shift Left
  content/en/shift_left.md
Labels: lang/en

#528 Localize microservices.md for Korean
  content/ko/microservices.md
Labels: lang/ko

#585 Localization Site Reliability Engineering
  content/it/site_reliability_engineering.md
Labels: lang/it

#376 Create infrastructure_as_code.md
  content/it/infrastructure_as_code.md
Labels: lang/it

#587 Update how to contribute with new issue template
  content/en/contribute/_index.md
Labels: documentation, maintainers

#390 New branch and translation for term/abstraction
  content/it/abstraction.md
Labels: lang/it

#519 [ko] L10n of Feedback section
  i18n/ko.toml
Labels: lang/ko

#503 [hi] localize contributor-ladder/_index.md
  content/hi/contributor-ladder/_index.md
Labels: lang/hi

#629 chore: update dev-es branch with main branch
  .github/ISSUE_TEMPLATE/de.yml
  .github/ISSUE_TEMPLATE/en.yml
  .github/ISSUE_TEMPLATE/es.yml
  .github/ISSUE_TEMPLATE/fr.yml
  .github/ISSUE_TEMPLATE/it.yml
  .github/ISSUE_TEMPLATE/new-term-lang.yml
  .github/ISSUE_TEMPLATE/new-term.yml
  .github/ISSUE_TEMPLATE/pt.yml
  .github/ISSUE_TEMPLATE/update-term-lang.yml
  .github/ISSUE_TEMPLATE/update-term.yml
  .github/labeler.yml
  .github/settings.yml
  .github/workflows/labeler.yml
  .github/workflows/spellcheck.yml
  .gitignore
  CODEOWNERS
  CONTRIBUTING.md
  README.md
  assets/scss/_variables_project.scss
  code-of-conduct.md
  content/en/abstraction.md
  content/en/automation.md
  content/en/chaos_engineering.md
  content/en/client_server_architecture.md
  content/en/cloud_native_tech.md
  content/en/contribute/_index.md
  content/en/contributor-ladder/_index.md
  content/en/database_as_a_service.md
  content/en/security_chaos_engineering.md
  content/en/shift_left.md
  content/en/style-guide/_index.md
  content/en/versioncontrol.md
  content/en/virtual_machine.md
  content/pt-br/.gitkeep
  english-issue-template.jpg
  i18n/en.toml
  layouts/partials/feedback.html
  spin-new-glossary.md
  static/images/how-to/claiming-an-issue.png
  static/images/how-to/english-issue-template-new.png
  static/images/how-to/english-issue-template.jpg
  static/images/how-to/issue-and-labels.png
  static/images/how-to/submit-issue.png
  wordlist.txt
Labels: lang/es

#592 update italian contents approvers
  .github/settings.yml
  CODEOWNERS
Labels: maintainers

#642 Add content/ar/auto_scaling.md
  content/ar/auto_scaling.md
Labels: lang/ar

#530 Add container.md localization to Arabic
  content/ar/container.md
Labels: lang/ar

#631 Add content/en/idempotence.md
  content/en/idempotence.md
  wordlist.txt
Labels: lang/en

#593 feat: add content es/cloud_computing
  content/es/.wordlist.txt
  content/es/cloud_computing.md
Labels: lang/es

#646 Merge main into dev-de
  .github/ISSUE_TEMPLATE/de.yml
  .github/ISSUE_TEMPLATE/en.yml
  .github/ISSUE_TEMPLATE/es.yml
  .github/ISSUE_TEMPLATE/fr.yml
  .github/ISSUE_TEMPLATE/it.yml
  .github/ISSUE_TEMPLATE/new-term-lang.yml
  .github/ISSUE_TEMPLATE/new-term.yml
  .github/ISSUE_TEMPLATE/pt.yml
  .github/ISSUE_TEMPLATE/update-term-lang.yml
  .github/ISSUE_TEMPLATE/update-term.yml
  .github/labeler.yml
  .github/settings.yml
  .github/workflows/labeler.yml
  .github/workflows/spellcheck.yml
  .gitignore
  CODEOWNERS
  CONTRIBUTING.md
  LOCALIZATION.md
  README.md
  assets/scss/_variables_project.scss
  code-of-conduct.md
  content/en/TLS(Transport Layer Security).md
  content/en/abstraction.md
  content/en/bare_metal_machine.md
  content/en/chaos_engineering.md
  content/en/client_server_architecture.md
  content/en/cloud_native_tech.md
  content/en/contribute/_index.md
  content/en/contributor-ladder/_index.md
  content/en/data_center.md
  content/en/database_as_a_service.md
  content/en/gitops.md
  content/en/horizontal_scaling.md
  content/en/idempotence.md
  content/en/kubernetes.md
  content/en/load_balancer.md
  content/en/mTLS (Mutual Transport Layer Security).md
  content/en/security_chaos_engineering.md
  content/en/shift_left.md
  content/en/style-guide/_index.md
  content/en/versioncontrol.md
  content/en/virtual_machine.md
  content/pt-br/.gitkeep
  english-issue-template.jpg
  i18n/en.toml
  layouts/partials/feedback.html
  spin-new-glossary.md
  static/images/how-to/claiming-an-issue.png
  static/images/how-to/english-issue-template-new.png
  static/images/how-to/english-issue-template.jpg
  static/images/how-to/issue-and-labels.png
  static/images/how-to/submit-issue.png
  wordlist.txt
Labels: maintainers

#650 [ar] Translate 'Container Image' into Arabic
  content/ar/container-image.md
Labels: lang/ar

#657 Update localization team approvers (dev-ar, dev-es)
  .github/settings.yml
  CODEOWNERS
Labels: maintainers

#487 Add content/pt-br/containerization.md
  content/pt-br/containerization.md
Labels: lang/pt

#485 Add content/pt-br/container.md
  content/pt-br/container.md
Labels: lang/pt

#596 Add content/pt-br/cloud_native_apps.md
  content/pt-br/cloud_native_apps.md
Labels: lang/pt

#557 Add content/pt-br/container-image.md
  content/pt-br/container-image.md
Labels: lang/pt

#479 Add content/pt-br/api_gateway.md
  content/pt-br/api_gateway.md
Labels: lang/pt

#643 Add content/pt-br/cloud_native_security.md
  content/pt-br/cloud_native_security.md
Labels: lang/pt

#595 Add content/pt-br/canary_deployment.md
  content/pt-br/canary_deployment.md
Labels: lang/pt

#558 Add content/pt-br/continuous_delivery.md
  content/pt-br/continuous_delivery.md
Labels: lang/pt

#641 [es] add spanish translation for Agile software Development
  content/es/.wordlist.txt
  content/es/agile_software_development.md
Labels: lang/es

#552 Add term: Debugging
  content/en/debugging.md
Labels: lang/en

#626 Create firewall.md
  content/en/firewall.md
Labels: lang/en

#664 Ack hindi localization contributors in _index.md
  content/hi/_index.md
Labels: lang/hi

#665 [hi] L10n of Feedback section
  i18n/hi.toml
  layouts/partials/feedback.html
Labels: lang/hi

#496 [zh] Add 10 .md localizations
  content/zh/cloud_native_apps.md
  content/zh/cloud_native_security.md
  content/zh/cloud_native_tech.md
  content/zh/cluster.md
  content/zh/containerization.md
  content/zh/containers_as_a_service.md
  content/zh/continuous_integration.md
  content/zh/kubernetes.md
Labels: lang/zh

#656 doc: add arabic agile_software_development.md
  content/ar/agile_software_development.md
Labels: lang/ar

#663 Apply title case in config pages
  content/pt-br/contribute/_index.md
  content/pt-br/style-guide/_index.md
Labels: lang/pt

#594 Add content/pt-br/continuous_integration.md
  content/pt-br/continuous_integration.md
Labels: lang/pt
