Repository cncf/glossary, pull requests merged in 2022-01, with the labels that each got.

#293 Update settings.yml for dev-ko branch protection
  .github/settings.yml
Labels: korean

#272 added Site Reliability Engineering
  content/en/site_reliability_engineering.md
  wordlist.txt
Labels: lang/en

#291 Settings and initial contents for Korean localization
  config.toml
  content/ko/_index.md
  content/ko/cloud_native_tech.md
  content/ko/contribute/_index.md
  content/ko/style-guide/_index.md
  i18n/ko.toml
Labels: lang/ko

#325 Add image files for how-go guide
  static/images/how-to/howto-01.png
  static/images/how-to/howto-02.png
  static/images/how-to/howto-03.png
  static/images/how-to/howto-04.png
  static/images/how-to/howto-05.png
  static/images/how-to/howto-06.png
  static/images/how-to/howto-07.png
  static/images/how-to/howto-08.png
  static/images/how-to/howto-09.png
  static/images/how-to/howto-10.png
  static/images/how-to/howto-11.png
  static/images/how-to/howto-12.png
  static/images/how-to/howto-13.png
  static/images/how-to/howto-14.png
  static/images/how-to/howto-15.png
  static/images/how-to/howto-16.png
Labels: documentation

#323 Style guide – a few edits
  content/en/style-guide/_index.md
Labels: documentation

#321 Updating how to contribute
  content/en/contribute/_index.md
Labels: documentation

#334 Localize cloud computing for Korean (push permission test)
  content/ko/cloud_computing.md
Labels: lang/ko

#348 Add link to API in Kubernetes
  content/en/kubernetes.md
Labels: lang/en

#341 Improve localization guide
  LOCALIZATION.md
Labels: documentation

#354 Definition for TLS(Transport Layer Security).md
  content/en/TLS(Transport Layer Security).md
Labels: lang/en
