Repository cncf/glossary, pull requests merged in 2022-06, with the labels that each got.

#873 feat: canary deployment
  content/es/.wordlist.txt
  content/es/canary_deployment.md
Labels: lang/es

#905 [zh] Localize firewall.md
  content/zh-cn/firewall.md
Labels: lang/zh

#901 [zh] Localize vertical_scaling.md
  content/zh-cn/vertical_scaling.md
Labels: lang/zh

#932 Fix visualization bug in navbar-lang-selector
  layouts/partials/navbar-lang-selector.html
Labels: maintainers

#933 [zh] Localize 'client_server_architecture'
  content/zh-cn/client_server_architecture.md
Labels: lang/zh

#776 [de] Add localization cloud native tech
  content/de/cloud_native_tech.md
Labels: lang/de

#935 es] Localize client_server_architecture.md
  content/es/.wordlist.txt
  content/es/client-server-architecture.md
Labels: lang/es

#936 [zh] localize platform_as_a_service.md
  content/zh-cn/platform_as_a_service.md
Labels: lang/zh

#941 [zh-cn] Update DevOps
  content/zh-cn/devops.md
Labels: lang/zh

#944 [zh] fix terminologie and format
  content/zh-cn/continuous_delivery.md
  content/zh-cn/contribute/_index.md
  content/zh-cn/style-guide/_index.md
Labels: lang/zh

#976 [en] Add term: 'Event-Driven Architecture'
  content/en/event-driven-architecture.md
Labels: lang/en

#921 [en] Certificates
  content/en/digital-certificate.md
  wordlist.txt
Labels: lang/en

#974 rename files, add semantic line breaks, empty lines
  content/de/agile-software-development.md
  content/de/agile_software_development.md
  content/de/api-gateway.md
  content/de/cloud-computing.md
  content/de/cloud-native-tech.md
  content/de/cloud_native_tech.md
Labels: lang/de

#989 [zh] Localize 'nodes'
  content/zh-cn/nodes.md
Labels: lang/zh

#835 Add content/pt-br/cloud_computing.md
  content/pt-br/cloud_computing.md
Labels: lang/pt

#762 add: content/pt-br/serverless.md
  content/pt-br/serverless.md
Labels: lang/pt

#682 Add content/pt-br/data_center.md
  content/pt-br/data_center.md
Labels: lang/pt

#811 Add content/pt-br/site_reliability_engineering.md
  content/pt-br/site_reliability_engineering.md
Labels: lang/pt

#812 Add content/pt-br/software_as_a_service.md
  content/pt-br/software_as_a_service.md
Labels: lang/pt

#683 Add content/pt-br/cloud_native_tech.md
  content/pt-br/cloud_native_tech.md
Labels: lang/pt

#715 Add content/pt-br/virtualization.md
  content/pt-br/virtualization.md
Labels: lang/pt

#758 Add content/pt-br/vertical_scaling.md
  content/pt-br/vertical_scaling.md
Labels: lang/pt

#757 Add content/pt-br/versioncontrol.md
  content/pt-br/versioncontrol.md
Labels: lang/pt

#714 Add content/pt-br/zero_trust_architecture.md
  content/pt-br/zero_trust_architecture.md
Labels: lang/pt

#716 Add content/pt-br/virtual_machine.md
  content/pt-br/virtual_machine.md
Labels: lang/pt

#998 Add `.hugo_build.lock` file to `gitignore`
  .gitignore
Labels: maintainers

#1000 complete Slack link
  content/en/_index.md
  content/en/contribute/_index.md
Labels: lang/en

#1003 [zh] complete CNCF Slack link
  content/zh-cn/_index.md
  content/zh-cn/contribute/_index.md
Labels: lang/zh

#996 [bn] Update header text
  content/bn/application_programming_interface.md
  content/bn/cloud_native_tech.md
Labels: lang/bn

#1007 [ptbr] Rename definition files to use dash instead of undescore
  content/pt-br/cloud-computing.md
  content/pt-br/cloud-native-tech.md
  content/pt-br/data-center.md
  content/pt-br/site-reliability-engineering.md
  content/pt-br/software-as-a-service.md
  content/pt-br/stateful-apps.md
  content/pt-br/stateless-apps.md
  content/pt-br/transport-layer-security.md
  content/pt-br/vertical-scaling.md
  content/pt-br/virtual-machine.md
  content/pt-br/zero-trust-architecture.md
Labels: lang/pt

#1016 Updated header text fo devops.md file
  content/bn/devops.md
Labels: lang/bn

#1019 [ptbr] Rename missing file (to use dash)
  content/pt-br/version-control.md
Labels: lang/pt
