Repository cncf/glossary, pull requests merged in 2022-02, with the labels that each got.

#302 Add GitOps definition draft for submission
  content/en/gitops.md
Labels: lang/en

#282 Create entry for "data center"
  content/en/data_center.md
Labels: lang/en

#381 [hi] Localize devops.md
  content/hi/devops.md
Labels: lang/hi

#355 [hi] Localize content/hi/abstraction.md
  content/hi/abstraction.md
Labels: lang/hi

#300 Settings & Initial content for Hindi Localisation
  config.toml
  content/hi/_TEMPLATE.md
  content/hi/_index.md
  content/hi/cloud_native_tech.md
  content/hi/contribute/_index.md
  content/hi/style-guide/_index.md
  i18n/hi.toml
Labels: lang/hi

#370 Settings and initial contents for Bengali localization
  config.toml
  content/bn/_index.md
  content/bn/cloud_native_tech.md
  content/bn/contribute/_index.md
  content/bn/style-guide/_index.md
  i18n/bn.toml
Labels: lang/bn

#322 Term Automation added
  content/en/automation.md
  wordlist.txt
Labels: lang/en

#383 [hi] Localize containerization.md
  content/hi/containerization.md
Labels: lang/hi

#395 Adding contributor ladder
  content/en/contributor-ladder/_index.md
Labels: documentation

#343 Settings and initial contents for Portuguese localization
  config.toml
  content/pt-br/_index.md
  content/pt-br/contribute/_index.md
  content/pt-br/style-guide/_index.md
  content/pt/.gitkeep
  i18n/pt-br.toml
Labels: lang/pt

#401 [hi] Localize continuous_delivery.md
  content/hi/continuous_delivery.md
Labels: lang/hi

#404 Settings and initial contents for Italian localization
  config.toml
  content/it/_index.md
  content/it/contribute/_index.md
  content/it/style-guide/_index.md
  i18n/it.toml
Labels: lang/it

#399 [Update] Abstraction
  content/en/abstraction.md
Labels: lang/en

#393 [hi] Localize auto_scaling.md
  content/hi/auto_scaling.md
Labels: lang/hi

#420 [hi] Localize continuous integration.md
  content/hi/continuous_integration.md
Labels: lang/hi

#417 [hi] Localize container-image.md
  content/hi/container-image.md
Labels: lang/hi

#347 Settings and initial contents for German localization
  config.toml
  content/de/_index.md
  content/de/contribute/_index.md
  content/de/style-guide/_index.md
  i18n/de.toml
Labels: lang/de, maintainers

#428 Settings and initial contents for Arabic localization
  config.toml
  content/ar/_index.md
  content/ar/cloud_native_tech.md
  content/ar/contribute/_index.md
  content/ar/style-guide/_index.md
  i18n/ar.toml
Labels: lang/ar, maintainers

#432 Add localization team approvers (ar bn es pt ko)
  .github/settings.yml
  CODEOWNERS
Labels: lang/pt, lang/ko, lang/ar, lang/bn, lang/es, maintainers

#388 Settings and initial contents for Spanish localization
  config.toml
  content/es/_index.md
  content/es/contribute/_index.md
  content/es/style-guide/_index.md
  i18n/es.toml
Labels: lang/es, maintainers

#424 Localize virtual_machine.md for Korean
  content/ko/virtual_machine.md
Labels: lang/ko

#377 [hi] Localize agile_software_development.md
  content/hi/agile_software_development.md
Labels: lang/hi

#453 [bn] Localize abstraction.md
  content/bn/abstraction.md
Labels: lang/bn

#433 [bn] Localize application_programming_interface.md
  content/bn/application_programming_interface.md
  content/bn/devops.md
Labels: lang/bn

#427 [bn] Localize cloud_computing.md
  content/bn/cloud_computing.md
Labels: lang/bn

#416 [bn] Localize agile_software_development.md
  content/bn/agile_software_development.md
Labels: lang/bn

#412 [bn] Localize container.md
  content/bn/container.md
Labels: lang/bn

#414 [bn] Localize cluster.md
  content/bn/cluster.md
Labels: lang/bn

#455 [bn] Localize devops.md
  content/bn/devops.md
Labels: lang/bn

#456 [bn] Localize software_as_a_service.md
  content/bn/software_as_a_service.md
Labels: lang/bn

#382 Localize container.md for Korean
  content/ko/container.md
Labels: lang/ko

#463 Stronger style for selected sidebar item
  assets/scss/_variables_project.scss
Labels: maintainers

#407 Added versioncontrol.md
  content/en/versioncontrol.md
Labels: lang/en

#403 Add and update Issue templates
  .github/ISSUE_TEMPLATE/de.yml
  .github/ISSUE_TEMPLATE/es.yml
  .github/ISSUE_TEMPLATE/fr.yml
  .github/ISSUE_TEMPLATE/it.yml
  .github/ISSUE_TEMPLATE/new-term-lang.yml
  .github/ISSUE_TEMPLATE/new-term.yml
  .github/ISSUE_TEMPLATE/pt.yml
  .github/ISSUE_TEMPLATE/update-term-lang.yml
  .github/ISSUE_TEMPLATE/update-term.yml
Labels: documentation, maintainers

#469 Rename portuguese content dir from pt to pt-br
  CODEOWNERS
  content/pt-br/.gitkeep
Labels: lang/pt

#434 Uses Auto Labeling of issues
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: enhancement

#475 Update dev-pt branch with main branch
  .github/ISSUE_TEMPLATE/de.yml
  .github/ISSUE_TEMPLATE/es.yml
  .github/ISSUE_TEMPLATE/fr.yml
  .github/ISSUE_TEMPLATE/it.yml
  .github/ISSUE_TEMPLATE/new-term-lang.yml
  .github/ISSUE_TEMPLATE/new-term.yml
  .github/ISSUE_TEMPLATE/pt.yml
  .github/ISSUE_TEMPLATE/update-term-lang.yml
  .github/ISSUE_TEMPLATE/update-term.yml
  .github/labeler.yml
  .github/settings.yml
  .github/workflows/labeler.yml
  CODEOWNERS
  README.md
  assets/scss/_variables_project.scss
  code-of-conduct.md
  content/en/versioncontrol.md
  content/en/virtual_machine.md
  content/pt-br/.gitkeep
  spin-new-glossary.md
Labels: lang/pt

#473 Modify a sentence in cloud native definition clearly
  content/en/cloud_native_tech.md
Labels: lang/en

#477 Update contribution.md
  content/en/contribute/_index.md
Labels: maintainers

#482 Add zh l10n team approvers
  .github/settings.yml
  CODEOWNERS
Labels: maintainers

#464 Settings and initial contents for Chinese localization
  config.toml
  content/zh/_index.md
  content/zh/cloud_native_tech.md
  content/zh/contribute/_index.md
  content/zh/style-guide/_index.md
  i18n/zh.toml
Labels: lang/zh
