Repository cncf/glossary, pull requests merged in 2022-05, with the labels that each got.

#730 [de] Abstraction
  content/de/abstraction.md
Labels: lang/de

#807 chore: Update index spanish files
  content/es/.wordlist.txt
  content/es/_index.md
  content/es/abstraction.md
  content/es/agile_software_development.md
  content/es/api_gateway.md
  content/es/bare_metal_machine.md
  content/es/blue_green_deployment.md
  content/es/cloud_computing.md
  content/es/contribute/_index.md
  content/es/devops.md
  content/es/infrastructure_as_code.md
  content/es/kubernetes.md
  content/es/load_balancer.md
  content/es/style-guide/_index.md
Labels: lang/es

#808 Update _TEMPLATE.md and update "please also refer to" section
  content/en/_TEMPLATE.md
  content/en/auto_scaling.md
  content/en/continuous_delivery.md
  content/en/continuous_deployment.md
  content/en/continuous_integration.md
  content/en/horizontal_scaling.md
  content/en/vertical_scaling.md
Labels: lang/en

#830 feat: add content es/contributor-ladder/_index.md
  .github/workflows/es-spellcheck.yml
  content/es/.spellcheck.yml
  content/es/.wordlist.txt
  content/es/contribute/_index.md
  content/es/contributor-ladder/_index.md
  content/es/style-guide/_index.md
Labels: lang/es

#806 Merge dev-es into main (for the first Spanish localization live version)
  .github/workflows/es-spellcheck.yml
  config.toml
  content/es/.spellcheck.yml
  content/es/.wordlist.txt
  content/es/_index.md
  content/es/abstraction.md
  content/es/agile_software_development.md
  content/es/api_gateway.md
  content/es/bare_metal_machine.md
  content/es/blue_green_deployment.md
  content/es/cloud_computing.md
  content/es/contribute/_index.md
  content/es/contributor-ladder/_index.md
  content/es/devops.md
  content/es/infrastructure_as_code.md
  content/es/kubernetes.md
  content/es/load_balancer.md
  content/es/observability.md
  content/es/style-guide/_index.md
  i18n/es.toml
Labels: lang/es, maintainers

#837 [bn] Updating files along with feedback
  content/bn/_index.md
  content/bn/cluster.md
  content/bn/contribute/_index.md
  content/bn/contributor-ladder/_index.md
  content/bn/style-guide/_index.md
  i18n/bn.toml
  layouts/partials/feedback.html
Labels: lang/bn

#804 localize reliability.md and serverless.md
  content/zh/reliability.md
  content/zh/serverless.md
Labels: lang/zh

#847 [bn] Updating the spellings
  content/bn/agile_software_development.md
Labels: lang/bn

#870 [zh] Update links to point localized pages
  content/zh/cloud_computing.md
  content/zh/cloud_native_apps.md
  content/zh/cloud_native_security.md
  content/zh/cloud_native_tech.md
  content/zh/cluster.md
  content/zh/containerization.md
  content/zh/containers_as_a_service.md
  content/zh/continuous_delivery.md
  content/zh/continuous_integration.md
  content/zh/contribute/_index.md
  content/zh/data_center.md
  content/zh/devops.md
  content/zh/distributed_apps.md
  content/zh/distributed_systems.md
  content/zh/kubernetes.md
  content/zh/microservices.md
  content/zh/monolithic_apps.md
  content/zh/reliability.md
  content/zh/scalability.md
  content/zh/serverless.md
  content/zh/service_mesh.md
  content/zh/style-guide/_index.md
  content/zh/virtual_machine.md
Labels: lang/zh

#846 Update issue template for new term to include ideal term suggestion
  .github/ISSUE_TEMPLATE/new-term.yml
Labels: maintainers

#876 [bn] Updating the contributors in the index file
  content/bn/_index.md
Labels: lang/bn

#871 Adopt semantic line breaks
  content/en/contribute/_index.md
  content/en/contributor-ladder/_index.md
  content/en/style-guide/_index.md
Labels: maintainers

#874 [zh] Localize contributor-ladder
  content/zh-cn/cloud_native_apps.md
  content/zh-cn/cloud_native_security.md
  content/zh-cn/containerization.md
  content/zh-cn/containers_as_a_service.md
  content/zh-cn/contribute/_index.md
  content/zh-cn/contributor-ladder/_index.md
  content/zh-cn/data_center.md
  content/zh-cn/devops.md
  content/zh-cn/distributed_apps.md
  content/zh-cn/distributed_systems.md
  content/zh-cn/kubernetes.md
  content/zh-cn/microservices.md
  content/zh-cn/scalability.md
  content/zh-cn/serverless.md
  content/zh-cn/service_mesh.md
  content/zh-cn/service_proxy.md
  content/zh-cn/style-guide/_index.md
Labels: lang/zh

#844 Merge dev-zh into main(for Chinese localization live version)
  .github/labeler.yml
  CODEOWNERS
  config.toml
  content/zh-cn/_index.md
  content/zh-cn/blue_green_deployment.md
  content/zh-cn/canary_deployment.md
  content/zh-cn/cloud_computing.md
  content/zh-cn/cloud_native_apps.md
  content/zh-cn/cloud_native_security.md
  content/zh-cn/cloud_native_tech.md
  content/zh-cn/cluster.md
  content/zh-cn/container-image.md
  content/zh-cn/container.md
  content/zh-cn/containerization.md
  content/zh-cn/containers_as_a_service.md
  content/zh-cn/continuous_delivery.md
  content/zh-cn/continuous_integration.md
  content/zh-cn/contribute/_index.md
  content/zh-cn/contributor-ladder/_index.md
  content/zh-cn/data_center.md
  content/zh-cn/devops.md
  content/zh-cn/distributed_apps.md
  content/zh-cn/distributed_systems.md
  content/zh-cn/kubernetes.md
  content/zh-cn/load_balancer.md
  content/zh-cn/microservices.md
  content/zh-cn/monolithic_apps.md
  content/zh-cn/reliability.md
  content/zh-cn/scalability.md
  content/zh-cn/serverless.md
  content/zh-cn/service_mesh.md
  content/zh-cn/service_proxy.md
  content/zh-cn/style-guide/_index.md
  content/zh-cn/virtual_machine.md
  content/zh-cn/virtualization.md
  content/zh-cn/zero_trust_architecture.md
  i18n/zh-cn.toml
Labels: maintainers, lang/zh

#882 [bn] Fixed the typos
  content/bn/cluster.md
  content/bn/contribute/_index.md
  content/bn/contributor-ladder/_index.md
  content/bn/devops.md
  content/bn/software_as_a_service.md
Labels: lang/bn

#884 [bn] Updating the config file
  config.toml
  content/bn/_index.md
Labels: lang/bn

#805 How it works URL clarification
  content/en/contribute/_index.md
Labels: documentation

#759 Add content/pt-br/TLS(Transport Layer Security).md
  content/pt-br/TLS(Transport Layer Security).md
Labels: lang/pt

#881 [zh] Update contribute & style-guide with main
  content/zh-cn/contribute/_index.md
  content/zh-cn/style-guide/_index.md
Labels: lang/zh

#889 [zh] Update contribute & style-guide with main (#881)
  content/zh-cn/contribute/_index.md
  content/zh-cn/style-guide/_index.md
Labels: maintainers, lang/zh

#893 [zh] Localize 'api_gateway'
  content/zh-cn/api_gateway.md
Labels: lang/zh

#898 [zh] Localize 'infrastructure_as_a_service'
  content/zh-cn/infrastructure_as_a_service.md
Labels: lang/zh

#700 Localisation PaaS
  content/it/platform_as_a_service.md
Labels: lang/it

#900 [zh] Localize horizontal_scaling.md
  content/zh-cn/horizontal_scaling.md
Labels: lang/zh

#798 [ko] Add `ko/_TEMPLATE.md`
  content/ko/_TEMPLATE.md
Labels: lang/ko

#520 [hi] Localise client_server_architecture.md
  content/hi/client_server_architecture.md
Labels: lang/hi

#490 [hi] Localize content/hi/bare_metal_machine.md
  content/hi/bare_metal_machine.md
Labels: lang/hi

#831 [ko] Update links to point localized pages
  content/ko/cloud_native_tech.md
  content/ko/microservices.md
  content/ko/monolithic_apps.md
Labels: lang/ko

#832 [it] Update links to point localized pages
  content/it/_index.md
  content/it/cloud_native_tech.md
  content/it/contribute/_index.md
  content/it/microservices.md
  content/it/nodes.md
  content/it/style-guide/_index.md
  content/it/virtual_machine.md
Labels: lang/it

#912 [it] Update links to point localized pages
  content/it/_index.md
  content/it/cloud_native_tech.md
  content/it/contribute/_index.md
  content/it/microservices.md
  content/it/nodes.md
  content/it/platform_as_a_service.md
  content/it/style-guide/_index.md
  content/it/virtual_machine.md
Labels: lang/it, maintainers

#913 [bn] Updated the Acknowledgement
  content/bn/_index.md
Labels: lang/bn

#897 [zh] Localize auto_scaling.md
  content/zh-cn/auto_scaling.md
Labels: lang/zh

#902 [zh] Localize 'application_programming_interface
  content/zh-cn/api_gateway.md
  content/zh-cn/application_programming_interface.md
  content/zh-cn/cloud_computing.md
  content/zh-cn/cloud_native_apps.md
  content/zh-cn/containers_as_a_service.md
  content/zh-cn/data_center.md
  content/zh-cn/distributed_systems.md
  content/zh-cn/kubernetes.md
  content/zh-cn/microservices.md
  content/zh-cn/scalability.md
  content/zh-cn/serverless.md
Labels: lang/zh

#904 [zh] Localize infrastructure_as_code.md
  content/zh-cn/infrastructure_as_code.md
Labels: lang/zh

#848 Merge dev-bn into main(for Bengali localization live version)
  config.toml
  content/bn/_TEMPLATE.md
  content/bn/_index.md
  content/bn/abstraction.md
  content/bn/agile_software_development.md
  content/bn/application_programming_interface.md
  content/bn/cloud_computing.md
  content/bn/cloud_native_security.md
  content/bn/cloud_native_tech.md
  content/bn/cluster.md
  content/bn/container.md
  content/bn/contribute/_index.md
  content/bn/contributor-ladder/_index.md
  content/bn/devops.md
  content/bn/software_as_a_service.md
  content/bn/style-guide/_index.md
  i18n/bn.toml
Labels: lang/bn, maintainers

#916 [zh] Keep the subheadings consistent
  content/zh-cn/cloud_native_apps.md
  content/zh-cn/cloud_native_security.md
  content/zh-cn/cloud_native_tech.md
  content/zh-cn/cluster.md
  content/zh-cn/container-image.md
  content/zh-cn/devops.md
Labels: lang/zh

#914 [zh] Localize 'agile_software_development'
  content/zh-cn/agile_software_development.md
Labels: lang/zh

#903 [zh] Localize chaos_engineering.md
  content/zh-cn/chaos_engineering.md
Labels: lang/zh
