Repository cncf/glossary, pull requests merged in 2023-06, with the labels that each got.

#2088 Settings and initial contents for Japanese localization
  .github/labeler.yml
  .github/settings.yml
  .github/workflows/es-spellcheck.yml
  .github/workflows/spellcheck.yml
  config.toml
  content/ja/_TEMPLATE.md
  content/ja/_index.md
  content/ja/cloud-computing.md
  content/ja/contribute/_index.md
  content/ja/style-guide/_index.md
  i18n/ja.toml
Labels: lang/ja

#2052 [tw] Add content/zh-tw/container.md
  content/zh-tw/container.md
Labels: lang/tw

#2110 [bn] Localization for DevSecOps
  content/bn/devsecops.md
Labels: lang/bn

#2103 [ES] Version Control
  content/es/version-control.md
Labels: lang/es

#2056 [ko] Update microservice-architecture.md
  content/ko/microservices-architecture.md
Labels: lang/ko

#2122 Added the translated version of the Zero trust architecture.
  content/es/zero-trust-architecture.md
Labels: lang/es

#2128 Adding nate-double-u to list of en approvers
  .github/settings.yml
  CODEOWNERS
Labels: maintainers

#2097 [fr] Localize Service
  content/fr/service.md
Labels: lang/fr

#1965 [fr] Localize Observability
  content/fr/observability.md
Labels: lang/fr

#2141 Added a procedure to join the CNCF Slack workspace on main page
  content/en/_index.md
Labels: lang/en

#2048 [zh-tw] localize 'DevOps'
  content/zh-tw/devops.md
Labels: lang/tw

#2151 Update settings.yml for Tr and Bn approvers
  .github/settings.yml
Labels: maintainers

#2134 Update `CODEOWNERS`
  CODEOWNERS
Labels: maintainers

#2081 [ES] added content/es/shift-left.md
  content/es/.wordlist.txt
  content/es/shift-left.md
Labels: lang/es

#2015 [ES] Localize stateless app
  content/es/.wordlist.txt
  content/es/stateless-apps.md
Labels: lang/es

#2109 [tw] Add content/zh-tw/continuous-integration.md
  content/zh-tw/continuous-integration.md
Labels: lang/tw

#2030 [FR] Traduction de Loosely Coupled Architecture into French
  content/fr/loosely-coupled-architectures.md
Labels: lang/fr

#2040 [fr] Localize Reliability
  content/fr/reliability.md
Labels: lang/fr

#1862 Traduction de scalability.md
  content/fr/scalability.md
Labels: lang/fr

#2174 Follow the latest commit in main branch
  .github/settings.yml
  .github/workflows/es-spellcheck.yml
  .github/workflows/spellcheck.yml
  .gitignore
  CODEOWNERS
  content/en/_index.md
  content/en/style-guide/_index.md
  spin-new-glossary.md
Labels: lang/ja

#1250 [hi] Localize content/hi/cloud-computing.md
  content/hi/cloud-computing.md
Labels: lang/hi

#1305 DevsecOps.md localised to Hindi
  content/hi/devsecops.md
Labels: lang/hi

#2150 [FR] localize Distributed Apps
  content/fr/distributed-apps.md
Labels: lang/fr

#2145 [fr] Localize Virtualization
  content/fr/virtualization.md
Labels: lang/fr

#2060 [fr] Localize vertical scaling
  content/fr/vertical-scaling.md
Labels: lang/fr

#2171 [fr] Add sestegra as an fr approver in dev-fr branch
  .github/settings.yml
  CODEOWNERS
Labels: maintainers, lang/fr

#2183 Add `castrojo` to the list of English approvers
  .github/settings.yml
  CODEOWNERS
Labels: maintainers

#2116 [FR] localization of Microservice-architecture
  content/fr/microservices-architecture.md
Labels: lang/fr

#2142 [fr] Localize bare metal machine
  content/fr/bare-metal-machine.md
Labels: lang/fr

#1443 [hi] Localize `Serverless` for Hindi
  content/hi/serverless.md
Labels: lang/hi

#2147 [FR] localize Nodes
  content/fr/nodes.md
Labels: lang/fr

#2170 [fr] update frontmatters
  content/fr/abstraction.md
  content/fr/agile-software-development.md
  content/fr/api-gateway.md
  content/fr/application-programming-interface.md
  content/fr/cloud-native-apps.md
  content/fr/cloud-native-tech.md
  content/fr/distributed-systems.md
  content/fr/infrastructure-as-code.md
  content/fr/monolithic-apps.md
  content/fr/tightly-coupled-architectures.md
  content/fr/virtual-machine.md
Labels: lang/fr

#1809 [it] Localization term autoscaling
  content/it/auto-scaling.md
  content/it/containers-as-a-service.md
Labels: lang/it

#2001 [EN] add Pod
  content/en/pod.md
Labels: lang/en, Tech review 1 ✅, Tech review 2 ✅, Edits ✅, User-friendliness ✅
