Repository cncf/glossary, pull requests merged in 2023-07, with the labels that each got.

#1992 [ES] added content/es/service-proxy
  content/es/.wordlist.txt
  content/es/service-proxy.md
Labels: lang/es

#2189 [EN] update Virtualization
  content/en/virtualization.md
Labels: lang/en, update term, Tech review 1 ✅

#2196 dev-es sync with main
  content/es/.wordlist.txt
  content/es/_TEMPLATE.md
  content/es/_index.md
  content/es/abstraction.md
  content/es/application-programming-interface.md
  content/es/auto-scaling.md
  content/es/bare-metal-machine.md
  content/es/blue-green-deployment.md
  content/es/chaos-engineering.md
  content/es/cloud-native-security.md
  content/es/cluster.md
  content/es/container-image.md
  content/es/containers-as-a-service.md
  content/es/continuous-integration.md
  content/es/contribute/_index.md
  content/es/data-center.md
  content/es/devops.md
  content/es/distributed-apps.md
  content/es/distributed-systems.md
  content/es/edge-computing.md
  content/es/event-driven-architecture.md
  content/es/function-as-a-service.md
  content/es/horizontal-scaling.md
  content/es/hypervisor.md
  content/es/immutable-infrastructure.md
  content/es/infrastructure-as-code.md
  content/es/kubernetes.md
  content/es/load-balancer.md
  content/es/microservices-architecture.md
  content/es/monolithic-apps.md
  content/es/mutual-transport-layer-security.md
  content/es/nodes.md
  content/es/platform-as-a-service.md
  content/es/reliability.md
  content/es/scalability.md
  content/es/search.md
  content/es/security-chaos-engineering.md
  content/es/self-healing.md
  content/es/serverless.md
  content/es/service-discovery.md
  content/es/service-mesh.md
  content/es/service-proxy.md
  content/es/service.md
  content/es/shift-left.md
  content/es/site-reliability-engineering.md
  content/es/software-as-a-service.md
  content/es/stateful-apps.md
  content/es/stateless-apps.md
  content/es/style-guide/_index.md
  content/es/version-control.md
  content/es/vertical-scaling.md
  content/es/virtual-machine.md
  content/es/virtualization.md
  content/es/zero-trust-architecture.md
  i18n/es.toml
Labels: lang/es

#2188 [tw] Add content/zh-tw/zero-trust-architecture.md
  content/zh-tw/zero-trust-architecture.md
Labels: lang/tw

#2180 [fr] Fix merge conflicts on config.toml
  config.toml
Labels: lang/fr

#2194 [ES] Localize Tightly Coupled Architectures
  content/es/tightly-coupled-architectures.md
Labels: lang/es

#2218 [FR] update Virtualization following issue 2143
  content/fr/virtualization.md
Labels: lang/fr

#2219 [FR] Remove links to 'Deprecated' / 'Feedback Appreciated' terms
  content/fr/containerization.md
Labels: lang/fr

#2201 [fr] remove 's' on loosely-coupled-architectures.md
  content/fr/loosely-coupled-architecture.md
Labels: lang/fr

#2049 1409 german localize containers
  content/de/containers.md
Labels: lang/de

#2227 [FR] Localize immutable infrastructure
  content/fr/immutable-infrastructure.md
Labels: lang/fr

#2043 [fr] Localize autoscaling
  content/fr/auto-scaling.md
Labels: lang/fr

#2205 [fr] Localize search
  content/fr/search.md
Labels: lang/fr

#2212 [fr] Localize idempotence
  content/fr/idempotence.md
Labels: lang/fr

#2202 Reput the french translation for container
  content/fr/container.md
Labels: lang/fr

#2039 Initialize traduction of Kubernetes into french
  content/fr/kubernetes.md
Labels: lang/fr

#2208 [DE] localize Cluster
  content/de/cluster.md
Labels: lang/de

#2161 [FR] Initialize cluster into French
  content/fr/cluster.md
Labels: lang/fr

#2222 Updating how server is launched locally
  .gitignore
  README.md
  netlify.toml
  package-lock.json
  package.json
Labels: enhancement, maintainers

#2224 Update `config.toml` to resolve warnings
  config.toml
Labels: maintainers

#2235 [tr] Add website config for Turkish
  config.toml
  i18n/tr.toml
Labels: lang/tr

#2004 [fr] Localize term DevOps
  content/fr/devops.md
Labels: lang/fr

#2239 [tr] Add Turkish translation for _index.md
  content/tr/_index.md
Labels: lang/tr

#2238 Add missing sestegra for merging into dev-fr
  .github/settings.yml
Labels: maintainers, lang/fr

#2250 chore: Fix whitespace and a few trivial typos
  CONTRIBUTING.md
  LOCALIZATION.md
  README.md
  assets/json/offline-search-index.json
  content/en/container-orchestration.md
  content/en/edge-computing.md
  spin-new-glossary.md
Labels: lang/en

#2237 [EN] update idempotence
  content/en/idempotence.md
Labels: lang/en, Tech review 1 ✅, Tech review 2 ✅, Edits ✅

#2256 aggiunto termine vertical scaling e deprecati termini , issue #1657 #1660
  content/it/containers-as-a-service.md
  content/it/debugging.md
  content/it/firewall.md
  content/it/managed-services.md
  content/it/platform-as-a-service.md
  content/it/software-as-a-service.md
  content/it/version-control.md
  content/it/vertical-scaling.md
Labels: lang/it
