Repository cncf/glossary, pull requests merged in 2023-04, with the labels that each got.

#1882 [ur] Localize 'application-programming-interface' in urdu
  content/ur/application-programming-interface.md
Labels: lang/ur

#1872 Sync dev-es branch with main
  .github/workflows/es-spellcheck.yml
  .github/workflows/spellcheck.yml
  assets/scss/_cookie-banner.scss
  layouts/partials/footer.html
Labels: lang/es, maintainers

#1870 [ES] added content/es/horizontal-autoscaling.md
  content/es/.wordlist.txt
  content/es/horizontal-scaling.md
Labels: lang/es

#1879 Issue template + confirmation to meet criteria
  .github/ISSUE_TEMPLATE/new-term.yml
Labels: documentation, lang/en, maintainers

#1880 Updated 2nd issue template
  .github/ISSUE_TEMPLATE/update-term.yml
Labels: documentation, lang/en, maintainers

#1835 Update _index.md
  content/en/contribute/_index.md
Labels: documentation, lang/en

#1668 Update observability
  content/en/observability.md
Labels: lang/en

#1899 [ur] Localized virtualization.md in dev-ur
  content/ur/virtualization.md
Labels: lang/ur

#1445 Add /pt-br/microservices.md
  content/pt-br/microservices.md
Labels: lang/pt

#1444 Add /pt-br/observability
  content/pt-br/observability.md
Labels: lang/pt

#1916 Update `dev-ur` branch with `main`
  .github/ISSUE_TEMPLATE/new-term.yml
  .github/ISSUE_TEMPLATE/update-term.yml
  content/en/contribute/_index.md
  content/en/observability.md
  layouts/_default/terms.html
  layouts/partials/taxonomy_terms_article.html
Labels: maintainers, lang/ur

#1912 [ur] Localize Auto Scaling Term(s) in Urdu
  content/ur/auto-scaling.md
Labels: lang/ur

#1914 [ur] Localize Containerization Term(s) in Urdu
  content/ur/containerization.md
Labels: lang/ur

#1910 [ur] Localized 'devops' in Urdu
  content/ur/devops.md
Labels: lang/ur

#1895 [bn] Localize zero-trust-architecture.md
  content/bn/zero-trust-architecture.md
Labels: lang/bn

#1900 [bn] Localized the content/bn/event-driven-architecture.md
  content/bn/event-driven-architecture.md
Labels: lang/bn

#1858 [Spanish] localize 'Site Reliability Engineering'
  content/es/.wordlist.txt
  content/es/site-reliability-engineering.md
Labels: lang/es

#1884 Fix dev-es stale GH workflow
  .github/workflows/stale.yml
Labels: lang/es

#1877 [ko] Localize bare-metal-machine.md
  content/ko/bare-metal-machine.md
Labels: lang/ko

#1919 [ko] Update tags for Korean Docs
  content/ko/abstraction.md
  content/ko/auto-scaling.md
  content/ko/cloud-computing.md
  content/ko/cloud-native-apps.md
  content/ko/cloud-native-tech.md
  content/ko/cluster.md
  content/ko/container.md
  content/ko/debugging.md
  content/ko/idempotence.md
  content/ko/infrastructure-as-code.md
  content/ko/microservices-architecture.md
  content/ko/monolithic-apps.md
  content/ko/scalability.md
  content/ko/service.md
  content/ko/virtual-machine.md
Labels: lang/ko

#1922 [ur] Localize 'container.md' in urdu
  content/ur/container.md
Labels: lang/ur

#1938 [ur] Localize Distributed Systems Term(s) in Urdu
  content/ur/distributed-systems.md
Labels: lang/ur

#1883 [ES] added content/es/hypervisor.md
  content/es/hypervisor.md
Labels: lang/es

#1867 [ES] added missing sections + semantic line breaks in content/es/style-guide & content/es/contribute
  content/es/contribute/_index.md
  content/es/style-guide/_index.md
Labels: lang/es

#1902 [bn] Localize transport-layer-security.md
  content/bn/transport-layer-security.md
Labels: lang/bn

#1939 [ES] content/es/serverless.md
  content/es/.wordlist.txt
  content/es/serverless.md
Labels: lang/es

#1963 [bn] Localize for continuous-deployment.md
  content/bn/continuous-deployment.md
Labels: lang/bn

#1951 [es] Update references
  content/es/application-programming-interface.md
  content/es/auto-scaling.md
  content/es/bare-metal-machine.md
  content/es/chaos-engineering.md
  content/es/cloud-native-security.md
  content/es/cluster.md
  content/es/container-image.md
  content/es/containers-as-a-service.md
  content/es/continuous-integration.md
  content/es/devops.md
  content/es/distributed-apps.md
  content/es/distributed-systems.md
  content/es/immutable-infrastructure.md
  content/es/infrastructure-as-code.md
  content/es/kubernetes.md
  content/es/load-balancer.md
  content/es/monolithic-apps.md
  content/es/platform-as-a-service.md
  content/es/reliability.md
  content/es/scalability.md
Labels: lang/es

#1955 [fr] Traduction pour `API gateway`
  content/fr/api-gateway.md
Labels: lang/fr

#1949 Update tags for Urdu localization 'ur.toml'
  i18n/ur.toml
Labels: lang/ur

#1943 Merge 'dev-ur' into 'main' (first Urdu localization live version)
  config.toml
  content/ur/_TEMPLATE.md
  content/ur/_index.md
  content/ur/abstraction.md
  content/ur/application-programming-interface.md
  content/ur/auto-scaling.md
  content/ur/cloud-computing.md
  content/ur/container.md
  content/ur/containerization.md
  content/ur/contribute/_index.md
  content/ur/contributor-ladder/_index.md
  content/ur/devops.md
  content/ur/distributed-systems.md
  content/ur/style-guide/_index.md
  content/ur/virtual-machine.md
  content/ur/virtualization.md
  i18n/ur.toml
Labels: maintainers, lang/ur

#1887 Sync dev-es to main branch
  content/es/.wordlist.txt
  content/es/container-orchestration.md
  content/es/container.md
  content/es/containers-as-a-service.md
  content/es/continuous-deployment.md
  content/es/contribute/_index.md
  content/es/database-as-a-service.md
  content/es/devsecops.md
  content/es/distributed-apps.md
  content/es/distributed-systems.md
  content/es/firewall.md
  content/es/horizontal-scaling.md
  content/es/loosely-coupled-architecture.md
  content/es/microservices-architecture.md
  content/es/transport-layer-security.md
  i18n/es.toml
Labels: lang/es

#1428 service.md localised to Hindi
  content/hi/service.md
Labels: lang/hi

#1975 Adding All CNCF sites link to footer
  assets/scss/_footer.scss
  i18n/bn.toml
  i18n/de.toml
  i18n/en.toml
  i18n/es.toml
  i18n/hi.toml
  i18n/it.toml
  i18n/ko.toml
  i18n/pt-br.toml
  i18n/ur.toml
  i18n/zh-cn.toml
  layouts/partials/footer.html
Labels: maintainers

#1538 [hi] Localise Event-streaming in Hindi
  content/hi/event-streaming.md
Labels: lang/hi

#1559 Add microservices.md
  content/hi/microservices.md
Labels: lang/hi

#1950 Sync node term
  content/es/nodes.md
Labels: lang/es

#1941 [ES] content/es/security-chaos-engineering.md
  content/es/.wordlist.txt
  content/es/security-chaos-engineering.md
Labels: lang/es

#1857 [ko] Localize application-programming-interface.md
  content/ko/application-programming-interface.md
Labels: lang/ko

#1929 [ko] update Korean cloud-native-tech.md naturally
  content/ko/cloud-native-tech.md
Labels: lang/ko

#1931 [ko] Deprecate Korean container-as-a-service.md
  content/ko/container-as-a-service.md
Labels: lang/ko

#1933 [ko] Deprecated Korean debugging.md
  content/ko/debugging.md
Labels: lang/ko

#1937 [ko] Fix broken link in Korean monolithic-apps
  content/ko/monolithic-apps.md
Labels: lang/ko

#1979 Tweaks to footer layout
  assets/scss/_footer.scss
  layouts/partials/footer.html
Labels: maintainers

#1801 [ES] added content/es/data-center.md
  content/es/data-center.md
Labels: lang/es

#1856 [es] #1775 Issue: Localized the software-as-a-service.md document
  content/es/software-as-a-service.md
Labels: lang/es

#1503 Add content/en/role-based access control(RBAC)
  content/en/role-based-access-control.md
  wordlist.txt
Labels: lang/en

#1976 Add sestegra as an fr approver
  .github/settings.yml
  CODEOWNERS
Labels: maintainers, lang/fr

#1982 [ES] added es/content/service-mesh.md
  content/es/service-mesh.md
Labels: lang/es

#1980 Es virtual machine
  content/es/bare-metal-machine.md
  content/es/virtual-machine.md
Labels: lang/es
