Repository cncf/glossary, pull requests merged in 2023-05, with the labels that each got.

#1932 [ko] Update Korean continuous-delivery.md naturally
  content/ko/continuous-delivery.md
Labels: lang/ko

#1934 [ko] Update Korean devops.md naturally
  content/ko/devops.md
Labels: lang/ko

#1978 [bn] Localize multitenancy.md
  content/bn/multitenancy.md
Labels: lang/bn

#1968 [bn] Localize for hypervisor.md
  content/bn/hypervisor.md
Labels: lang/bn

#1974 fr: add missing translation for `distributed-systems` (resolves #1973)
  content/fr/distributed-systems.md
Labels: lang/fr

#1959 Traduction de tightly-coupled-architectures.md
  content/fr/tightly-coupled-architectures.md
Labels: lang/fr

#1962 [fr] Localize API
  content/fr/application-programming-interface.md
Labels: lang/fr

#1936 [ko] Update Korean infrastructure-as-code.md naturally
  content/ko/infrastructure-as-code.md
Labels: lang/ko

#1952 [ko] Localize UI strings in ko.toml
  i18n/ko.toml
Labels: lang/ko

#2005 [ko] Update and rename container-as-a-service.md
  content/ko/containers-as-a-service.md
Labels: lang/ko

#2003 Add initial approvers for Traditional Chinese
  .github/settings.yml
  CODEOWNERS
Labels: maintainers, lang/tw

#2008 [zh] update cloud-computing.md
  content/zh-cn/cloud-computing.md
Labels: lang/zh

#1954 Update workflows to check outdated
  .github/workflows/check-outdated-content.yaml
  .github/workflows/post-outdated-content-report.yaml
Labels: lang/ko

#1885 [it] Localizzazione termine Service Discovery
  content/it/service-discovery.md
Labels: lang/it

#1803 [it] Localizzazione termine mTLS
  content/it/mutual-transport-layer-security.md
Labels: lang/it

#1833 [it] Localizzazione termine Kubernetes
  content/it/kubernetes.md
Labels: lang/it

#1756 [it] Localizzazione termine Bare Metal Machine
  content/it/bare-metal-machine.md
Labels: lang/it

#1619 [it] Localizzazione Application Programming Interface (API)
  content/it/application-programming-interface.md
Labels: lang/it

#2014 [it] fix continuous delivery filename and links
  content/it/continuous-delivery.md
Labels: lang/it

#2013 [it] Localizzazione Blue Green Deployment
  content/it/blue-green-deployment.md
Labels: lang/it

#1981 [ES] es-function-as-a-service
  content/es/.wordlist.txt
  content/es/function-as-a-service.md
Labels: lang/es

#2006 Settings and initial contents for Traditional Chinese localization
  config.toml
  content/zh-tw/_index.md
  content/zh-tw/cloud-native-tech.md
  content/zh-tw/contribute/_index.md
  content/zh-tw/contributor-ladder/_index.md
  content/zh-tw/style-guide/_index.md
  i18n/zh-tw.toml
Labels: lang/tw

#2002 [es] Translate tags section in es.toml file
  i18n/es.toml
Labels: lang/es, maintainers

#2021 Update lang names in `config.toml`
  config.toml
Labels: maintainers

#2024 Update labeler.yml to add lang/tw and lang/ja
  .github/labeler.yml
Labels: maintainers

#1991 [ES] added content/es/service-discovery
  content/es/service-discovery.md
Labels: lang/es

#2010 [ES] added content/es/stateful-apps.md
  content/es/stateful-apps.md
Labels: lang/es

#1869 [ES] added compute/es/edge-computing.md
  content/es/edge-computing.md
Labels: lang/es

#2044 [ko] Localize continuous-integration.md
  content/ko/continuous-integration.md
Labels: lang/ko

#2027 [ko] Translate ''managed-services"
  content/ko/managed-services.md
Labels: lang/ko

#2046 Update permission and add initial approvers for Japanese
  .github/settings.yml
Labels: maintainers

#1940 [bn] Localize the content/bn/event-streaming.md file
  content/bn/event-streaming.md
Labels: lang/bn

#1905 [bn] Localize virtualization.md
  content/bn/virtualization.md
Labels: lang/bn

#1904 [bn] Localize vertical-scaling.md
  content/bn/vertical-scaling.md
Labels: lang/bn

#1903 [bn] Localize version-control.md
  content/bn/version-control.md
Labels: lang/bn

#1972 [bn] Localize edge-computing.md
  content/bn/edge-computing.md
Labels: lang/bn

#2036 [tw] Add content/zh-tw/container-orchestration.md
  content/zh-tw/container-orchestration.md
Labels: lang/tw

#2047 [ko] Localize "Version Control"
  content/ko/version-control.md
Labels: lang/ko

#2068 [ES] content/es/vertical-scaling.md
  content/es/auto-scaling.md
  content/es/horizontal-scaling.md
  content/es/vertical-scaling.md
Labels: lang/es

#2055 [ko] Update outdated Korean _index.md
  content/ko/_index.md
Labels: lang/ko

#2000 [FR] Localize `Self Healing`
  content/fr/self-healing.md
Labels: lang/fr

#2071 [ES] content/es/_TEMPLATE.md
  content/es/_TEMPLATE.md
Labels: lang/es

#2091 [ES] Service.md
  content/es/abstraction.md
  content/es/blue-green-deployment.md
  content/es/event-driven-architecture.md
  content/es/function-as-a-service.md
  content/es/microservices-architecture.md
  content/es/service-mesh.md
  content/es/service.md
Labels: lang/es

#2035 [tw] Add content/zh-tw/canary-deployment.md
  content/zh-tw/canary-deployment.md
Labels: lang/tw

#2086 [ES] /content/es/search.md
  content/es/.wordlist.txt
  content/es/search.md
Labels: lang/es

#2072 [ES] content/es/mutual-transport-layer-security.md
  content/es/.wordlist.txt
  content/es/mutual-transport-layer-security.md
Labels: lang/es

#2098 Es self healing
  content/es/kubernetes.md
  content/es/self-healing.md
Labels: lang/es
