Repository cncf/glossary, pull requests merged in 2023-03, with the labels that each got.

#1739 ES localization of ´Loosely coupled architecture´
  content/es/loosely-coupled-architecture.md
Labels: lang/es

#1743 [ES] localization of 'distributed system'
  content/es/.wordlist.txt
  content/es/distributed-systems.md
Labels: lang/es

#1742 Update Microservices architecture term
  content/es/microservices-architecture.md
Labels: lang/es

#1698 [bn] Localization of Service Proxy
  content/bn/service-proxy.md
Labels: lang/bn

#1692 [bn] Localize for client-server-architecture.md
  content/bn/client-server-architecture.md
Labels: lang/bn

#1754 Create devsecops.md
  content/es/.wordlist.txt
  content/es/devsecops.md
Labels: lang/es

#1759 [ES] localization ´Containers as a Service'
  content/es/.wordlist.txt
  content/es/containers-as-a-service.md
Labels: lang/es

#1790 [bn] Localize for continuous-delivery.md
  content/bn/continuous-delivery.md
Labels: lang/bn

#1792 Localize 'glossary/content/bn/tightly-coupled-architectures.md'.
  content/bn/tightly-coupled-architectures.md
Labels: lang/bn

#1704 Add Rodolfo Martinez to Spanish approver team
  .github/settings.yml
  CODEOWNERS
Labels: lang/es, maintainers

#1748 [es] tags section in i18n config file
  i18n/es.toml
Labels: lang/es, maintainers

#1797 [ES] added content/es/firewall.md
  content/es/.wordlist.txt
  content/es/firewall.md
Labels: lang/es

#1789 Update _index.md
  content/es/.wordlist.txt
  content/es/contribute/_index.md
Labels: lang/es

#1802 [ES] added content/es/container-orchestration.md
  content/es/.wordlist.txt
  content/es/container-orchestration.md
Labels: lang/es

#1805 [ES] added content/es/database-as-a-service.md
  content/es/.wordlist.txt
  content/es/database-as-a-service.md
Labels: lang/es

#1806 Sync dev-es branch with main
  .github/settings.yml
  CODEOWNERS
  assets/scss/_search.scss
  assets/scss/_styles_project.scss
  assets/scss/_tag-search.scss
  assets/scss/_taxonomy.scss
  content/en/_index.md
  content/en/data-center.md
  i18n/bn.toml
  i18n/de.toml
  i18n/en.toml
  i18n/es.toml
  i18n/hi.toml
  i18n/it.toml
  i18n/ko.toml
  i18n/pt-br.toml
  i18n/zh-cn.toml
  layouts/_default/terms.html
  layouts/partials/sidebar-tree.html
  layouts/partials/taxonomy_terms_article.html
  static/images/how-to/howto-14(old).png
  static/images/how-to/howto-14.png
  static/images/how-to/howto-16(old).png
  static/images/how-to/howto-16.png
  static/js/tag-search.js
  wordlist.txt
Labels: lang/es

#1753 [ko] Translate "Site Reliability Engineering"
  content/ko/site-reliability-engineering.md
Labels: lang/ko

#1474 Add /pt-br/infrastructure-as-a-service.md
  content/pt-br/infrastructure-as-a-service.md
Labels: lang/pt

#1517 Add /pt-br/monolithic-apps
  content/pt-br/monolithic-apps.md
Labels: lang/pt

#1817 [bn] Localize immutable-infrastructure.md
  content/bn/immutable-infrastructure.md
Labels: lang/bn

#1810 [bn] Localize canary-deployment.md
  content/bn/canary-deployment.md
Labels: lang/bn

#1811 [bn] Localize database-as-a-service.md
  content/bn/database-as-a-service.md
Labels: lang/bn

#1812 [bn] Localize debugging.md
  content/bn/debugging.md
Labels: lang/bn

#1813 [bn] Localize function-as-a-service.md
  content/bn/function-as-a-service.md
Labels: lang/bn

#1814 [bn] Localize horizontal-scaling.md
  content/bn/horizontal-scaling.md
Labels: lang/bn

#1818 [bn] Localize managed-services.md
  content/bn/managed-services.md
Labels: lang/bn

#1808 Update _index.md
  content/es/.wordlist.txt
  content/es/contribute/_index.md
Labels: lang/es

#1794 localize 'Containers'
  content/es/container.md
Labels: lang/es

#1825 [bn] Localize nodes.md
  content/bn/nodes.md
Labels: lang/bn

#1836 bn-localizes-platform-as-a-service.md
  content/bn/platform-as-a-service.md
Labels: lang/bn

#1827 [bn] loalized mutual-transport-layer-security.md
  content/bn/mutual-transport-layer-security.md
Labels: lang/bn

#1828 [bn] localization shift-left.md
  content/bn/shift-left.md
Labels: lang/bn

#1826 [bn] localize Service Mesh.md
  content/bn/service-mesh.md
Labels: lang/bn

#1841 [bn] Localize observability.md
  content/bn/observability.md
Labels: lang/bn

#1848 [bn] Localize stateless-apps.md
  content/bn/stateless-apps.md
Labels: lang/bn

#1845 [bn] Localize gitops.md
  content/bn/gitops.md
Labels: lang/bn

#1844 [bn] Localize serverless.md
  content/bn/serverless.md
Labels: lang/bn

#1746 [it] Localizzazione termine Service Proxy
  content/it/service-proxy.md
Labels: lang/it

#1838 [bn] Localization for distributed system
  content/bn/distributed-systems.md
Labels: lang/bn

#1832 [bn] Localization for Distributed apps
  content/bn/distributed-apps.md
Labels: lang/bn

#1851 [ko] Localize api-gateway.md
  content/ko/api-gateway.md
Labels: lang/ko
