Repository cncf/glossary, pull requests merged in 2023-02, with the labels that each got.

#1679 [bn] localization for service discovery
  content/bn/service discovery.md
Labels: lang/bn

#1418 [ko] Translate 'Container-as-a-Service'
  content/ko/container-as-a-service.md
Labels: lang/ko

#1613 Add codespaces support
  .devcontainer.json
  README.md
Labels: enhancement, maintainers

#1663 FaaS: Removing proprietary product names
  content/en/function-as-a-service.md
Labels: lang/en

#1670 Issue 813 - Kubernetes to PT-BR
  content/pt-br/kubernetes.md
Labels: lang/pt

#1685 "who can contribute" to "how to" guide
  content/en/contribute/_index.md
Labels: lang/en, maintainers

#1433 [FR] Traduction de virtual-machine.md
  content/fr/virtual-machine.md
Labels: lang/fr

#1272 Localize service-mesh fr
  content/fr/service-mesh.md
Labels: lang/fr

#1666 Traduction de container-orchestration en FR
  content/fr/container-orchestration.md
  content/fr/container.md
Labels: lang/fr

#1636 1394-spanish-localize-microservicesarchitecture
  content/es/.wordlist.txt
  content/es/microservices-architecture.md
Labels: lang/es

#674 [hi] localize service_mesh.md
  content/hi/service-mesh.md
Labels: lang/hi

#1249 [dev-hi] Localize content/en/zero-trust-architecture.md into Hi
  content/hi/zero-trust-architecture.md
Labels: lang/hi

#1295 [ko] Agile-software-development.md
  content/ko/agile-software-development.md
Labels: lang/ko

#1713 [ko] update agile-software-development.md
  content/ko/agile-software-development.md
Labels: lang/ko

#1700 Updating IT localization on main branch
  content/it/api-gateway.md
  content/it/canary-deployment.md
  content/it/chaos_engineering.md
  content/it/client-server-architecture.md
  content/it/cloud-native-tech.md
  content/it/cloud_native_apps.md
  content/it/cloud_native_security.md
  content/it/cluster.md
  content/it/containerization.md
  content/it/containers-as-a-service.md
  content/it/containers.md
  content/it/continuous-delivery(CD).md
  content/it/debugging.md
  content/it/devops.md
  content/it/devsecops.md
  content/it/distributed-apps.md
  content/it/distributed_system.md
  content/it/event-driven-architecture.md
  content/it/firewall.md
  content/it/idempotence.md
  content/it/immutable-infrastructure.md
  content/it/infrastructure-as-a-service.md
  content/it/infrastructure-as-code.md
  content/it/loosely-coupled-architecture.md
  content/it/managed-services.md
  content/it/microservices.md
  content/it/monolithic-apps.md
  content/it/multitenancy.md
  content/it/nodes.md
  content/it/observability.md
  content/it/platform-as-a-service.md
  content/it/portability.md
  content/it/scalability.md
  content/it/self-healing.md
  content/it/service-mesh.md
  content/it/service.md
  content/it/shift-left.md
  content/it/site-reliability-engineering.md
  content/it/software-as-a-service.md
  content/it/stateful-apps.md
  content/it/tightly-coupled-architectures.md
  content/it/tls.md
  content/it/version-control.md
  content/it/virtual-machine.md
Labels: lang/it, maintainers

#1706 i18n the word "tag" (closes #1233)
  i18n/bn.toml
  i18n/de.toml
  i18n/en.toml
  i18n/es.toml
  i18n/hi.toml
  i18n/it.toml
  i18n/ko.toml
  i18n/pt-br.toml
  i18n/zh-cn.toml
  layouts/_default/taxonomy.html
  layouts/_default/terms.html
Labels: maintainers

#1716 Update the check outdated terms workflow
  .github/workflows/check-outdated-terms.yaml
Labels: lang/ko, maintainers

#1638 [Spanish] Localize Multitenancy
  content/es/.wordlist.txt
  content/es/multitenancy.md
Labels: lang/es

#1701 [es] Localization scalability.md
  content/es/scalability.md
Labels: lang/es

#1736 [zh-cn] sync shift-left.md
  content/zh-cn/shift-left.md
Labels: lang/zh

#1738 Add FaaS description in Portugese
  content/pt-br/function-as-a-service.md
Labels: lang/pt

#1691 [fr] Traduction pour `Abstraction`
  content/fr/abstraction.md
Labels: lang/fr

#1273 Localize cloud-native apps and tech to fr
  content/fr/cloud-native-apps.md
  content/fr/cloud-native-tech.md
Labels: lang/fr

#1744 Home update
  content/en/_index.md
Labels: lang/en, maintainers

#1541 Data center update
  content/en/data-center.md
  wordlist.txt
Labels: lang/en

#1695 Translate continous-delivery in Korean
  content/ko/continuous-delivery.md
Labels: lang/ko

#1745 Merge Spanish contribution(dev-es) to main
  content/es/.wordlist.txt
  content/es/microservices-architecture.md
  content/es/monolithic-apps.md
  content/es/multitenancy.md
  content/es/scalability.md
Labels: lang/es, maintainers

#1715 Search by Tags
  assets/scss/_search.scss
  assets/scss/_styles_project.scss
  assets/scss/_tag-search.scss
  assets/scss/_taxonomy.scss
  i18n/bn.toml
  i18n/de.toml
  i18n/en.toml
  i18n/es.toml
  i18n/hi.toml
  i18n/it.toml
  i18n/ko.toml
  i18n/pt-br.toml
  i18n/zh-cn.toml
  layouts/_default/terms.html
  layouts/partials/sidebar-tree.html
  layouts/partials/taxonomy_terms_article.html
  static/js/tag-search.js
Labels: maintainers

#1423 513 german localize client server architecture
  content/de/client-server-architecture.md
Labels: lang/de

#1720 ES: Localize term 'distributed apps' apps in Spanish.
  content/es/distributed-apps.md
Labels: lang/es
