Repository cncf/glossary, pull requests merged in 2023-11, with the labels that each got.

#2571 [ja] Localize monolithic apps
  content/ja/monolithic-apps.md
Labels: lang/ja

#2576 First merge `dev-tw` into `main`(for Traditional Chinese localization live version)
  config.toml
  content/zh-tw/_index.md
  content/zh-tw/abstraction.md
  content/zh-tw/agile-software-development.md
  content/zh-tw/api-gateway.md
  content/zh-tw/blue-green-deployment.md
  content/zh-tw/canary-deployment.md
  content/zh-tw/chaos-engineering.md
  content/zh-tw/client-server-architecture.md
  content/zh-tw/cloud-computing.md
  content/zh-tw/cloud-native-tech.md
  content/zh-tw/cluster.md
  content/zh-tw/container-orchestration.md
  content/zh-tw/container.md
  content/zh-tw/continuous-delivery.md
  content/zh-tw/continuous-deployment.md
  content/zh-tw/continuous-integration.md
  content/zh-tw/contribute/_index.md
  content/zh-tw/contributor-ladder/_index.md
  content/zh-tw/devops.md
  content/zh-tw/devsecops.md
  content/zh-tw/distributed-apps.md
  content/zh-tw/distributed-systems.md
  content/zh-tw/ebpf.md
  content/zh-tw/edge-computing.md
  content/zh-tw/function-as-a-service.md
  content/zh-tw/horizontal-scaling.md
  content/zh-tw/idempotence.md
  content/zh-tw/kubernetes.md
  content/zh-tw/monolithic-apps.md
  content/zh-tw/multitenancy.md
  content/zh-tw/nodes.md
  content/zh-tw/observability.md
  content/zh-tw/pod.md
  content/zh-tw/reliability.md
  content/zh-tw/scalability.md
  content/zh-tw/service-mesh.md
  content/zh-tw/shift-left.md
  content/zh-tw/site-reliability-engineering.md
  content/zh-tw/style-guide/_index.md
  content/zh-tw/transport-layer-security.md
  content/zh-tw/vertical-scaling.md
  content/zh-tw/virtual-machine.md
  content/zh-tw/virtualization.md
  content/zh-tw/zero-trust-architecture.md
  i18n/zh-tw.toml
Labels: maintainers, lang/tw

#2577 Add additional approver for Russian
  .github/settings.yml
  CODEOWNERS
Labels: maintainers

#2574 [tw] Localize `Service` for Traditional Chinese
  content/zh-tw/scalability.md
  content/zh-tw/service.md
Labels: lang/tw

#2586 Update approvers for Hindi localization
  .github/settings.yml
  CODEOWNERS
Labels: maintainers

#2371 [FR] Localize `Continuous Delivery` to French
  content/fr/continuous-delivery.md
Labels: lang/fr

#2320 PT-BR changes to the main branch
  content/pt-br/abstraction.md
  content/pt-br/application-programming-interface.md
  content/pt-br/auto-scaling.md
  content/pt-br/blue-green-deployment.md
  content/pt-br/canary-deployment.md
  content/pt-br/client-server-architecture.md
  content/pt-br/cloud-computing.md
  content/pt-br/cloud-native-apps.md
  content/pt-br/cloud-native-tech.md
  content/pt-br/cluster.md
  content/pt-br/container.md
  content/pt-br/continuous-delivery.md
  content/pt-br/continuous-deployment.md
  content/pt-br/data-center.md
  content/pt-br/debugging.md
  content/pt-br/devsecops.md
  content/pt-br/distributed-systems.md
  content/pt-br/event-driven-architecture.md
  content/pt-br/event-streaming.md
  content/pt-br/firewall.md
  content/pt-br/function-as-a-service.md
  content/pt-br/idempotence.md
  content/pt-br/infrastructure-as-a-service.md
  content/pt-br/infrastructure-as-code.md
  content/pt-br/kubernetes.md
  content/pt-br/microservices.md
  content/pt-br/monolithic-apps.md
  content/pt-br/nodes.md
  content/pt-br/observability.md
  content/pt-br/platform-as-a-service.md
  content/pt-br/portability.md
  content/pt-br/reliability.md
  content/pt-br/scalability.md
  content/pt-br/serverless.md
  content/pt-br/service.md
  content/pt-br/software-as-a-service.md
  content/pt-br/stateful-apps.md
  content/pt-br/stateless-apps.md
  content/pt-br/tightly-coupled-architectures.md
  content/pt-br/transport-layer-security.md
  content/pt-br/version-control.md
  content/pt-br/virtual-machine.md
  content/pt-br/virtualization.md
Labels: lang/pt, maintainers

#2582 [ja] Localize microservices architecture
  content/ja/microservices-architecture.md
Labels: lang/ja

#2215 Localize hi.toml
  i18n/hi.toml
Labels: lang/hi, maintainers

#2589 [tw] Localize `_TEMPLATE.md` for Traditional Chinese
  content/zh-tw/_TEMPLATE.md
Labels: lang/tw

#2594 [tw] Unified term
  content/zh-tw/blue-green-deployment.md
  content/zh-tw/cloud-native-tech.md
Labels: lang/tw

#2591 [en] Fix typo
  content/en/microservices-architecture.md
Labels: lang/en

#1615 [hi] Localize kubernetes.md to Hindi
  content/hi/kubernetes.md
Labels: lang/hi

#1632 [hi] Localize application-programming-interface.md to Hindi
  content/hi/application-programming-interface.md
Labels: lang/hi

#1718 [hi] Localize cloud-native-security.md to Hindi
  content/hi/cloud-native-security.md
Labels: lang/hi, maintainers

#1674 [hi] Localize virtualization.md to Hindi
  content/hi/virtualization.md
Labels: lang/hi

#2584 [tw] Localize `Infrastructure as Code` for Traditional Chinese
  content/zh-tw/infrastructure-as-code.md
Labels: lang/tw

#1729 [hi] Localize idempotence.md to Hindi
  content/hi/idempotence.md
Labels: lang/hi, Awaiting 2nd approval

#1988 [hi] Localize horizontal-scaling.md to Hindi
  content/hi/horizontal-scaling.md
Labels: lang/hi, Awaiting 2nd approval

#2608 [hi] Localize security-chaos-engineering.md
  content/hi/security-chaos-engineering.md
Labels: lang/hi

#1642 [hi] Localize self-healing.md
  content/hi/self-healing.md
Labels: lang/hi, Awaiting 2nd approval

#2629 Replace developer-guy with rwxdash as TR approver
  .github/settings.yml
  CODEOWNERS
Labels: maintainers, lang/tr

#2467 [tw] localize API for traditional chinese (#2459)
  content/zh-tw/application-programming-interface.md
Labels: lang/tw

#2581 [tw] Localize `Serverless` for Traditional Chinese
  content/zh-tw/serverless.md
Labels: lang/tw

#2638 [tr] Agile software development translation
  content/tr/agile-software-development.md
Labels: lang/tr

#1639 create observability.md
  content/hi/observability.md
Labels: lang/hi, Awaiting 2nd approval

#2564 [FR] Localize `Policy as Code`
  content/fr/policy-as-code.md
Labels: lang/fr

#2644 [tr] Add Turkish localization for container.md
  content/tr/container.md
Labels: lang/tr

#2645 [tr] Add Turkish localization for infrastructure-as-code.md
  content/tr/infrastructure-as-code.md
Labels: lang/tr

#1721 [hi] Localize cloud native apps.md to Hindi
  content/hi/cloud native apps.md
Labels: lang/hi, Awaiting 2nd approval

#2163 Create service discovery.md
  content/hi/service discovery.md
Labels: lang/hi, Awaiting 2nd approval

#2580 [tw] Localize `mTLS` for Traditional Chinese
  content/zh-tw/mutual-transport-layer-security.md
Labels: lang/tw

#2435 [FR] Localize Role-based Access Control (RBAC) to French
  content/fr/role-based-access-control.md
Labels: lang/fr
