Repository cncf/glossary, pull requests merged in 2023-09, with the labels that each got.

#2344 [tr] Add Turkish localization for cloud native tech
  content/tr/cloud-native-tech.md
Labels: lang/tr

#2319 [tr] Add Turkish localization for style-guide/_index.md
  content/tr/_index.md
  content/tr/contribute/_index.md
  content/tr/style-guide/_index.md
Labels: lang/tr

#2287 Localize continuous integration #1650
  content/it/continuous-integration.md
Labels: lang/it

#2246 [it] Localizzazione Serverless
  content/it/serverless.md
Labels: lang/it

#2159 [it] Localizzazione termine Zero Trust Architecture
  content/it/zero-trust-architecture.md
Labels: lang/it

#2308 [tw] Localize Kubernetes for Traditional Chinese
  content/zh-tw/kubernetes.md
Labels: lang/tw

#2283 [tw] Use a more common translation for "Cloud Native" in Traditional Chinese
  config.toml
  content/zh-tw/cloud-native-tech.md
  content/zh-tw/cluster.md
  content/zh-tw/contribute/_index.md
  content/zh-tw/contributor-ladder/_index.md
Labels: lang/tw

#2342 [ES] updated content/es/service-mesh.md
  content/es/.wordlist.txt
  content/es/service-mesh.md
Labels: lang/es

#2317 Update serverless.md
  content/en/serverless.md
Labels: lang/en

#2353 Update Spanish reference links
  content/es/auto-scaling.md
  content/es/bare-metal-machine.md
  content/es/cloud-computing.md
  content/es/cloud-native-apps.md
  content/es/container-image.md
  content/es/continuous-delivery.md
  content/es/devops.md
  content/es/horizontal-scaling.md
  content/es/hypervisor.md
  content/es/immutable-infrastructure.md
  content/es/infrastructure-as-a-service.md
  content/es/infrastructure-as-code.md
  content/es/kubernetes.md
  content/es/loosely-coupled-architecture.md
  content/es/microservices-architecture.md
  content/es/mutual-transport-layer-security.md
  content/es/nodes.md
  content/es/platform-as-a-service.md
  content/es/scalability.md
  content/es/stateful-apps.md
  content/es/style-guide/_index.md
Labels: lang/es

#2268 Removing Catherine maintainer mentions
  content/en/_index.md
  content/en/contribute/_index.md
Labels: lang/en, maintainers

#2343 Update ownership and emeritus state
  .github/settings.yml
  CODEOWNERS
  LOCALIZATION.md
  README.md
  content/en/_index.md
  content/en/contribute/_index.md
Labels: lang/en, maintainers, lang/tw, lang/ja, lang/ru

#2288 [FR] Fixes before merge
  content/fr/_index.md
  content/fr/abstraction.md
  content/fr/agile-software-development.md
  content/fr/api-gateway.md
  content/fr/application-programming-interface.md
  content/fr/auto-scaling.md
  content/fr/bare-metal-machine.md
  content/fr/cloud-computing.md
  content/fr/cloud-native-apps.md
  content/fr/cloud-native-tech.md
  content/fr/cluster.md
  content/fr/container-orchestration.md
  content/fr/container.md
  content/fr/containerization.md
  content/fr/contribute/_index.md
  content/fr/devops.md
  content/fr/distributed-apps.md
  content/fr/distributed-systems.md
  content/fr/horizontal-scaling.md
  content/fr/idempotence.md
  content/fr/immutable-infrastructure.md
  content/fr/infrastructure-as-code.md
  content/fr/kubernetes.md
  content/fr/loosely-coupled-architecture.md
  content/fr/microservices-architecture.md
  content/fr/monolithic-apps.md
  content/fr/nodes.md
  content/fr/observability.md
  content/fr/reliability.md
  content/fr/scalability.md
  content/fr/self-healing.md
  content/fr/service-mesh.md
  content/fr/service.md
  content/fr/style-guide/_index.md
  content/fr/tightly-coupled-architectures.md
  content/fr/vertical-scaling.md
  content/fr/virtual-machine.md
  content/fr/virtualization.md
Labels: lang/fr

#1629 [it] Localization security-chaos-engineering.md
  content/it/security-chaos-engineering.md
Labels: lang/it

#1662 [it] Localizzazione termine Cloud computing
  content/it/cloud-computing.md
Labels: lang/it

#2327 [tw] Update style guide in Traditional Chinese
  content/zh-tw/style-guide/_index.md
Labels: lang/tw

#2102 [it] Localizzazione termine Virtualization
  content/it/virtualization.md
Labels: lang/it

#2362 [ja] Localize Virtual Machine for Japanese
  content/ja/virtual-machine.md
Labels: lang/ja

#2367 Merge `main` to `dev-fr` branch
  .github/labeler.yml
  .github/settings.yml
  .github/workflows/check-outdated-content.yaml
  .github/workflows/es-spellcheck.yml
  .github/workflows/spellcheck.yml
  CODEOWNERS
  CONTRIBUTING.md
  LOCALIZATION.md
  README.md
  assets/json/offline-search-index.json
  content/bn/bare-metal-machine.md
  content/bn/containerization.md
  content/bn/multitenancy.md
  content/bn/site-reliability-engineering.md
  content/bn/stateful-apps.md
  content/de/blue-green-deployment.md
  content/en/_index.md
  content/en/blue-green-deployment.md
  content/en/container-orchestration.md
  content/en/containerization.md
  content/en/contribute/_index.md
  content/en/devsecops.md
  content/en/ebpf.md
  content/en/edge-computing.md
  content/en/idempotence.md
  content/en/multitenancy.md
  content/en/runtime.md
  content/en/serverless.md
  content/en/site-reliability-engineering.md
  content/en/stateful-apps.md
  content/en/virtual-machine.md
  content/es/blue-green-deployment.md
  content/es/containerization.md
  content/es/multitenancy.md
  content/hi/containerization.md
  content/hi/infrastructure-as-code.md
  content/it/containerization.md
  content/it/immutable-infrastructure.md
  content/it/managed-services.md
  content/it/multitenancy.md
  content/it/stateful-apps.md
  content/ko/containerization.md
  content/pt-br/containerization.md
  content/pt-br/stateful-apps.md
  content/ur/containerization.md
  content/zh-cn/containerization.md
  content/zh-cn/stateful-apps.md
  spin-new-glossary.md
  wordlist.txt
Labels: lang/en, lang/pt, lang/it, lang/hi, lang/ko, lang/de, lang/bn, lang/es, lang/zh

#2314 [bn] localization update `content/bn/_index.md`
  content/bn/_index.md
Labels: lang/bn

#2340 add distributed-system
  content/pt-br/distributed-systems.md
Labels: lang/pt

#2365 [ja] Localize Tightly coupled architectures for Japanese
  content/ja/tightly-coupled-architectures.md
Labels: lang/ja

#2363 [tw] Update _index.md for Traditional Chinese
  content/zh-tw/_index.md
Labels: lang/tw

#2193 [ja] Localize cloud native tech
  content/ja/cloud-native-tech.md
Labels: lang/ja

#2370 Add @guillaumebernard84 as an fr approver
  .github/settings.yml
  CODEOWNERS
Labels: maintainers

#2385 Merged main to dev-es Spanish branch
  content/es/.wordlist.txt
  content/es/auto-scaling.md
  content/es/bare-metal-machine.md
  content/es/cloud-computing.md
  content/es/cloud-native-apps.md
  content/es/container-image.md
  content/es/continuous-delivery.md
  content/es/devops.md
  content/es/horizontal-scaling.md
  content/es/hypervisor.md
  content/es/immutable-infrastructure.md
  content/es/infrastructure-as-a-service.md
  content/es/infrastructure-as-code.md
  content/es/kubernetes.md
  content/es/loosely-coupled-architecture.md
  content/es/microservices-architecture.md
  content/es/mutual-transport-layer-security.md
  content/es/nodes.md
  content/es/platform-as-a-service.md
  content/es/scalability.md
  content/es/service-mesh.md
  content/es/stateful-apps.md
  content/es/style-guide/_index.md
  content/es/tightly-coupled-architectures.md
Labels: lang/es, maintainers

#2278 [ko] Update contribute/_index.md
  content/ko/contribute/_index.md
Labels: lang/ko

#2352 rename some files
  content/hi/bare-metal-machine.md
  content/hi/client-server-architecture.md
Labels: lang/hi

#2364 [es] Localize role-based-access-control (RBAC) #2186
  content/es/.wordlist.txt
  content/es/role-based-access-control.md
Labels: lang/es

#2388 Update check-outdated-content.yaml
  .github/workflows/check-outdated-content.yaml
Labels: maintainers

#2369 [FR] Update _index.md
  content/fr/_index.md
Labels: lang/fr

#2358 Merge `dev-fr` to `main` branch for our first release.
  config.toml
  content/fr/_TEMPLATE.md
  content/fr/_index.md
  content/fr/abstraction.md
  content/fr/agile-software-development.md
  content/fr/api-gateway.md
  content/fr/application-programming-interface.md
  content/fr/auto-scaling.md
  content/fr/bare-metal-machine.md
  content/fr/cloud-computing.md
  content/fr/cloud-native-apps.md
  content/fr/cloud-native-tech.md
  content/fr/cluster.md
  content/fr/container-orchestration.md
  content/fr/container.md
  content/fr/containerization.md
  content/fr/contribute/_index.md
  content/fr/devops.md
  content/fr/distributed-apps.md
  content/fr/distributed-systems.md
  content/fr/horizontal-scaling.md
  content/fr/idempotence.md
  content/fr/immutable-infrastructure.md
  content/fr/infrastructure-as-code.md
  content/fr/kubernetes.md
  content/fr/loosely-coupled-architecture.md
  content/fr/microservices-architecture.md
  content/fr/monolithic-apps.md
  content/fr/nodes.md
  content/fr/observability.md
  content/fr/reliability.md
  content/fr/scalability.md
  content/fr/search.md
  content/fr/self-healing.md
  content/fr/service-mesh.md
  content/fr/service.md
  content/fr/style-guide/_index.md
  content/fr/tightly-coupled-architectures.md
  content/fr/vertical-scaling.md
  content/fr/virtual-machine.md
  content/fr/virtualization.md
  i18n/fr.toml
Labels: maintainers, lang/fr

#2389 Add a Workflow that automatically add a comment based on labels
  .github/auto-comment-config.yaml
  .github/workflows/auto-comment.yml
Labels: maintainers

#2359 [tw] Update `contribute/_index.md` for Traditional Chinese
  content/zh-tw/contribute/_index.md
Labels: lang/tw

#2398 [tw] Localize Site Reliabilitgy Engineering for Traditional Chinese (#2372)
  content/zh-tw/site-reliability-engineering.md
Labels: lang/tw

#2402 Merge `main` into `dev-fr` to enable @guillaumebernard84 as a reviewer
  .github/auto-comment-config.yaml
  .github/settings.yml
  .github/workflows/auto-comment.yml
  .github/workflows/check-outdated-content.yaml
  CODEOWNERS
  content/es/.wordlist.txt
  content/es/auto-scaling.md
  content/es/bare-metal-machine.md
  content/es/cloud-computing.md
  content/es/cloud-native-apps.md
  content/es/container-image.md
  content/es/continuous-delivery.md
  content/es/devops.md
  content/es/horizontal-scaling.md
  content/es/hypervisor.md
  content/es/immutable-infrastructure.md
  content/es/infrastructure-as-a-service.md
  content/es/infrastructure-as-code.md
  content/es/kubernetes.md
  content/es/loosely-coupled-architecture.md
  content/es/microservices-architecture.md
  content/es/mutual-transport-layer-security.md
  content/es/nodes.md
  content/es/platform-as-a-service.md
  content/es/scalability.md
  content/es/service-mesh.md
  content/es/stateful-apps.md
  content/es/style-guide/_index.md
  content/es/tightly-coupled-architectures.md
Labels: maintainers

#2391 Localize cloud native apps for Japanese
  content/ja/cloud-native-apps.md
Labels: lang/ja

#2263 [FR] Localize `canary deployment`
  content/fr/canary-deployment.md
Labels: lang/fr

#2258 [FR] Localize `Portability`
  content/fr/portability.md
Labels: lang/fr

#2395 [ko] update site-reliability-engineering.md
  content/ko/site-reliability-engineering.md
Labels: lang/ko

#2394 [ko] update virtual-machine.md
  content/ko/virtual-machine.md
Labels: lang/ko

#2393 [ko] update contribute/_index.md
  content/ko/contribute/_index.md
Labels: lang/ko

#2316 Localize Cloud Native Security in french
  content/fr/cloud-native-security.md
Labels: lang/fr

#2339 localization of IaaS FR
  content/fr/IaaS.md
Labels: lang/fr

#2421 Merge dev-de in main
  config.toml
  content/de/bare-metal-machine.md
  content/de/client-server-architecture.md
  content/de/cluster.md
  content/de/containers.md
Labels: lang/de

#2428 Localize cloud native security for Japanese
  content/ja/cloud-native-security.md
Labels: lang/ja
