Repository cncf/glossary, pull requests merged in 2023-01, with the labels that each got.

#1570 Fix taxonomy issues
  content/en/containers-as-a-service.md
  content/en/database-as-a-service.md
  content/en/debugging.md
  content/en/firewall.md
  content/en/managed-services.md
  content/en/platform-as-a-service.md
  content/en/software-as-a-service.md
  content/en/version-control.md
  layouts/partials/head.html
  layouts/partials/page-meta-links.html
  layouts/partials/taxonomy_terms_cloud.html
Labels: maintainers

#1577 Get active indicators working on topnav
  assets/scss/_header.scss
Labels: maintainers

#1578 Add terms from dev-pt to main (live)
  content/pt-br/devsecops.md
  content/pt-br/distributed-apps.md
  content/pt-br/event-streaming.md
  content/pt-br/nodes.md
  content/pt-br/platform-as-a-service.md
  content/pt-br/service.md
  content/pt-br/shift-left.md
  content/pt-br/tightly-coupled-architectures.md
  i18n/pt-br.toml
Labels: lang/pt, maintainers

#1431 Add german translation for bare metal machine
  content/de/bare-metal-machine.md
Labels: lang/de

#1583 [Portuguese] Update tags to all terms
  content/pt-br/abstraction.md
  content/pt-br/application-programming-interface.md
  content/pt-br/auto-scaling.md
  content/pt-br/blue-green-deployment.md
  content/pt-br/canary-deployment.md
  content/pt-br/client-server-architecture.md
  content/pt-br/cloud-computing.md
  content/pt-br/cloud-native-apps.md
  content/pt-br/cloud-native-tech.md
  content/pt-br/cluster.md
  content/pt-br/container.md
  content/pt-br/continuous-delivery.md
  content/pt-br/data-center.md
  content/pt-br/debugging.md
  content/pt-br/devsecops.md
  content/pt-br/event-streaming.md
  content/pt-br/firewall.md
  content/pt-br/idempotence.md
  content/pt-br/infrastructure-as-code.md
  content/pt-br/nodes.md
  content/pt-br/platform-as-a-service.md
  content/pt-br/portability.md
  content/pt-br/reliability.md
  content/pt-br/scalability.md
  content/pt-br/serverless.md
  content/pt-br/service.md
  content/pt-br/software-as-a-service.md
  content/pt-br/stateful-apps.md
  content/pt-br/stateless-apps.md
  content/pt-br/tightly-coupled-architectures.md
  content/pt-br/transport-layer-security.md
  content/pt-br/version-control.md
  content/pt-br/virtual-machine.md
  content/pt-br/virtualization.md
Labels: lang/pt

#1505 1398 spanish localize nodes
  content/es/.wordlist.txt
  content/es/nodes.md
Labels: lang/es

#1527 [it] Localizzazione termine immutable infrastructure
  content/it/immutable-infrastructure.md
Labels: lang/it

#1537 [IT] Localizzazione termine Multitenancy
  content/it/multitenancy.md
Labels: lang/it

#1239 [it] Localizzazione Stateful Apps
  content/it/stateful-apps.md
Labels: lang/it

#1450 Fixed a typo.
  content/it/cloud-native-tech.md
Labels: lang/it

#1466 [it] Localizzazione termine Observability
  content/it/observability.md
Labels: lang/it

#1539 Policy as Code edits
  content/en/policy-as-code.md
Labels: lang/en

#1549 Microservices > microservices architecture
  content/en/microservices-architecture.md
  content/en/microservices.md
  static/_redirects
  wordlist.txt
Labels: lang/en, maintainers

#1576 Add glossary / pt-br / Event-Driven Architecture (#1206)
  content/pt-br/event-driven-architecture.md
Labels: lang/pt

#1608 Localization Reliability bn
  content/bn/reliability.md
Labels: lang/bn

#1522 Update contributor ladder index
  content/es/.wordlist.txt
  content/es/contributor-ladder/_index.md
Labels: lang/es

#1524 Update tags in headers
  content/es/.wordlist.txt
  content/es/abstraction.md
  content/es/application-programming-interface.md
  content/es/auto-scaling.md
  content/es/blue-green-deployment.md
  content/es/canary-deployment.md
  content/es/client-server-architecture.md
  content/es/cloud-computing.md
  content/es/cloud-native-apps.md
  content/es/cloud-native-tech.md
  content/es/cluster.md
  content/es/continuous-delivery.md
  content/es/debugging.md
  content/es/digital-certificate.md
  content/es/event-driven-architecture.md
  content/es/event-streaming.md
  content/es/gitops.md
  content/es/idempotence.md
  content/es/immutable-infrastructure.md
  content/es/infrastructure-as-code.md
  content/es/kubernetes.md
  content/es/managed-services.md
  content/es/platform-as-a-service.md
  content/es/policy-as-code.md
  content/es/reliability.md
Labels: lang/es

#1605 Update infrastructure as a service
  content/es/infrastructure-as-a-service.md
Labels: lang/es

#1521 Update contribute index page
  content/es/.wordlist.txt
  content/es/contribute/_index.md
Labels: lang/es

#1631 [bn] Localization for Service
  content/bn/service.md
Labels: lang/bn

#1520 Update chaos engineering term
  content/es/chaos-engineering.md
  content/es/chaos_engineering.md
Labels: lang/es

#1634 sync dev-es branch to main
  .github/workflows/es-spellcheck.yml
  .github/workflows/labeler.yml
  .github/workflows/spellcheck.yml
  assets/scss/_header.scss
  content/en/containers-as-a-service.md
  content/en/database-as-a-service.md
  content/en/debugging.md
  content/en/edge-computing.md
  content/en/firewall.md
  content/en/managed-services.md
  content/en/microservices-architecture.md
  content/en/microservices.md
  content/en/multitenancy.md
  content/en/platform-as-a-service.md
  content/en/policy-as-code.md
  content/en/software-as-a-service.md
  content/en/style-guide/_index.md
  content/en/version-control.md
  content/pt-br/devsecops.md
  content/pt-br/distributed-apps.md
  content/pt-br/event-streaming.md
  content/pt-br/nodes.md
  content/pt-br/platform-as-a-service.md
  content/pt-br/service.md
  content/pt-br/shift-left.md
  content/pt-br/tightly-coupled-architectures.md
  i18n/pt-br.toml
  layouts/partials/head.html
  layouts/partials/page-meta-links.html
  layouts/partials/taxonomy_terms_cloud.html
  static/_redirects
  wordlist.txt
Labels: lang/es

#1302 Traduction de container.md
  content/fr/_TEMPLATE.md
  content/fr/container.md
Labels: lang/fr

#1287 [hi] Localize content/en/virtual-machine.md
  content/hi/virtual-machine.md
Labels: lang/hi

#1644 Add terms from dev-es branch to main
  .github/workflows/es-spellcheck.yml
  content/es/.wordlist.txt
  content/es/_index.md
  content/es/abstraction.md
  content/es/agile-software-development.md
  content/es/api-gateway.md
  content/es/application-programming-interface.md
  content/es/auto-scaling.md
  content/es/bare-metal-machine.md
  content/es/blue-green-deployment.md
  content/es/canary-deployment.md
  content/es/chaos-engineering.md
  content/es/client-server-architecture.md
  content/es/cloud-computing.md
  content/es/cloud-native-apps.md
  content/es/cloud-native-security.md
  content/es/cloud-native-tech.md
  content/es/cluster.md
  content/es/container-image.md
  content/es/containerization.md
  content/es/continuous-delivery.md
  content/es/continuous-integration.md
  content/es/contribute/_index.md
  content/es/contributor-ladder/_index.md
  content/es/debugging.md
  content/es/devops.md
  content/es/digital-certificate.md
  content/es/event-driven-architecture.md
  content/es/event-streaming.md
  content/es/gitops.md
  content/es/idempotence.md
  content/es/immutable-infrastructure.md
  content/es/infrastructure-as-a-service.md
  content/es/infrastructure-as-code.md
  content/es/kubernetes.md
  content/es/load-balancer.md
  content/es/managed-services.md
  content/es/nodes.md
  content/es/observability.md
  content/es/platform-as-a-service.md
  content/es/policy-as-code.md
  content/es/portability.md
  content/es/reliability.md
Labels: lang/es

#1432 [French] Traduction de containerization.md
  content/fr/containerization.md
Labels: lang/fr

#1426 Traduction de Monolithic-apps.md
  content/fr/monolithic-apps.md
Labels: lang/fr

#1637 [Spanish] Localize Monolitic Applications
  content/es/monolithic-apps.md
Labels: lang/es

#1625 Adds CNCF GDPR banner
  assets/scss/_cookie-banner.scss
  assets/scss/_styles_project.scss
  layouts/partials/head.html
Labels: maintainers

#1673 Correct 2 URLs
  content/en/kubernetes.md
Labels: bug, lang/en
