Repository cncf/glossary, pull requests merged in 2023-10, with the labels that each got.

#2261 [FR] Localize `blue-green deployment`
  content/fr/blue-green-deployment.md
Labels: lang/fr

#2336 [FR] Localize `Continuous Integration`
  content/fr/continuous-integration.md
Labels: lang/fr

#2361 Localize ebpf #2334
  content/it/ebpf.md
Labels: lang/it

#2374 Localize runtime #2335
  content/it/runtime.md
Labels: lang/it

#1630 [it] Localization function-as-a-service.md
  content/it/function-as-a-service.md
Labels: lang/it

#2442 Localize Contributor Ladder for Japanese
  content/ja/contributor-ladder/_index.md
Labels: lang/ja

#2424 [tw] Localize Chaos Engineering for Traditional Chinese (#2412)
  content/zh-tw/chaos-engineering.md
Labels: lang/tw

#2383 [tw] Localize Virtual Machine for Traditional Chinese (#2308)
  content/zh-tw/virtual-machine.md
Labels: lang/tw

#2463 [tw]Update `Horizontal Scaling` for Traditional Chinese
  content/zh-tw/horizontal-scaling.md
Labels: lang/tw

#2465 [tw] Localize Nodes for Traditional Chinese
  content/zh-tw/nodes.md
Labels: lang/tw

#2396 [ko] Update _index.md
  content/ko/_index.md
Labels: lang/ko

#2133 [ko] Translate 'self-healing- into Korean
  content/ko/self-healing.md
Labels: lang/ko

#2416 [ko] Localize canary-deployment.md
  content/ko/canary-deployment.md
Labels: lang/ko

#2487 [tw] Add content/zh-tw/distributed-system
  content/zh-tw/distributed-system.md
Labels: lang/tw

#2494 [tw]Maintain labeling consistency 'architecture' and 'security'
  content/zh-tw/api-gateway.md
  content/zh-tw/cloud-native-tech.md
  content/zh-tw/cluster.md
  content/zh-tw/function-as-a-service.md
  content/zh-tw/zero-trust-architecture.md
Labels: lang/tw

#2417 localize-Container-Orchestration-#1648
  content/it/container-orchestration.md
Labels: lang/it

#2482 localize-datacenter-#2011
  content/it/data-center.md
Labels: lang/it

#2490 [tw] Add content/zh-tw/transport-layer-security.md (#2486)
  content/zh-tw/transport-layer-security.md
Labels: lang/tw

#2484 [tw] Localize Continuous Deployment (CD) for Traditional Chinese
  content/zh-tw/continuous-deployment.md
Labels: lang/tw

#2483 [tw] Localize 'Blue Green Deployment'
  content/zh-tw/blue-green-deployment.md
Labels: lang/tw

#2510 [tw] Align the filename of `distributed-systems` with the upstream
  content/zh-tw/chaos-engineering.md
  content/zh-tw/distributed-systems.md
Labels: lang/tw

#2419 [FR] localize `DevSecOps`
  content/fr/devsecops.md
Labels: lang/fr

#2485 Sync branch dev-tw from main(20231011)
  .github/workflows/es-spellcheck.yml
  .github/workflows/spellcheck.yml
Labels: maintainers, lang/tw

#2506 [tw] Unify the translation for the term `property`
  content/zh-tw/abstraction.md
Labels: lang/tw

#2522 Term/update index and howto contributing
  content/it/_index.md
  content/it/contribute/_index.md
Labels: lang/it

#2512 [tw] Localize `Idempotence` for Traditional Chinese
  content/zh-tw/idempotence.md
Labels: lang/tw

#2508 [tw] Localize `Reliability` for Traditional Chinese
  content/zh-tw/reliability.md
Labels: lang/tw

#2496 [tw] Localize `Multitenancy` for Traditional Chinese
  content/zh-tw/multitenancy.md
Labels: lang/tw

#2514 [tw] Localize `Edge Computing` for Traditional Chinese
  content/zh-tw/edge-computing.md
Labels: lang/tw

#2520 [tw] Localize `Distributed Apps` for Traditional Chinese
  content/zh-tw/distributed-apps.md
Labels: lang/tw

#2468 [ru] Settings and initial contents for Russian localization
  config.toml
  content/ru/_TEMPLATE.md
  content/ru/_index.md
  content/ru/cloud-native-apps.md
  content/ru/cloud-native-tech.md
  content/ru/container-orchestration.md
  content/ru/container.md
  content/ru/containerization.md
  content/ru/continuous-delivery.md
  content/ru/continuous-deployment.md
  content/ru/continuous-integration.md
  content/ru/contribute/_index.md
  content/ru/devops.md
  content/ru/devsecops.md
  content/ru/kubernetes.md
  content/ru/style-guide/_index.md
  i18n/ru.toml
Labels: lang/ru

#2541 [it] Localization Contributor Ladder
  content/it/contributor-ladder/_index.md
Labels: lang/it

#2498 [tw] Localize `Scalability` for Traditional Chinese
  content/zh-tw/scalability.md
Labels: lang/tw

#2516 [tw] Localize `Vertical Scaling` for Traditional Chinese
  content/zh-tw/vertical-scaling.md
Labels: lang/tw

#2524 [tw] Localize `Client-Server Architecture` for Traditional Chinese
  content/zh-tw/client-server-architecture.md
Labels: lang/tw

#2545 [tw] Localize `eBPF` for Traditional Chinese
  content/zh-tw/ebpf.md
Labels: lang/tw

#2521 Localize scalability for Japanese
  content/ja/scalability.md
Labels: lang/ja

#2452 [FR] Localize Zero Trust Architecture to French
  content/fr/zero-trust-architecture.md
Labels: lang/fr

#2562 [ja] Localize virtualization for Japanese
  content/ja/virtualization.md
Labels: lang/ja

#2540 [tw] Localize Monolithic Apps for Traditional Chinese
  content/zh-tw/monolithic-apps.md
Labels: lang/tw

#2517 Sync branch dev-tw from main(20231017)
  content/it/application-programming-interface.md
  content/it/auto-scaling.md
  content/it/bare-metal-machine.md
  content/it/blue-green-deployment.md
  content/it/cloud-computing.md
  content/it/container-orchestration.md
  content/it/containers-as-a-service.md
  content/it/continuous-delivery.md
  content/it/continuous-deployment.md
  content/it/continuous-integration.md
  content/it/data-center.md
  content/it/debugging.md
  content/it/ebpf.md
  content/it/event-streaming.md
  content/it/firewall.md
  content/it/function-as-a-service.md
  content/it/kubernetes.md
  content/it/mutual-transport-layer-security.md
  content/it/platform-as-a-service.md
  content/it/pod.md
  content/it/policy-as-code.md
  content/it/role-based-access-control.md
  content/it/runtime.md
  content/it/security-chaos-engineering.md
  content/it/serverless.md
  content/it/service-discovery.md
  content/it/service-mesh.md
  content/it/service-proxy.md
  content/it/software-as-a-service.md
  content/it/version-control.md
  content/it/vertical-scaling.md
  content/it/virtualization.md
  content/it/zero-trust-architecture.md
Labels: maintainers, lang/tw

#2437 Update role-based-access-control.md
  content/en/role-based-access-control.md
Labels: lang/en, Tech review 1 ✅, Tech review 2 ✅, Edits ✅

#2572 Sync branch dev-tw from main(20231031)
  content/en/role-based-access-control.md
  layouts/partials/footer.html
Labels: maintainers, lang/tw
