Repository cncf/glossary, pull requests merged in 2023-12, with the labels that each got.

#2643 [hi] Localize Tightly Coupled Architectures in hindi.
  content/hi/tightly-coupled-architecture.md
Labels: lang/hi

#2590 [en] Update Vertical Scaling
  content/en/vertical-scaling.md
Labels: lang/en

#2471 [en] Add a link in cloud-native-tech.md
  content/en/cloud-native-tech.md
Labels: lang/en

#2656 [ja] Remove what it is headers
  content/ja/_TEMPLATE.md
  content/ja/cloud-computing.md
  content/ja/cloud-native-apps.md
  content/ja/cloud-native-security.md
  content/ja/cloud-native-tech.md
  content/ja/microservices-architecture.md
  content/ja/monolithic-apps.md
  content/ja/style-guide/_index.md
  content/ja/virtual-machine.md
  content/ja/virtualization.md
Labels: lang/ja

#2632 Localised shift-left into hi
  content/hi/shift-left.md
Labels: lang/hi, hold

#2670 [ja] Localize containers for Japanese
  content/ja/container.md
Labels: lang/ja

#2655 [tw] Localize `Microservices Architecture` for Traditional Chinese
  content/zh-tw/microservices-architecture.md
Labels: lang/tw

#2650 [AR] Add localized `content/ar/cluster.md`
  content/ar/cluster.md
Labels: lang/ar

#2685 Stateless statefull update noah
  content/en/stateful-apps.md
  content/en/stateless-apps.md
Labels: lang/en

#2699 [tr] Add a link in container orchestration page
  content/tr/container-orchestration.md
Labels: lang/tr

#2696 [EN] update Ingress
  content/en/ingress.md
Labels: lang/en, update term

#2703 Add Turkish localization for Cluster
  content/tr/cluster.md
Labels: lang/tr

#2698 [tr] Add Turkish l10n for Observability
  content/tr/observability.md
Labels: lang/tr

#1614 Add api-gateway-hindi.md
  content/hi/api-gateway.md
Labels: lang/hi, hold

#2626 [hi] Create vertical-scaling.md
  content/hi/vertical-scaling.md
Labels: lang/hi, hold

#2687 [ja] Localize Containerization for Japanese
  content/ja/containerization.md
Labels: lang/ja

#2704 Manually merge changes for ja in config.toml
  config.toml
Labels: maintainers, lang/ja

#2609 Create container-orchestration.md
  content/hi/container-orchestration.md
Labels: lang/hi, hold

#2675 Localize bare metal machine for Japanese
  content/ja/bare-metal-machine.md
Labels: lang/ja

#2720 [ja] Localize Continuous Delivery (CD) for Japanese
  content/ja/continuous-delivery.md
Labels: lang/ja

#2721 [ja] Localize Continuous Deployment (CD) for Japanese
  content/ja/continuous-deployment.md
Labels: lang/ja

#2728 [FR] rename fr/Iaas.md to fr/infrastructure-as-a-service.md
  content/fr/infrastructure-as-a-service.md
Labels: lang/fr

#2726 [ja] fix: Modification of the long vowel sound (ー)
  content/ja/virtual-machine.md
Labels: lang/ja

#2725 [ja] Localize Nodes for Japanese
  content/ja/nodes.md
Labels: lang/ja

#2723 [ja] Localize Pod for Japanese
  content/ja/pod.md
Labels: lang/ja

#2754 Add Turkish localization for Application Programming Interface
  content/tr/application-programming-interface.md
Labels: lang/tr

#2646 [FR] localize `Datacenter`
  content/fr/data-center.md
Labels: lang/fr

#2648 [FR] Localize `Mutual Transport Layer Security (mTLS)`
  content/fr/mutual-transport-layer-security.md
Labels: lang/fr
