Repository cncf/glossary, pull requests merged in 2023-08, with the labels that each got.

#2230 [tw] Add content/zh-tw/function-as-a-service.md
  content/zh-tw/function-as-a-service.md
Labels: lang/tw

#2255 [tw] Add content/zh-tw/devsecops.md
  content/zh-tw/devsecops.md
Labels: lang/tw

#2216 [i18n] Add `xx.toml` entries to CODEOWNERS
  CODEOWNERS
Labels: maintainers

#2085 [zh-tw] Localize 'Cloud Computing'
  content/zh-tw/cloud-computing.md
Labels: lang/tw

#2190 Enable check outdated gh action in dev-es
  .github/workflows/check-outdated-content.yaml
Labels: lang/es, maintainers

#2198 Remove links to 'Deprecated' / 'Feedback Appreciated' terms
  content/bn/bare-metal-machine.md
  content/bn/containerization.md
  content/bn/multitenancy.md
  content/bn/site-reliability-engineering.md
  content/bn/stateful-apps.md
  content/de/blue-green-deployment.md
  content/en/blue-green-deployment.md
  content/en/containerization.md
  content/en/multitenancy.md
  content/en/site-reliability-engineering.md
  content/en/stateful-apps.md
  content/es/blue-green-deployment.md
  content/es/containerization.md
  content/es/multitenancy.md
  content/hi/containerization.md
  content/hi/infrastructure-as-code.md
  content/it/containerization.md
  content/it/immutable-infrastructure.md
  content/it/managed-services.md
  content/it/multitenancy.md
  content/it/stateful-apps.md
  content/ko/containerization.md
  content/pt-br/containerization.md
  content/pt-br/stateful-apps.md
  content/ur/containerization.md
  content/zh-cn/containerization.md
  content/zh-cn/stateful-apps.md
Labels: lang/en, lang/pt, lang/it, lang/hi, lang/ko, lang/de, lang/bn, lang/es, lang/zh

#2280 Update path pattern in `.github/labeler.yml`
  .github/labeler.yml
Labels: maintainers

#2252 [FR] Fix previous merge
  .github/settings.yml
  config.toml
Labels: lang/fr

#2282 Add a space in the language name of Traditional Chinese
  config.toml
Labels: maintainers, lang/tw

#2254 [FR] Update localization for i18n/fr.toml
  i18n/fr.toml
Labels: lang/fr

#2275 [tw] Localize Service Mesh for Traditional Chinese
  content/zh-tw/service-mesh.md
Labels: lang/tw

#2272 [FR] localize `Cloud Computing`
  content/fr/cloud-computing.md
Labels: lang/fr

#2295 [ja] Localize Observability for Japanese
  content/ja/observability.md
Labels: lang/ja

#2281 [tw] Localize Shift Left for Traditional Chinese
  content/zh-tw/shift-left.md
Labels: lang/tw

#2274 [tw] Localize 'Continuous Delivery'
  content/zh-tw/continuous-delivery.md
Labels: lang/tw

#2285 [tw] Add content/zh-tw/pod.md
  content/zh-tw/pod.md
Labels: lang/tw

#2033 [EN] add Runtime
  content/en/runtime.md
  wordlist.txt
Labels: lang/en, Tech review 1 ✅, Tech review 2 ✅, Edits ✅

#2303 Update dev-tr branch - merge main
  .github/labeler.yml
  .github/settings.yml
  .github/workflows/check-outdated-content.yaml
  .github/workflows/es-spellcheck.yml
  .github/workflows/spellcheck.yml
  .gitignore
  CODEOWNERS
  CONTRIBUTING.md
  LOCALIZATION.md
  README.md
  assets/json/offline-search-index.json
  config.toml
  content/bn/bare-metal-machine.md
  content/bn/containerization.md
  content/bn/multitenancy.md
  content/bn/site-reliability-engineering.md
  content/bn/stateful-apps.md
  content/de/blue-green-deployment.md
  content/en/blue-green-deployment.md
  content/en/container-orchestration.md
  content/en/containerization.md
  content/en/edge-computing.md
  content/en/idempotence.md
  content/en/multitenancy.md
  content/en/runtime.md
  content/en/site-reliability-engineering.md
  content/en/stateful-apps.md
  content/es/blue-green-deployment.md
  content/es/containerization.md
  content/es/multitenancy.md
  content/hi/containerization.md
  content/hi/infrastructure-as-code.md
  content/it/containerization.md
  content/it/immutable-infrastructure.md
  content/it/managed-services.md
  content/it/multitenancy.md
  content/it/stateful-apps.md
  content/ko/containerization.md
  content/pt-br/containerization.md
  content/pt-br/stateful-apps.md
  content/ur/containerization.md
  content/zh-cn/containerization.md
  content/zh-cn/stateful-apps.md
  netlify.toml
  package-lock.json
  package.json
  spin-new-glossary.md
  wordlist.txt
Labels: lang/en, lang/pt, lang/it, lang/hi, lang/ko, lang/de, lang/bn, lang/es, lang/zh

#2306 [tr] Localize "How to contribute"
  content/tr/_index.md
  content/tr/contribute/_index.md
Labels: lang/tr

#2050 [EN] add eBPF
  content/en/ebpf.md
  wordlist.txt
Labels: lang/en, Tech review 1 ✅, Tech review 2 ✅, Edits ✅

#2154 [tw] Add content/zh-tw/abstraction.md
  content/zh-tw/abstraction.md
Labels: lang/tw

#2165 [tw] Add content/zh-tw/api-gateway.md
  content/zh-tw/api-gateway.md
Labels: lang/tw

#2298 add pt-br/continuous-deployment
  content/pt-br/continuous-deployment.md
Labels: lang/pt

#2318 [tw] Improve the transaltion for "How it helps" for Traditional Chinese
  content/zh-tw/canary-deployment.md
  content/zh-tw/cloud-computing.md
  content/zh-tw/cloud-native-tech.md
  content/zh-tw/cluster.md
  content/zh-tw/container-orchestration.md
  content/zh-tw/container.md
  content/zh-tw/continuous-delivery.md
  content/zh-tw/continuous-integration.md
  content/zh-tw/devops.md
  content/zh-tw/devsecops.md
  content/zh-tw/function-as-a-service.md
  content/zh-tw/pod.md
  content/zh-tw/service-mesh.md
  content/zh-tw/shift-left.md
  content/zh-tw/zero-trust-architecture.md
Labels: lang/tw

#2270 [EN] `DevSecOps` fixed error links & grammar
  content/en/devsecops.md
Labels: lang/en, Tech review 1 ✅

#2313 [tw] Add content/zh-tw/observability.md
  content/zh-tw/observability.md
Labels: lang/tw

#2312 [tw] Localize Virtualization for Traditional Chinese
  content/zh-tw/virtualization.md
Labels: lang/tw

#2155 [tw] Add content/zh-tw/agile-software-development.md
  content/zh-tw/agile-software-development.md
Labels: lang/tw

#2284 Localize continuous deployment #1649
  content/it/continuous-deployment.md
Labels: lang/it

#2264 Localize pod #2192
  content/it/pod.md
Labels: lang/it
