Repository cncf/glossary, pull requests merged in 2024-08, with the labels that each got.

#3125 [ru] Localize distributed-apps.md
  content/ru/distributed-apps.md
Labels: lang/ru

#3255 [ru] Translate mutual-transport-layer-security.md
  content/ru/mutual-transport-layer-security.md
Labels: lang/ru

#3223 [es] Enable link checking and normalize links
  .htmltest.yml
  content/es/application-programming-interface.md
  content/es/auto-scaling.md
  content/es/chaos-engineering.md
  content/es/cloud-native-apps.md
  content/es/cloud-native-tech.md
  content/es/cluster.md
  content/es/container-image.md
  content/es/container-orchestration.md
  content/es/distributed-apps.md
  content/es/firewall.md
  content/es/horizontal-scaling.md
  content/es/infrastructure-as-a-service.md
  content/es/load-balancer.md
  content/es/loosely-coupled-architecture.md
  content/es/monolithic-apps.md
  content/es/mutual-transport-layer-security.md
  content/es/platform-as-a-service.md
  content/es/virtualization.md
Labels: lang/es, maintainers

#3252 feat(pt-br): add gitops
  content/pt-br/gitops.md
Labels: lang/pt

#3271 [FR] fix links
  content/fr/chaos-engineering.md
  content/fr/cloud-native-apps.md
  content/fr/devops.md
  content/fr/function-as-a-service.md
  content/fr/loosely-coupled-architecture.md
  content/fr/microservices-architecture.md
  content/fr/stateful-apps.md
Labels: lang/fr

#3270 [FR] Merge dev-fr branch into main branch for the third French release
  content/fr/_TEMPLATE.md
  content/fr/agile-software-development.md
  content/fr/api-gateway.md
  content/fr/application-programming-interface.md
  content/fr/bare-metal-machine.md
  content/fr/blue-green-deployment.md
  content/fr/canary-deployment.md
  content/fr/chaos-engineering.md
  content/fr/client-server-architecture.md
  content/fr/cloud-computing.md
  content/fr/cloud-native-apps.md
  content/fr/cloud-native-security.md
  content/fr/cloud-native-tech.md
  content/fr/cluster.md
  content/fr/container.md
  content/fr/containerization.md
  content/fr/continuous-delivery.md
  content/fr/continuous-integration.md
  content/fr/data-center.md
  content/fr/devops.md
  content/fr/devsecops.md
  content/fr/distributed-apps.md
  content/fr/distributed-systems.md
  content/fr/ebpf.md
  content/fr/edge-computing.md
  content/fr/event-driven-architecture.md
  content/fr/event-streaming.md
  content/fr/function-as-a-service.md
  content/fr/horizontal-scaling.md
  content/fr/infrastructure-as-a-service.md
  content/fr/infrastructure-as-code.md
  content/fr/ingress.md
  content/fr/kubernetes.md
  content/fr/loosely-coupled-architecture.md
  content/fr/microservices-architecture.md
  content/fr/multitenancy.md
  content/fr/mutual-transport-layer-security.md
  content/fr/nodes.md
  content/fr/pod.md
  content/fr/policy-as-code.md
  content/fr/role-based-access-control.md
  content/fr/runtime.md
  content/fr/security-chaos-engineering.md
  content/fr/serverless.md
  content/fr/service-discovery.md
  content/fr/service-mesh.md
  content/fr/service-proxy.md
  content/fr/shift-left.md
  content/fr/site-reliability-engineering.md
  content/fr/stateful-apps.md
  content/fr/stateless-apps.md
  content/fr/style-guide/_index.md
  content/fr/tightly-coupled-architecture.md
  content/fr/transport-layer-security.md
  content/fr/vertical-scaling.md
  content/fr/zero-trust-architecture.md
Labels: lang/fr

#3224 [ru] Localize `Idempotence`
  content/ru/idempotence.md
Labels: lang/ru

#3260 Create content/es/runtime.md
  content/es/.wordlist.txt
  content/es/runtime.md
Labels: lang/es

#3230 [ru] Localize `Ingress`
  content/ru/ingress.md
Labels: lang/ru

#3146 Adding asem hamid as CODEOWNERS for Bengali
  .github/settings.yml
  CODEOWNERS
Labels: hold, lang/bn, maintainers

#3274 [bn] fix typo in bn.toml
  i18n/bn.toml
Labels: lang/bn

#3275 [bn] fix typo /bn/zero-trust-architecture.md
  content/bn/zero-trust-architecture.md
Labels: lang/bn

#3282 [bn] Fix SRE link in security-chaos-engineering.md
  content/bn/security-chaos-engineering.md
Labels: lang/bn

#3286 [bn] Update containerization.md
  content/bn/containerization.md
Labels: lang/bn

#3289 [bn] More interlinking for containerisation & virtualisation
  content/bn/container-orchestration.md
  content/bn/containerization.md
  content/bn/continuous-delivery.md
Labels: lang/bn

#3171 [bn] update application-programming-interface
  content/bn/application-programming-interface.md
Labels: lang/bn

#3281 [FR] update `vertical scaling`
  content/fr/vertical-scaling.md
Labels: lang/fr

#3280 [FR] update `observability`
  content/fr/observability.md
Labels: lang/fr

#3278 [FR] update `continuous delivery`
  content/fr/continuous-delivery.md
Labels: lang/fr

#3277 [FR] update `cloud-native-tech`
  content/fr/cloud-native-tech.md
Labels: lang/fr

#3239 [EN] Update `Serverless` - fix links
  content/en/serverless.md
Labels: lang/en

#3241 [en] Small fix for horizontal-scaling.md
  content/en/horizontal-scaling.md
Labels: lang/en

#3210 Update some dependencies
  layouts/partials/head.html
  package.json
Labels: dependencies, maintainers

#3272 [ru] Localize multitenancy.md
  content/ru/multitenancy.md
Labels: lang/ru
