Repository cncf/glossary, pull requests merged in 2024-05, with the labels that each got.

#3076 [ru] Review distributed-systems.md
  content/ru/distributed-systems.md
Labels: lang/ru

#3074 [FR] Localize `Service Proxy`
  content/fr/service-proxy.md
Labels: lang/fr

#3129 [tr] Add Turkish localization for monolithic-apps.md
  content/tr/monolithic-apps.md
Labels: lang/tr

#3128 [tr] Add Turkish localization for loosely-coupled-architecture.md
  content/tr/loosely-coupled-architecture.md
Labels: lang/tr

#3081 add pt-br/chaos-engineering
  content/pt-br/chaos-engineering.md
Labels: lang/pt

#2980 [FR] localize `Site Reliability Engineering`
  content/fr/site-reliability-engineering.md
Labels: lang/fr

#3001 [FR] localize `Chaos Engineering`
  content/fr/chaos-engineering.md
Labels: lang/fr

#3135 [FR] Renamed to `tightly-coupled-architecture.md`
  content/fr/tightly-coupled-architecture.md
Labels: update term, lang/fr

#3140 [PTBR] Merge dev-pt in the main branch
  content/pt-br/chaos-engineering.md
  content/pt-br/edge-computing.md
Labels: lang/pt, maintainers

#2807 [ar] Localize term "Pod" to Arabic
  content/ar/pod.md
Labels: lang/ar

#3063 [tr] Add Turkish localization for 'portability'
  content/tr/portability.md
Labels: lang/tr

#3139 [FR] Localize `Stateful Apps`
  content/fr/stateful-apps.md
Labels: lang/fr

#3156 Ibrahimkedir10 cloud native apps 3114
  content/en/cloud-native-apps.md
Labels: lang/en

#2688 Create service-proxy.md
  content/hi/service-proxy.md
Labels: lang/hi, hold, Awaiting/final-approval

#3078 Add Turkish localization for auto-scaling
  content/tr/auto-scaling.md
Labels: lang/tr

#3077 [ru] Localize Event Streaming in Russian
  content/ru/event-streaming.md
Labels: lang/ru

#3160 it-update policy as code term #3104
  content/it/policy-as-code.md
Labels: lang/it

#2708 Create distributed-systems.md
  content/hi/distributed-systems.md
Labels: lang/hi, hold, Awaiting/final-approval

#3151 dev-pt-2379 container orchestration
  content/pt-br/container-orchestration.md
Labels: lang/pt
