Repository cncf/glossary, pull requests merged in 2024-06, with the labels that each got.

#3067 [ES] eBPF translated to Spanish
  content/es/.wordlist.txt
  content/es/ebpf.md
Labels: lang/es

#3188 [CI & docs] Set up link checker + GH action + fix `en` links
  .github/workflows/check-links.yml
  .gitignore
  .htmltest.yml
  .nvmrc
  Makefile
  README.md
  content/en/container-orchestration.md
  content/en/loosely-coupled-architecture.md
  content/en/microservices-architecture.md
  content/en/stateful-apps.md
  package-lock.json
  package.json
Labels: lang/en

#3014 [es] localize pod into spanish
  content/es/.wordlist.txt
  content/es/pod.md
Labels: lang/es

#3157 updated "Observability" to spanish
  content/es/.wordlist.txt
  content/es/observability.md
Labels: lang/es

#3205 [ja] Enable link checking, and normalize links, add missing
  .htmltest.yml
  content/ja/chaos-engineering.md
  content/ja/container-orchestration.md
  content/ja/containerization.md
  content/ja/horizontal-scaling.md
  content/ja/loosely-coupled-architecture.md
  content/ja/stateful-apps.md
  content/ja/tightly-coupled-architecture.md
Labels: maintainers, lang/ja

#3204 [ja] Merge main into dev-ja to sync-up
  .github/settings.yml
  .github/workflows/check-links.yml
  .github/workflows/es-spellcheck.yml
  .github/workflows/post-outdated-content-report.yaml
  .github/workflows/spellcheck.yml
  .gitignore
  .htmltest.yml
  .nvmrc
  CODEOWNERS
  Makefile
  README.md
  content/en/cloud-native-apps.md
  content/en/container-orchestration.md
  content/en/loosely-coupled-architecture.md
  content/en/microservices-architecture.md
  content/en/stateful-apps.md
  content/ja/chaos-engineering.md
  content/ja/container-orchestration.md
  content/ja/containerization.md
  content/ja/horizontal-scaling.md
  content/ja/loosely-coupled-architecture.md
  content/ja/stateful-apps.md
  content/ja/tightly-coupled-architecture.md
  content/pt-br/chaos-engineering.md
  content/pt-br/edge-computing.md
  package-lock.json
  package.json
Labels: maintainers, lang/ja

#3075 Update dev-fr contributors
  .github/settings.yml
  CODEOWNERS
Labels: maintainers

#3166 [EN] Update security-chaos-engineering
  content/en/security-chaos-engineering.md
Labels: lang/en
