Repository cncf/glossary, pull requests merged in 2024-02, with the labels that each got.

#2861 [ja] Localize Runtime into Japanese
  content/ja/runtime.md
Labels: lang/ja

#2879 [Update term] Continuous Delivery for Japanese
  content/ja/continuous-delivery.md
Labels: lang/ja

#2875 [bn] Update term content/bn/contribute/_index.md
  content/bn/contribute/_index.md
Labels: lang/bn

#2479 [tw] Localize `Containerization` for Traditional Chinese
  content/zh-tw/containerization.md
Labels: lang/tw

#2634 [tw] Localize `Service Discovery` for Traditional Chinese
  content/zh-tw/service-discovery.md
Labels: lang/tw

#2892 [ja] Localize Infrastructure as Code (IaC) into Japanese
  content/ja/infrastructure-as-code.md
Labels: lang/ja

#2866 [ja] Localize Autoscaling into Japanese
  content/ja/auto-scaling.md
Labels: lang/ja

#2808 [ja] Localize Ingress for Japanese
  content/ja/ingress.md
Labels: lang/ja

#2816 [FR] Localize Event-Driven Architecture
  content/fr/event-driven-architecture.md
Labels: lang/fr

#2903 [bn] update content/bn/data-center.md
  content/bn/data-center.md
  content/bn/distributed-apps.md
  content/bn/distributed-systems.md
Labels: lang/bn

#2918 [bn] [Update term] Ingress for Bangla
  content/bn/ingress.md
Labels: lang/bn

#2897 [bn] fixing localization mistakes in content/bn/bare metal machine.md
  content/bn/bare-metal-machine.md
  content/bn/gitops.md
Labels: lang/bn

#2895 [bn] update stateful apps.md and stateless apps.md
  content/bn/stateful-apps.md
  content/bn/stateless-apps.md
Labels: lang/bn

#2910 [bn] Update kubernetes.md
  content/bn/kubernetes.md
Labels: lang/bn

#2919 [bn] Update Auto scaling.md and _TEMPLATE.md
  content/bn/_TEMPLATE.md
  content/bn/auto-scaling.md
Labels: lang/bn

#2900 [ja] Localize Portability into Japanese
  content/ja/portability.md
Labels: lang/ja

#2917 [Update term] Ingress for Japanese
  content/ja/ingress.md
Labels: lang/ja

#2899 [ja] Localize Transport Layer Security (TLS) into Japanese
  content/ja/transport-layer-security.md
Labels: hold, lang/ja

#2872 Merge dev-ja into main (for the second Japanese localization live version)
  content/ja/_index.md
  content/ja/agile-software-development.md
  content/ja/auto-scaling.md
  content/ja/continuous-delivery.md
  content/ja/horizontal-scaling.md
  content/ja/immutable-infrastructure.md
  content/ja/infrastructure-as-code.md
  content/ja/ingress.md
  content/ja/portability.md
  content/ja/runtime.md
  content/ja/service-mesh.md
  content/ja/stateless-apps.md
  content/ja/transport-layer-security.md
Labels: maintainers, lang/ja

#2802 “it-localization-ingress-#2711”
  content/it/ingress.md
Labels: lang/it

#2631 Localizzazione Edge Computing #1651
  content/it/edge-computing.md
Labels: lang/it

#2404 Rectified the grammatical error and sentences in Virtualization.md
  content/bn/virtualization.md
Labels: lang/bn

#2922 [bn] Localize digital-certificate.md
  content/bn/digital-certificate.md
Labels: lang/bn

#2925 [bn] Update observability.md
  content/bn/observability.md
Labels: lang/bn

#2927 [tr] Merge main into dev-tr
  .github/workflows/es-spellcheck.yml
  .github/workflows/post-outdated-content-report.yaml
  .github/workflows/spellcheck.yml
  config.toml
  content/en/ebpf.md
  content/ja/_TEMPLATE.md
  content/ja/_index.md
  content/ja/agile-software-development.md
  content/ja/api-gateway.md
  content/ja/application-programming-interface.md
  content/ja/auto-scaling.md
  content/ja/bare-metal-machine.md
  content/ja/client-server-architecture.md
  content/ja/cloud-computing.md
  content/ja/cloud-native-apps.md
  content/ja/cloud-native-security.md
  content/ja/cloud-native-tech.md
  content/ja/cluster.md
  content/ja/container-orchestration.md
  content/ja/container.md
  content/ja/containerization.md
  content/ja/continuous-delivery.md
  content/ja/continuous-deployment.md
  content/ja/continuous-integration.md
  content/ja/contribute/_index.md
  content/ja/contributor-ladder/_index.md
  content/ja/devops.md
  content/ja/function-as-a-service.md
  content/ja/horizontal-scaling.md
  content/ja/idempotence.md
  content/ja/immutable-infrastructure.md
  content/ja/infrastructure-as-code.md
  content/ja/ingress.md
  content/ja/kubernetes.md
  content/ja/loosely-coupled-architecture.md
  content/ja/microservices-architecture.md
  content/ja/monolithic-apps.md
  content/ja/nodes.md
  content/ja/observability.md
  content/ja/pod.md
  content/ja/portability.md
  content/ja/reliability.md
  content/ja/role-based-access-control.md
  content/ja/runtime.md
  content/ja/scalability.md
  content/ja/service-mesh.md
  content/ja/service.md
  content/ja/site-reliability-engineering.md
  content/ja/stateful-apps.md
  content/ja/stateless-apps.md
  content/ja/style-guide/_index.md
  content/ja/tightly-coupled-architectures.md
  content/ja/transport-layer-security.md
  content/ja/virtual-machine.md
  content/ja/virtualization.md
  content/ja/zero-trust-architecture.md
  i18n/ja.toml
Labels: lang/en, lang/ja

#2933 [bn] Update Style guide
  content/bn/style-guide/_index.md
Labels: lang/bn

#2934 [bn] Update _index.md
  content/bn/_index.md
Labels: lang/bn

#2898 [ja] Localize Service Proxy into Japanese
  content/ja/service-proxy.md
Labels: lang/ja

#2916 [ja] Localize Mutual Transport Layer Security (mTLS) into Japanese
  content/ja/mutual-transport-layer-security.md
Labels: lang/ja

#2755 [FR] Localize `eBPF`
  content/fr/ebpf.md
Labels: lang/fr

#2781 [FR] localize `serverless`
  content/fr/serverless.md
Labels: lang/fr

#2888 [FR] Localize Edge Computing
  content/fr/edge-computing.md
Labels: lang/fr

#2948 Localize vertical scaling for Japanese
  content/ja/horizontal-scaling.md
  content/ja/vertical-scaling.md
Labels: lang/ja

#2941 Add Turkish Localization to Transport Layer Security Page
  content/tr/transport-layer-security.md
Labels: lang/tr

#2943 [tr] Add Turkish Localization to Cloud Native Security Page
  content/tr/cloud-native-security.md
Labels: lang/tr

#2945 Add Turkish localization for cloud-native-apps
  content/tr/cloud-native-apps.md
Labels: lang/tr

#2940 [tr] Add Turkish localization for virtualization.md
  content/tr/virtualization.md
Labels: lang/tr

#2942 [tr] Add Turkish Localization to mutual Transport Layer Security Page
  content/tr/mutual-transport-layer-security.md
Labels: lang/tr

#2907 [tr] Merging the `dev-tr` branch into main branch
  config.toml
  content/tr/_index.md
  content/tr/abstraction.md
  content/tr/agile-software-development.md
  content/tr/api-gateway.md
  content/tr/application-programming-interface.md
  content/tr/blue-green-deployment.md
  content/tr/canary-deployment.md
  content/tr/client-server-architecture.md
  content/tr/cloud-computing.md
  content/tr/cloud-native-apps.md
  content/tr/cloud-native-security.md
  content/tr/cloud-native-tech.md
  content/tr/cluster.md
  content/tr/container-orchestration.md
  content/tr/container.md
  content/tr/containerization.md
  content/tr/continuous-delivery.md
  content/tr/continuous-deployment.md
  content/tr/continuous-integration.md
  content/tr/contribute/_index.md
  content/tr/data-center.md
  content/tr/distributed-apps.md
  content/tr/distributed-systems.md
  content/tr/event-driven-architecture.md
  content/tr/infrastructure-as-code.md
  content/tr/kubernetes.md
  content/tr/microservices-architecture.md
  content/tr/mutual-transport-layer-security.md
  content/tr/nodes.md
  content/tr/observability.md
  content/tr/reliability.md
  content/tr/site-reliability-engineering.md
  content/tr/stateful-apps.md
  content/tr/style-guide/_index.md
  content/tr/transport-layer-security.md
  content/tr/virtualization.md
  i18n/tr.toml
Labels: lang/tr

#2118 [EN] update Cloud Computing
  content/en/cloud-computing.md
Labels: lang/en, Tech review 1 ✅, Edits ✅

#2658 [EN] update Tightly Coupled Architecture
  content/en/tightly-coupled-architecture.md
Labels: lang/en

#2909 [en] More interlinking for containerisation & virtualisation
  content/en/container-orchestration.md
  content/en/containerization.md
  content/en/continuous-delivery.md
  content/en/virtual-machine.md
Labels: lang/en

#2701 Sorting existing languages in the menu
  LOCALIZATION.md
  config.toml
Labels: maintainers

#2935 [ja] Localize eBPF for Japanese
  content/ja/ebpf.md
Labels: lang/ja
