Repository cncf/glossary, pull requests merged in 2024-10, with the labels that each got.

#3315 Adding Hello Bar script
  layouts/partials/head.html
Labels: enhancement, maintainers

#3269 [ru] Localize nodes.md
  content/ru/nodes.md
Labels: lang/ru

#3219 [ru] Localize `Horizontal scaling`
  content/ru/horizontal-scaling.md
Labels: lang/ru

#3225 [ru] Localize `Immutable infrastructure`
  content/ru/immutable-infrastructure.md
Labels: lang/ru

#3302 [ru] Localize Observability.md
  content/ru/observability.md
Labels: lang/ru

#3227 [ru] Localize `Infrastructure-as-code`
  content/ru/infrastructure-as-code.md
Labels: lang/ru

#3208 [ru] Localize `Contributor ladder`
  content/ru/contributor-ladder/_index.md
Labels: lang/ru

#3217 [ru] Localize `function-as-a-service`
  content/ru/function-as-a-service.md
Labels: lang/ru

#3226 [ru] Localize `Infrastructure-as-a-service`
  content/ru/infrastructure-as-a-service.md
Labels: lang/ru

#3216 [ru] Localize `Edge computing`
  content/ru/edge-computing.md
Labels: lang/ru

#3322 [pt-br] Update dev-pt with the main branch
  .github/workflows/es-spellcheck.yml
  .github/workflows/spellcheck.yml
  content/en/function-as-a-service.md
  content/en/horizontal-scaling.md
  content/en/serverless.md
  content/en/stateless-apps.md
  content/hi/devops.md
  layouts/partials/head.html
  package.json
Labels: lang/pt

#3324 Translate titles: Digital certificate and Distributed System
  content/ru/digital-certificate.md
  content/ru/distributed-systems.md
Labels: lang/ru

#3323 [ru] Merge the dev-ru branch into the main branch
  content/ru/contributor-ladder/_index.md
  content/ru/data-center.md
  content/ru/digital-certificate.md
  content/ru/distributed-apps.md
  content/ru/distributed-systems.md
  content/ru/edge-computing.md
  content/ru/event-streaming.md
  content/ru/function-as-a-service.md
  content/ru/horizontal-scaling.md
  content/ru/idempotence.md
  content/ru/immutable-infrastructure.md
  content/ru/infrastructure-as-a-service.md
  content/ru/infrastructure-as-code.md
  content/ru/ingress.md
  content/ru/microservices-architecture.md
  content/ru/monolithic-apps.md
  content/ru/multitenancy.md
  content/ru/mutual-transport-layer-security.md
  content/ru/nodes.md
  content/ru/observability.md
Labels: maintainers, lang/ru

#3161 2530 german localize continuous deployment
  content/de/continuous-deployment.md
Labels: lang/de

#3206 [ru] Add "Tightly Coupled Architecture"
  content/ru/tightly-coupled-architecture.md
Labels: lang/ru

#3199 [ru] Add translations for Loosely Coupled Architectures
  content/ru/loosely-coupled-architecture.md
Labels: lang/ru
