Repository cncf/glossary, pull requests merged in 2024-11, with the labels that each got.

#3313 Add Sign Language Video Style Guide to index.md
  content/en/style-guide/_index.md
Labels: lang/en

#3297 [FR] update FaaS
  content/fr/function-as-a-service.md
Labels: lang/fr

#3238 [FR] update Serverless
  content/fr/serverless.md
Labels: lang/fr

#3345 [FR] update horizontal scaling
  content/fr/horizontal-scaling.md
Labels: lang/fr

#3346 [FR] Update stateless app
  content/fr/stateless-apps.md
Labels: lang/fr

#3300 Sync main branch with dev-hi changes
  content/hi/api-gateway.md
  content/hi/application-programming-interface.md
  content/hi/bare-metal-machine.md
  content/hi/client-server-architecture.md
  content/hi/cloud native apps.md
  content/hi/cloud-computing.md
  content/hi/cloud-native-security.md
  content/hi/container-orchestration.md
  content/hi/contribute/_index.md
  content/hi/devsecops.md
  content/hi/distributed-systems.md
  content/hi/edge-computing.md
  content/hi/event-streaming.md
  content/hi/horizontal-scaling.md
  content/hi/idempotence.md
  content/hi/kubernetes.md
  content/hi/microservices.md
  content/hi/observability.md
  content/hi/security-chaos-engineering.md
  content/hi/self-healing.md
  content/hi/serverless.md
  content/hi/service discovery.md
  content/hi/service-mesh.md
  content/hi/service-proxy.md
  content/hi/service.md
  content/hi/shift-left.md
  content/hi/tightly-coupled-architecture.md
  content/hi/transport-layer-security.md
  content/hi/vertical-scaling.md
  content/hi/virtualization.md
  content/hi/zero-trust-architecture.md
  i18n/hi.toml
Labels: lang/hi, maintainers

#3357 Add Sign Language Video Style Guide (SPA) to content/es/style-guide/index.md
  content/es/.wordlist.txt
  content/es/style-guide/_index.md
Labels: lang/es

#3301 [bn] Merge `dev-bn` branch into `main` branch
  content/bn/application-programming-interface.md
  content/bn/chaos-engineering.md
  content/bn/cloud-native-apps.md
  content/bn/container-orchestration.md
  content/bn/containerization.md
  content/bn/continuous-delivery.md
  content/bn/devops.md
  content/bn/loosely-coupled-architecture.md
  content/bn/microservices-architecture.md
  content/bn/observability.md
  content/bn/search.md
  content/bn/security-chaos-engineering.md
  content/bn/zero-trust-architecture.md
  i18n/bn.toml
Labels: hold, lang/bn, maintainers
