Repository cncf/glossary, pull requests merged in 2024-07, with the labels that each got.

#3158 [FR] Localize Security Chaos Engineering
  content/fr/security-chaos-engineering.md
Labels: lang/fr

#3213 [ja] Minor fixes for content/ja
  content/ja/contribute/_index.md
  content/ja/style-guide/_index.md
Labels: lang/ja

#3007 [EN] update containerization
  content/en/containerization.md
Labels: lang/en

#2117 [EN] add WebAssembly
  content/en/webassembly.md
  wordlist.txt
Labels: lang/en, Tech review 1 ✅, Edits ✅

#3215 [ja] Localize WebAssembly into Japanese
  content/ja/webassembly.md
Labels: lang/ja

#3229 [es] Update "Serverless" term in Spanish
  content/es/.wordlist.txt
  content/es/serverless.md
Labels: lang/es

#3220 [FR] Fix typo in titles
  content/fr/canary-deployment.md
  content/fr/security-chaos-engineering.md
Labels: lang/fr

#3202 add pt-br/pod (#3181)
  content/pt-br/pod.md
Labels: lang/pt

#3197 [fr] Enable link checking, and normalize links, add missing
  .htmltest.yml
  content/fr/container-orchestration.md
Labels: lang/fr

#3231 [es] Merge dev-es branch into main branch
  content/es/.wordlist.txt
  content/es/ebpf.md
  content/es/observability.md
  content/es/pod.md
  content/es/serverless.md
Labels: lang/es

#3143 [FR] localize multitenancy
  content/fr/multitenancy.md
Labels: lang/fr

#3240 [FR] Fix typo "quelle en est"
  content/fr/_TEMPLATE.md
  content/fr/agile-software-development.md
  content/fr/api-gateway.md
  content/fr/application-programming-interface.md
  content/fr/bare-metal-machine.md
  content/fr/blue-green-deployment.md
  content/fr/canary-deployment.md
  content/fr/chaos-engineering.md
  content/fr/cloud-computing.md
  content/fr/cloud-native-apps.md
  content/fr/cloud-native-security.md
  content/fr/cloud-native-tech.md
  content/fr/cluster.md
  content/fr/container.md
  content/fr/containerization.md
  content/fr/continuous-delivery.md
  content/fr/continuous-integration.md
  content/fr/data-center.md
  content/fr/devops.md
  content/fr/devsecops.md
  content/fr/distributed-apps.md
  content/fr/distributed-systems.md
  content/fr/ebpf.md
  content/fr/edge-computing.md
  content/fr/event-driven-architecture.md
  content/fr/event-streaming.md
  content/fr/function-as-a-service.md
  content/fr/horizontal-scaling.md
  content/fr/infrastructure-as-a-service.md
  content/fr/infrastructure-as-code.md
  content/fr/ingress.md
  content/fr/kubernetes.md
  content/fr/microservices-architecture.md
  content/fr/mutual-transport-layer-security.md
  content/fr/nodes.md
  content/fr/pod.md
  content/fr/policy-as-code.md
  content/fr/role-based-access-control.md
  content/fr/runtime.md
  content/fr/serverless.md
  content/fr/service-discovery.md
  content/fr/service-mesh.md
  content/fr/service-proxy.md
  content/fr/shift-left.md
  content/fr/site-reliability-engineering.md
  content/fr/style-guide/_index.md
  content/fr/transport-layer-security.md
  content/fr/vertical-scaling.md
  content/fr/zero-trust-architecture.md
Labels: lang/fr

#3253 [ru] Translate monolithic-apps.md
  content/ru/monolithic-apps.md
Labels: lang/ru

#3234 [Portuguese] Update tightly coupled architecture and microservices architecture
  content/pt-br/microservices-architecture.md
  content/pt-br/microservices.md
  content/pt-br/tightly-coupled-architecture.md
  content/pt-br/tightly-coupled-architectures.md
Labels: lang/pt

#3254 [ru] Translate microservices-architecture.md
  content/ru/microservices-architecture.md
Labels: lang/ru
