Repository cncf/glossary, pull requests merged in 2024-01, with the labels that each got.

#2641 [FR] Localize `Transport Layer Security (TLS)`
  content/fr/transport-layer-security.md
Labels: lang/fr

#2707 Changes need to be applied for the Glossary for Bare Metal Server
  content/en/bare-metal-machine.md
Labels: lang/en

#2757 [FR] Localize `pod`
  content/fr/pod.md
Labels: lang/fr

#2774 Fix labeler workflow error
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: maintainers

#2752 [ar] Update Arabic localization of tag strings
  i18n/ar.toml
Labels: lang/ar

#2771 [FR] Prepare release 2
  content/fr/_TEMPLATE.md
  content/fr/agile-software-development.md
  content/fr/api-gateway.md
  content/fr/application-programming-interface.md
  content/fr/bare-metal-machine.md
  content/fr/blue-green-deployment.md
  content/fr/canary-deployment.md
  content/fr/cloud-computing.md
  content/fr/cloud-native-apps.md
  content/fr/cloud-native-security.md
  content/fr/cloud-native-tech.md
  content/fr/cluster.md
  content/fr/container-orchestration.md
  content/fr/container.md
  content/fr/containerization.md
  content/fr/continuous-delivery.md
  content/fr/continuous-deployment.md
  content/fr/continuous-integration.md
  content/fr/devops.md
  content/fr/devsecops.md
  content/fr/distributed-apps.md
  content/fr/distributed-systems.md
  content/fr/horizontal-scaling.md
  content/fr/infrastructure-as-a-service.md
  content/fr/infrastructure-as-code.md
  content/fr/kubernetes.md
  content/fr/microservices-architecture.md
  content/fr/monolithic-apps.md
  content/fr/nodes.md
  content/fr/policy-as-code.md
  content/fr/portability.md
  content/fr/role-based-access-control.md
  content/fr/service-mesh.md
  content/fr/vertical-scaling.md
  content/fr/virtual-machine.md
  content/fr/virtualization.md
  content/fr/zero-trust-architecture.md
Labels: lang/fr

#2760 [EN] update `Continuous Delivery`
  content/en/continuous-delivery.md
Labels: lang/en, update term

#2778 [FR] Merge dev-fr branch into main branch for the second French release
  content/fr/_TEMPLATE.md
  content/fr/agile-software-development.md
  content/fr/api-gateway.md
  content/fr/application-programming-interface.md
  content/fr/bare-metal-machine.md
  content/fr/blue-green-deployment.md
  content/fr/canary-deployment.md
  content/fr/cloud-computing.md
  content/fr/cloud-native-apps.md
  content/fr/cloud-native-security.md
  content/fr/cloud-native-tech.md
  content/fr/cluster.md
  content/fr/container-orchestration.md
  content/fr/container.md
  content/fr/containerization.md
  content/fr/continuous-delivery.md
  content/fr/continuous-deployment.md
  content/fr/continuous-integration.md
  content/fr/data-center.md
  content/fr/devops.md
  content/fr/devsecops.md
  content/fr/distributed-apps.md
  content/fr/distributed-systems.md
  content/fr/horizontal-scaling.md
  content/fr/infrastructure-as-a-service.md
  content/fr/infrastructure-as-code.md
  content/fr/kubernetes.md
  content/fr/microservices-architecture.md
  content/fr/monolithic-apps.md
  content/fr/mutual-transport-layer-security.md
  content/fr/nodes.md
  content/fr/pod.md
  content/fr/policy-as-code.md
  content/fr/portability.md
  content/fr/role-based-access-control.md
  content/fr/service-mesh.md
  content/fr/transport-layer-security.md
  content/fr/vertical-scaling.md
  content/fr/virtual-machine.md
  content/fr/virtualization.md
  content/fr/zero-trust-architecture.md
Labels: lang/fr

#2777 [bn] Rename auto_scaling.md to auto-scaling.md
  content/bn/auto-scaling.md
Labels: lang/bn

#2786 [FR] Fix link in `mutual-transport-layer-security.md`
  content/fr/mutual-transport-layer-security.md
Labels: lang/fr

#2787 [FR] Fix links in `data-center.md`
  content/fr/data-center.md
Labels: lang/fr

#2750 Review initial Russian content
  content/ru/_TEMPLATE.md
  content/ru/_index.md
  content/ru/cloud-native-apps.md
  content/ru/cloud-native-tech.md
  content/ru/container-orchestration.md
  content/ru/container.md
  content/ru/containerization.md
  content/ru/continuous-delivery.md
  content/ru/continuous-deployment.md
  content/ru/continuous-integration.md
  content/ru/devops.md
  content/ru/devsecops.md
  content/ru/kubernetes.md
  content/ru/style-guide/_index.md
Labels: lang/ru

#2788 [FR] Merge dev-fr branch into main branch for fixing links
  content/fr/data-center.md
  content/fr/mutual-transport-layer-security.md
Labels: maintainers, lang/fr

#2739 [ja] Localize Container Orchestration for Japanese
  content/ja/container-orchestration.md
Labels: lang/ja

#2730 [FR] Localize `Runtime`
  content/fr/runtime.md
Labels: lang/fr

#2722 [AR] Add localized `content/ar/nodes.md`
  content/ar/nodes.md
Labels: lang/ar

#2795 [bn] Localize pod.md
  content/bn/pod.md
Labels: lang/bn

#2770 [ja] Localize Site Reliability Engineering for Japanese
  content/ja/site-reliability-engineering.md
Labels: lang/ja

#2740 [ja] Localize Loosely Coupled Architecture for Japanese
  content/ja/loosely-coupled-architecture.md
Labels: lang/ja

#2801 Installs GTM instead of just GA4
  layouts/_default/baseof.html
  layouts/partials/head.html
Labels: maintainers

#2799 Merge `main` into branch `dev-ja`
  .github/labeler.yml
  .github/workflows/check-outdated-content.yaml
  .github/workflows/labeler.yml
  .github/workflows/post-outdated-content-report.yaml
  content/en/bare-metal-machine.md
  content/en/continuous-delivery.md
  content/fr/_TEMPLATE.md
  content/fr/agile-software-development.md
  content/fr/api-gateway.md
  content/fr/application-programming-interface.md
  content/fr/bare-metal-machine.md
  content/fr/blue-green-deployment.md
  content/fr/canary-deployment.md
  content/fr/cloud-computing.md
  content/fr/cloud-native-apps.md
  content/fr/cloud-native-security.md
  content/fr/cloud-native-tech.md
  content/fr/cluster.md
  content/fr/container-orchestration.md
  content/fr/container.md
  content/fr/containerization.md
  content/fr/continuous-delivery.md
  content/fr/continuous-deployment.md
  content/fr/continuous-integration.md
  content/fr/data-center.md
  content/fr/devops.md
  content/fr/devsecops.md
  content/fr/distributed-apps.md
  content/fr/distributed-systems.md
  content/fr/horizontal-scaling.md
  content/fr/infrastructure-as-a-service.md
  content/fr/infrastructure-as-code.md
  content/fr/kubernetes.md
  content/fr/microservices-architecture.md
  content/fr/monolithic-apps.md
  content/fr/mutual-transport-layer-security.md
  content/fr/nodes.md
  content/fr/pod.md
  content/fr/policy-as-code.md
  content/fr/portability.md
  content/fr/role-based-access-control.md
  content/fr/service-mesh.md
  content/fr/transport-layer-security.md
  content/fr/vertical-scaling.md
  content/fr/virtual-machine.md
  content/fr/virtualization.md
  content/fr/zero-trust-architecture.md
Labels: maintainers, lang/ja

#2759 [ja] Localize Function as a Service (FaaS) for Japanese
  content/ja/function-as-a-service.md
Labels: lang/ja

#2806 [ja] Localize Service for Japanese
  content/ja/service.md
Labels: lang/ja

#2796 [bn] Localize container-orchestration.md
  content/bn/container-orchestration.md
Labels: lang/bn

#2811 [bn] Localize runtime.md
  content/bn/runtime.md
Labels: lang/bn

#2809 Add initial localization contributors list
  content/ja/_index.md
Labels: lang/ja

#2813 add info about not completed terms
  .github/ISSUE_TEMPLATE/new-term.yml
Labels: maintainers

#2814 Add additional approver for Japanese Localization team
  .github/settings.yml
  CODEOWNERS
Labels: maintainers, lang/ja

#2834 [ja] Localize Reliability into Japanese
  content/ja/reliability.md
Labels: lang/ja

#2765 [ja] Localize Role-Based Access Control (RBAC) for Japanese
  content/ja/role-based-access-control.md
Labels: lang/ja

#2826 [ja] Localize Idempotence into Japanese
  content/ja/idempotence.md
Labels: lang/ja

#2764 [ja] Localize Zero Trust Architecture for Japanese
  content/ja/zero-trust-architecture.md
Labels: lang/ja

#2829 [ja] Localize Stateful Apps into Japanese
  content/ja/stateful-apps.md
Labels: lang/ja

#2677 Merge dev-ja into main (for the first Japanese localization live version)
  config.toml
  content/ja/_TEMPLATE.md
  content/ja/_index.md
  content/ja/api-gateway.md
  content/ja/application-programming-interface.md
  content/ja/bare-metal-machine.md
  content/ja/client-server-architecture.md
  content/ja/cloud-computing.md
  content/ja/cloud-native-apps.md
  content/ja/cloud-native-security.md
  content/ja/cloud-native-tech.md
  content/ja/cluster.md
  content/ja/container-orchestration.md
  content/ja/container.md
  content/ja/containerization.md
  content/ja/continuous-delivery.md
  content/ja/continuous-deployment.md
  content/ja/continuous-integration.md
  content/ja/contribute/_index.md
  content/ja/contributor-ladder/_index.md
  content/ja/devops.md
  content/ja/function-as-a-service.md
  content/ja/idempotence.md
  content/ja/kubernetes.md
  content/ja/loosely-coupled-architecture.md
  content/ja/microservices-architecture.md
  content/ja/monolithic-apps.md
  content/ja/nodes.md
  content/ja/observability.md
  content/ja/pod.md
  content/ja/reliability.md
  content/ja/role-based-access-control.md
  content/ja/scalability.md
  content/ja/service.md
  content/ja/site-reliability-engineering.md
  content/ja/stateful-apps.md
  content/ja/style-guide/_index.md
  content/ja/tightly-coupled-architectures.md
  content/ja/virtual-machine.md
  content/ja/virtualization.md
  content/ja/zero-trust-architecture.md
  i18n/ja.toml
Labels: maintainers, lang/ja

#2766 [tw] Localize 'Datacenter' for Traditional Chinese
  content/zh-tw/data-center.md
Labels: lang/tw

#2867 [ja] hotfix: fix typo in Initial localization contributors list
  content/ja/_index.md
Labels: maintainers, lang/ja

#2870 [ja] Merge `main` into `dev-ja`
  .github/ISSUE_TEMPLATE/new-term.yml
  .github/settings.yml
  CODEOWNERS
  content/ja/_index.md
  layouts/_default/baseof.html
  layouts/partials/head.html
  netlify.toml
Labels: lang/ja

#2868 [en] Adding tags in ebpf.md
  content/en/ebpf.md
Labels: lang/en

#2871 [ja] Following the upstream for `content/ja/_index.md` and minor fixes
  content/ja/_index.md
Labels: lang/ja

#2827 [ja] Localize Stateless Apps into Japanese
  content/ja/stateless-apps.md
Labels: lang/ja

#2798 [ja] Localize Service Mesh for Japanese
  content/ja/service-mesh.md
Labels: lang/ja

#2857 [ja] Localize Immutable Infrastructure into Japanese
  content/ja/immutable-infrastructure.md
Labels: lang/ja

#2869 [bn] adding tags in ebpf.md
  content/bn/ebpf.md
Labels: lang/bn
