Repository cncf/glossary, pull requests merged in 2024-04, with the labels that each got.

#2560 [ru] Localize container-image.md
  content/ru/container-image.md
Labels: lang/ru

#2559 [ru] Localize cluster.md
  content/ru/cluster.md
Labels: lang/ru

#2558 [ru] Localize cloud-native-security.md
  content/ru/cloud-native-security.md
Labels: lang/ru

#2557 [ru] Localize cloud-computing.md
  content/ru/cloud-computing.md
Labels: lang/ru

#2556 [ru] Localize client-server-architecture.md
  content/ru/client-server-architecture.md
Labels: lang/ru

#2555 [ru] Localize chaos-engineering.md
  content/ru/chaos-engineering.md
Labels: lang/ru

#2554 [ru] Localize canary-deployment.md
  content/ru/canary-deployment.md
Labels: lang/ru

#2553 [ru] Localize blue-green-deployment.md
  content/ru/blue-green-deployment.md
Labels: lang/ru

#2552 [ru] Localize bare-metal-machine.md
  content/ru/bare-metal-machine.md
Labels: lang/ru

#2551 [ru] Localize auto-scaling.md
  content/ru/auto-scaling.md
Labels: lang/ru

#2550 [ru] Localize application-programming-interface.md
  content/ru/application-programming-interface.md
Labels: lang/ru

#2549 [ru] Localize api-gateway.md
  content/ru/api-gateway.md
Labels: lang/ru

#2548 [ru] Localize agile-software-development.md
  content/ru/agile-software-development.md
Labels: lang/ru

#2547 [ru] Localize abstraction.md
  content/ru/abstraction.md
Labels: lang/ru

#3024 Update "Cloud Native Landscape's observability section" link
  content/en/observability.md
Labels: lang/en

#2926 [ar] Fix Arabic language weight
  config.toml
Labels: lang/ar

#3021 [ja] Localize Multitenancy into Japanese
  content/ja/multitenancy.md
Labels: lang/ja

#3022 [ja] Localize Service Discovery into Japanese
  content/ja/service-discovery.md
Labels: lang/ja

#3030 [ja] Fix o11y link url
  content/ja/observability.md
Labels: lang/ja

#3020 Update devops.md
  content/en/devops.md
Labels: lang/en

#3032 Localize devsecops into Japanese
  content/ja/devsecops.md
Labels: lang/ja

#3033 [ja] Localize Event Streaming into Japanese
  content/ja/event-streaming.md
Labels: lang/ja

#3034 [ja] Localize Datacenter into Japanese
  content/ja/data-center.md
Labels: lang/ja

#2968 [ja] Localize Infrastructure as a Service (IaaS) into Japanese
  content/ja/infrastructure-as-a-service.md
Labels: lang/ja

#3037 [ru] Update _index.md before merging dev-ru
  content/ru/_index.md
Labels: lang/ru

#3018 [ru] Localize ebpf.md
  content/ru/ebpf.md
Labels: lang/ru

#3035 [ja] Localize Security Chaos Engineering into Japanese
  content/ja/security-chaos-engineering.md
Labels: lang/ja

#3039 [ja] fix SRE to Japanese
  content/ja/site-reliability-engineering.md
Labels: lang/ja

#3040 [ja] Revise `content/ja/*.md`
  content/ja/agile-software-development.md
  content/ja/api-gateway.md
  content/ja/bare-metal-machine.md
  content/ja/client-server-architecture.md
  content/ja/cloud-computing.md
  content/ja/cloud-native-apps.md
  content/ja/cloud-native-security.md
  content/ja/cloud-native-tech.md
  content/ja/container-orchestration.md
  content/ja/container.md
  content/ja/containerization.md
  content/ja/continuous-delivery.md
  content/ja/continuous-deployment.md
  content/ja/continuous-integration.md
  content/ja/devops.md
  content/ja/ebpf.md
  content/ja/function-as-a-service.md
  content/ja/horizontal-scaling.md
  content/ja/ingress.md
  content/ja/kubernetes.md
  content/ja/loosely-coupled-architecture.md
  content/ja/microservices-architecture.md
  content/ja/monolithic-apps.md
  content/ja/observability.md
  content/ja/pod.md
  content/ja/role-based-access-control.md
  content/ja/scalability.md
  content/ja/service-mesh.md
  content/ja/site-reliability-engineering.md
  content/ja/tightly-coupled-architecture.md
  content/ja/vertical-scaling.md
  content/ja/virtual-machine.md
  content/ja/virtualization.md
  content/ja/zero-trust-architecture.md
Labels: lang/ja

#3031 Merge `dev-ru` to `main` to launch Russian localisation
  config.toml
  content/ru/_TEMPLATE.md
  content/ru/_index.md
  content/ru/abstraction.md
  content/ru/agile-software-development.md
  content/ru/api-gateway.md
  content/ru/application-programming-interface.md
  content/ru/auto-scaling.md
  content/ru/bare-metal-machine.md
  content/ru/blue-green-deployment.md
  content/ru/canary-deployment.md
  content/ru/chaos-engineering.md
  content/ru/client-server-architecture.md
  content/ru/cloud-computing.md
  content/ru/cloud-native-apps.md
  content/ru/cloud-native-security.md
  content/ru/cloud-native-tech.md
  content/ru/cluster.md
  content/ru/container-image.md
  content/ru/container-orchestration.md
  content/ru/container.md
  content/ru/containerization.md
  content/ru/continuous-delivery.md
  content/ru/continuous-deployment.md
  content/ru/continuous-integration.md
  content/ru/contribute/_index.md
  content/ru/devops.md
  content/ru/devsecops.md
  content/ru/ebpf.md
  content/ru/kubernetes.md
  content/ru/style-guide/_index.md
  i18n/ru.toml
Labels: maintainers, lang/ru

#3045 [ja] Correct the notation of the word "infrastructure"
  content/ja/auto-scaling.md
  content/ja/bare-metal-machine.md
  content/ja/chaos-engineering.md
  content/ja/cloud-computing.md
  content/ja/cloud-native-apps.md
  content/ja/cloud-native-security.md
  content/ja/cloud-native-tech.md
  content/ja/cluster.md
  content/ja/data-center.md
  content/ja/function-as-a-service.md
  content/ja/horizontal-scaling.md
  content/ja/immutable-infrastructure.md
  content/ja/infrastructure-as-a-service.md
  content/ja/infrastructure-as-code.md
  content/ja/ingress.md
  content/ja/kubernetes.md
  content/ja/microservices-architecture.md
  content/ja/nodes.md
  content/ja/pod.md
  content/ja/policy-as-code.md
  content/ja/reliability.md
  content/ja/self-healing.md
  content/ja/site-reliability-engineering.md
  content/ja/vertical-scaling.md
  content/ja/virtual-machine.md
  content/ja/virtualization.md
Labels: lang/ja

#3049 [ja] Fix spelling inconsistencies of the term computer
  content/ja/blue-green-deployment.md
  content/ja/client-server-architecture.md
  content/ja/distributed-apps.md
  content/ja/idempotence.md
  content/ja/vertical-scaling.md
Labels: lang/ja

#3043 [ja] Localize Distributed System into Japanese
  content/ja/distributed-systems.md
Labels: lang/ja

#3042 [ja] Localize Serverless Into Japanese
  content/ja/serverless.md
Labels: lang/ja

#3019 [ja] Merge dev-ja into main @v4
  content/ja/agile-software-development.md
  content/ja/api-gateway.md
  content/ja/auto-scaling.md
  content/ja/bare-metal-machine.md
  content/ja/blue-green-deployment.md
  content/ja/chaos-engineering.md
  content/ja/client-server-architecture.md
  content/ja/cloud-computing.md
  content/ja/cloud-native-apps.md
  content/ja/cloud-native-security.md
  content/ja/cloud-native-tech.md
  content/ja/cluster.md
  content/ja/container-orchestration.md
  content/ja/container.md
  content/ja/containerization.md
  content/ja/continuous-delivery.md
  content/ja/continuous-deployment.md
  content/ja/continuous-integration.md
  content/ja/data-center.md
  content/ja/devops.md
  content/ja/devsecops.md
  content/ja/distributed-apps.md
  content/ja/distributed-systems.md
  content/ja/ebpf.md
  content/ja/event-driven-architecture.md
  content/ja/event-streaming.md
  content/ja/function-as-a-service.md
  content/ja/horizontal-scaling.md
  content/ja/idempotence.md
  content/ja/immutable-infrastructure.md
  content/ja/infrastructure-as-a-service.md
  content/ja/infrastructure-as-code.md
  content/ja/ingress.md
  content/ja/kubernetes.md
  content/ja/loosely-coupled-architecture.md
  content/ja/microservices-architecture.md
  content/ja/monolithic-apps.md
  content/ja/multitenancy.md
  content/ja/nodes.md
  content/ja/observability.md
  content/ja/pod.md
  content/ja/policy-as-code.md
  content/ja/portability.md
  content/ja/reliability.md
  content/ja/role-based-access-control.md
  content/ja/scalability.md
  content/ja/security-chaos-engineering.md
  content/ja/self-healing.md
  content/ja/serverless.md
  content/ja/service-discovery.md
  content/ja/service-mesh.md
  content/ja/shift-left.md
  content/ja/site-reliability-engineering.md
  content/ja/tightly-coupled-architecture.md
  content/ja/vertical-scaling.md
  content/ja/virtual-machine.md
  content/ja/virtualization.md
  content/ja/zero-trust-architecture.md
Labels: maintainers, lang/ja

#3062 [ru] Localize Datacenter in Russian
  content/ru/data-center.md
Labels: lang/ru

#2732 2532 german localize continuous integration
  content/de/continuous-integration.md
Labels: lang/de

#3071 [ru] Localize digital-certificate.md
  content/ru/digital-certificate.md
Labels: lang/ru

#2998 [FR] Localize Service Discovery
  content/fr/service-discovery.md
Labels: lang/fr

#2973 [FR] localize `Function as a Service`
  content/fr/function-as-a-service.md
Labels: lang/fr

#3073 [ru] Localize distributed-systems.md
  content/ru/distributed-systems.md
Labels: lang/ru

#3065 Add Turkish localization for DevOps
  content/tr/devops.md
Labels: lang/tr
