Repository cncf/glossary, pull requests merged in 2024-03, with the labels that each got.

#2970 [ja] Localize Self Healing into Japanese
  content/ja/self-healing.md
Labels: lang/ja

#2877 [FR] Localize Ingress
  content/fr/ingress.md
Labels: lang/fr

#2901 [FR] Added architecture server client translation
  content/fr/client-server-architecture.md
Labels: lang/fr

#2964 [Update term] More interlinking for `containerisation` for Japanese
  content/ja/container-orchestration.md
  content/ja/containerization.md
  content/ja/continuous-delivery.md
Labels: lang/ja

#2820 [ja] Localize Edge Computing for Japanese
  content/ja/edge-computing.md
Labels: lang/ja

#2975 [ja] Localize Blue Green Deployment into Japanese
  content/ja/blue-green-deployment.md
Labels: lang/ja

#2984 [FR] Update Term according VO Change
  content/fr/edge-computing.md
Labels: lang/fr

#2956 [FR] Localize Shift Left
  content/fr/shift-left.md
Labels: lang/fr

#2972 [tr] Add Turkish localization for event-streaming.md
  content/tr/event-streaming.md
Labels: lang/tr

#2773 Localization of Edge Computing in Hindi
  content/hi/edge-computing.md
Labels: lang/hi, hold, Awaiting/final-approval

#2727 [ja] tralslate abstraction.md into japanese
  content/ja/abstraction.md
Labels: lang/ja

#2593 Create transport-layer-security.md
  content/hi/transport-layer-security.md
Labels: lang/hi, Awaiting/2nd-approval

#2986 [ja] Localize Chaos Engineering into Japanese
  content/ja/chaos-engineering.md
Labels: lang/ja

#2988 [ja] Localize Distributed Apps into Japanese
  content/ja/distributed-apps.md
Labels: lang/ja

#2990 [PTBR] Merge dev-pt in the main branch
  content/pt-br/agile-software-development.md
  content/pt-br/api-gateway.md
  content/pt-br/application-programming-interface.md
  content/pt-br/bare-metal-machine.md
  content/pt-br/blue-green-deployment.md
  content/pt-br/canary-deployment.md
  content/pt-br/client-server-architecture.md
  content/pt-br/cloud-computing.md
  content/pt-br/cloud-native-apps.md
  content/pt-br/cloud-native-security.md
  content/pt-br/cloud-native-tech.md
  content/pt-br/cluster.md
  content/pt-br/container.md
  content/pt-br/containerization.md
  content/pt-br/continuous-delivery.md
  content/pt-br/continuous-deployment.md
  content/pt-br/continuous-integration.md
  content/pt-br/data-center.md
  content/pt-br/debugging.md
  content/pt-br/devops.md
  content/pt-br/devsecops.md
  content/pt-br/distributed-apps.md
  content/pt-br/distributed-systems.md
  content/pt-br/event-driven-architecture.md
  content/pt-br/event-streaming.md
  content/pt-br/firewall.md
  content/pt-br/function-as-a-service.md
  content/pt-br/infrastructure-as-a-service.md
  content/pt-br/infrastructure-as-code.md
  content/pt-br/kubernetes.md
  content/pt-br/microservices.md
  content/pt-br/monolithic-apps.md
  content/pt-br/nodes.md
  content/pt-br/observability.md
  content/pt-br/platform-as-a-service.md
  content/pt-br/serverless.md
  content/pt-br/shift-left.md
  content/pt-br/site-reliability-engineering.md
  content/pt-br/software-as-a-service.md
  content/pt-br/stateful-apps.md
  content/pt-br/stateless-apps.md
  content/pt-br/style-guide/_index.md
  content/pt-br/transport-layer-security.md
  content/pt-br/version-control.md
  content/pt-br/vertical-scaling.md
  content/pt-br/virtual-machine.md
  content/pt-br/virtualization.md
  content/pt-br/zero-trust-architecture.md
Labels: lang/pt, maintainers

#2969 [ja] Merge dev-ja into main (for the third Japanese localization live version)
  content/ja/abstraction.md
  content/ja/blue-green-deployment.md
  content/ja/canary-deployment.md
  content/ja/chaos-engineering.md
  content/ja/container-orchestration.md
  content/ja/containerization.md
  content/ja/continuous-delivery.md
  content/ja/distributed-apps.md
  content/ja/ebpf.md
  content/ja/edge-computing.md
  content/ja/horizontal-scaling.md
  content/ja/mutual-transport-layer-security.md
  content/ja/self-healing.md
  content/ja/service-proxy.md
  content/ja/vertical-scaling.md
Labels: maintainers, lang/ja

#2987 [ja] Localize Event-Driven Architecture into Japanese
  content/ja/event-driven-architecture.md
Labels: lang/ja

#2992 [ja] Localize Policy as Code (PaC) into Japanese
  content/ja/policy-as-code.md
Labels: lang/ja

#2392 add pt-br/edge-computing
  content/pt-br/edge-computing.md
Labels: lang/pt

#3008 Use PageFind for search
  .gitignore
  Makefile
  README.md
  assets/js/search.js
  assets/scss/_search.scss
  config.toml
  content/de/search.md
  content/hi/search.md
  content/it/search.md
  content/ja/search.md
  content/ko/search.md
  content/pt-br/search.md
  content/tr/search.md
  content/ur/search.md
  content/zh-cn/search.md
  content/zh-tw/search.md
  layouts/_default/content.html
  layouts/_default/search.html
  layouts/partials/search-input.html
  netlify.toml
  package.json
Labels: maintainers

#2758 remove what it is header
  content/de/_TEMPLATE.md
  content/de/agile-software-development.md
  content/de/api-gateway.md
  content/de/application-programming-interface.md
  content/de/autoscaling.md
  content/de/bare-metal-machine.md
  content/de/blue-green-deployment.md
  content/de/canary-deployment.md
  content/de/client-server-architecture.md
  content/de/cloud-computing.md
  content/de/cloud-native-apps.md
  content/de/cloud-native-security.md
  content/de/cloud-native-tech.md
  content/de/cluster.md
  content/de/containers.md
Labels: lang/de

#3006 [ja] rename `tightly-coupled-architectures.md` to `tightly-coupled-architecture.md`
  content/ja/cloud-native-apps.md
  content/ja/devops.md
  content/ja/loosely-coupled-architecture.md
  content/ja/microservices-architecture.md
  content/ja/tightly-coupled-architecture.md
Labels: lang/ja

#2217 [EN] update FaaS & Serverless
  content/en/function-as-a-service.md
  content/en/serverless.md
  wordlist.txt
Labels: lang/en, update term

#3009 [en] Update links to 'microservices'
  content/en/application-programming-interface.md
  content/en/chaos-engineering.md
  content/en/distributed-apps.md
  content/en/firewall.md
  content/en/function-as-a-service.md
  content/en/load-balancer.md
  content/en/loosely-coupled-architecture.md
  content/en/monolithic-apps.md
  content/en/mutual-transport-layer-security.md
  content/en/platform-as-a-service.md
  content/en/service-mesh.md
  content/en/service.md
  content/en/tightly-coupled-architecture.md
Labels: lang/en, maintainers

#2950 [FR] Localize Event Streaming
  content/fr/event-streaming.md
Labels: lang/fr

#2939 [tr] Add Turkish localization for scalability.md
  content/tr/scalability.md
Labels: lang/tr

#2991 Add Turkish localization for <immutable-infrastructure>
  content/tr/immutable-infrastructure.md
Labels: lang/tr

#3015 [tr] new contributors
  content/tr/_index.md
Labels: lang/tr

#3017 [ja] Localize Shift Left into Japanese
  content/ja/shift-left.md
Labels: lang/ja
