Repository cncf/glossary, pull requests merged in 2024-12, with the labels that each got.

#3354 Update cloud-computing.md
  content/en/cloud-computing.md
Labels: lang/en

#3370 [zh] Localize pod.md
  content/zh-cn/pod.md
Labels: lang/zh

#3371 sync en changes to zh-cn version
  content/zh-cn/_index.md
Labels: lang/zh

#3369 Update German content
  content/de/_TEMPLATE.md
  content/de/agile-software-development.md
  content/de/api-gateway.md
  content/de/application-programming-interface.md
  content/de/autoscaling.md
  content/de/bare-metal-machine.md
  content/de/blue-green-deployment.md
  content/de/canary-deployment.md
  content/de/client-server-architecture.md
  content/de/cloud-computing.md
  content/de/cloud-native-apps.md
  content/de/cloud-native-security.md
  content/de/cloud-native-tech.md
  content/de/cluster.md
  content/de/containers.md
  content/de/continuous-deployment.md
  content/de/continuous-integration.md
  content/de/service-mesh.md
Labels: lang/de

#3375 [zh] Update Chinese version in main with dev-zh
  content/zh-cn/_index.md
  content/zh-cn/cloud-computing.md
  content/zh-cn/edge-computing.md
  content/zh-cn/immutable-infrastructure.md
  content/zh-cn/microservices.md
  content/zh-cn/multitenancy.md
  content/zh-cn/pod.md
  content/zh-cn/self-healing.md
  content/zh-cn/shift-left.md
Labels: maintainers, lang/zh
