Repository cncf/glossary, pull requests merged in 2025-04, with the labels that each got.

#2617 [hi] Localize stateful-apps
  content/hi/stateful-apps.md
Labels: lang/hi, Awaiting/2nd-approval

#3358 Localize service mesh
  content/ru/service-mesh.md
Labels: lang/ru

#3359 [ru] Localize `Scalability`
  content/ru/scalability.md
Labels: lang/ru

#3423 [FR] Merge dev-fr to main
  content/fr/abstraction.md
  content/fr/bare-metal-machine.md
  content/fr/chaos-engineering.md
  content/fr/client-server-architecture.md
  content/fr/cloud-computing.md
  content/fr/cloud-native-security.md
  content/fr/cloud-native-tech.md
  content/fr/container-orchestration.md
  content/fr/continuous-delivery.md
  content/fr/continuous-deployment.md
  content/fr/continuous-integration.md
  content/fr/devops.md
  content/fr/distributed-apps.md
  content/fr/edge-computing.md
  content/fr/event-driven-architecture.md
  content/fr/function-as-a-service.md
  content/fr/horizontal-scaling.md
  content/fr/idempotence.md
  content/fr/loosely-coupled-architecture.md
  content/fr/microservices-architecture.md
  content/fr/monolithic-apps.md
  content/fr/multitenancy.md
  content/fr/nodes.md
  content/fr/observability.md
  content/fr/scalability.md
  content/fr/serverless.md
  content/fr/service-discovery.md
  content/fr/service-mesh.md
  content/fr/service-proxy.md
  content/fr/shift-left.md
  content/fr/stateful-apps.md
  content/fr/stateless-apps.md
  content/fr/tightly-coupled-architecture.md
  content/fr/vertical-scaling.md
  content/fr/virtual-machine.md
  content/fr/webassembly.md
  content/fr/zero-trust-architecture.md
Labels: maintainers, lang/fr

#3403 [ja] Merge dev-ja into main @v5
  content/ja/contribute/_index.md
  content/ja/style-guide/_index.md
  content/ja/webassembly.md
Labels: maintainers, lang/ja

#2119 [EN] add Cloud Native Storage
  content/en/cloud-native-storage.md
Labels: lang/en, Tech review 1 ✅, Tech review 2 ✅, Edits ✅

#3434 Update the maintainers list and README
  LOCALIZATION.md
  README.md
  content/en/_index.md
  content/en/contribute/_index.md
  wordlist.txt
Labels: lang/en, maintainers

#3433 Chore: Update CODEOWNERS
  CODEOWNERS
Labels: maintainers

#3360 [ru] Localize portability.md
  content/ru/portability.md
Labels: lang/ru

#3432 Cleanup CODEOWNERS
  CODEOWNERS
Labels: maintainers

#3155 [EN] add Platform Engineering
  content/en/platform-engineering.md
Labels: lang/en

#3438 [ko] Update Korean UI strings
  i18n/ko.toml
Labels: lang/ko

#3449 Update dev-it approvers
  .github/settings.yml
  CODEOWNERS
Labels: maintainers

#3150 [it] update-sre-#3108
  content/it/site-reliability-engineering.md
Labels: lang/it

#3455 feat: remove localization maintainer (edsoncelio)
  .github/settings.yml
  CODEOWNERS
Labels: maintainers

#3460 Update CODEOWNERS to initialize vi l10n
  CODEOWNERS
Labels: maintainers

#3461 Settings and initial contents for Vietnamese localization
  config.toml
  content/vi/_index.md
  content/vi/contribute/_index.md
  content/vi/style-guide/_index.md
  i18n/vi.toml
Labels: lang/vi

#3465 Update dev-vi to apply recent settings
  .github/labeler.yml
  CODEOWNERS
Labels: maintainers

#3467 [vi] add Vietnamese translation for Contributor Ladder
  content/vi/contributor-ladder/_index.md
Labels: lang/vi

#3476 [vi] Localize for Security Chaos Engineering
  content/vi/security-chaos-engineering.md
Labels: lang/vi

#3477 [vi] Localize for Cloud native apps
  content/vi/cloud-native-apps.md
Labels: lang/vi

#3454 fix: broken `Definición` hash link
  content/es/style-guide/_index.md
Labels: lang/es

#2121 [EN] update GitOps
  content/en/gitops.md
Labels: lang/en, update term

#3450 fix: rename tag to Fundamentos
  content/es/abstraction.md
  content/es/application-programming-interface.md
  content/es/client-server-architecture.md
  content/es/cloud-computing.md
  content/es/cloud-native-apps.md
  content/es/cloud-native-tech.md
  content/es/cluster.md
  content/es/container.md
  content/es/data-center.md
  content/es/kubernetes.md
  content/es/loosely-coupled-architecture.md
  content/es/microservices-architecture.md
  content/es/monolithic-apps.md
  content/es/nodes.md
  content/es/pod.md
  content/es/portability.md
  content/es/reliability.md
  content/es/scalability.md
  content/es/service.md
  content/es/software-as-a-service.md
  content/es/stateful-apps.md
  content/es/stateless-apps.md
  content/es/style-guide/_index.md
  content/es/tightly-coupled-architectures.md
  content/es/virtual-machine.md
  content/es/virtualization.md
Labels: lang/es

#3479 [vi] add Vietnamese localization for Containerization concept
  content/vi/containerization.md
  content/vi/virtual-machine.md
Labels: lang/vi

#3481 [vi] Localize for Cloud computing
  content/vi/cloud-computing.md
Labels: lang/vi

#3485 [vi] Update index page with acknowledgement to Vietnamese contributors
  content/vi/_index.md
Labels: lang/vi

#3478 [de] fix typo in canary deployment page
  content/de/canary-deployment.md
Labels: lang/de
