Repository cncf/glossary, pull requests merged in 2025-06, with the labels that each got.

#3523 Merge dev-vi into main
  content/vi/_index.md
  content/vi/auto-scaling.md
  content/vi/continuous-delivery.md
  content/vi/continuous-deployment.md
  content/vi/continuous-integration.md
  content/vi/distributed-apps.md
  content/vi/immutable-infrastructure.md
  content/vi/infrastructure-as-a-service.md
  content/vi/infrastructure-as-code.md
  content/vi/loosely-coupled-architecture.md
  content/vi/platform-as-a-service.md
  content/vi/policy-as-code.md
  content/vi/stateful-apps.md
  content/vi/stateless-apps.md
  content/vi/zero-trust-architecture.md
Labels: maintainers, lang/vi

#3531 [Cherrypick] Replace TR l10n approvers
  .github/settings.yml
  CODEOWNERS
Labels: maintainers, lang/tr

#3532 Add Turkish localization for role-based-access-control.md
  content/tr/role-based-access-control.md
Labels: lang/tr
