Repository cncf/glossary, pull requests merged in 2025-05, with the labels that each got.

#3483 REQUEST: new /vi approver for @thaomike
  CODEOWNERS
Labels: maintainers, lang/vi

#3486 [vi] update translation for titles: Virtual Machine & Containerization
  content/vi/containerization.md
  content/vi/virtual-machine.md
Labels: lang/vi

#3488 [vi] add translation for cluster
  content/vi/cluster.md
Labels: lang/vi

#3490 Update the status of 'Digital Certificate' to 'Completed'
  content/bn/digital-certificate.md
  content/en/digital-certificate.md
  content/es/digital-certificate.md
  content/ru/digital-certificate.md
Labels: lang/en, lang/bn, lang/es, maintainers, lang/ru

#3484 Merge dev-vi into main (for the first Vietnamese localization live version)
  config.toml
  content/vi/_index.md
  content/vi/cloud-computing.md
  content/vi/cloud-native-apps.md
  content/vi/cloud-native-tech.md
  content/vi/cluster.md
  content/vi/containerization.md
  content/vi/contribute/_index.md
  content/vi/contributor-ladder/_index.md
  content/vi/devops.md
  content/vi/devsecops.md
  content/vi/digital-certificate.md
  content/vi/mutual-transport-layer-security.md
  content/vi/security-chaos-engineering.md
  content/vi/style-guide/_index.md
  content/vi/virtual-machine.md
  i18n/vi.toml
Labels: maintainers, lang/vi

#3152 [it] update-tls-term-#3108
  content/it/transport-layer-security.md
Labels: lang/it

#3195 [it]Abstraction IT,aggiunti tag, aggiornato link,corretta identazione #3083
  content/it/abstraction.md
Labels: lang/it

#3489 [vi] add translation for zero-trust-architecture
  content/vi/zero-trust-architecture.md
Labels: lang/vi

#3506 Update descriptions for semantic line breaks in "How to Contribute" and "Style Guide" pages
  content/en/contribute/_index.md
  content/en/style-guide/_index.md
Labels: lang/en, maintainers

#3492 [EN] update Cluster
  content/en/cluster.md
  content/en/distributed-systems.md
  content/en/nodes.md
Labels: lang/en, update term, Tech review 1 ✅, Edits ✅

#3501 [vi] Add Vietnamese translation for Stateless Apps concept
  content/vi/stateless-apps.md
Labels: lang/vi

#3496 [vi] Add Vietnamese localization for Policy as Code concept
  content/vi/policy-as-code.md
Labels: lang/vi

#3494 [vi] Add Vietnamese translations for Platform as a Service (PaaS)
  content/vi/platform-as-a-service.md
Labels: lang/vi

#3493 [vi] Add Vietnamese translation for Loosely Coupled Architecture
  content/vi/loosely-coupled-architecture.md
Labels: lang/vi

#3507 [vi] Add Vietnamese localization for Immutable Infrastructure
  content/vi/immutable-infrastructure.md
Labels: lang/vi

#3500 [vi] Add Vietnamese translation for Stateful Apps
  content/vi/stateful-apps.md
Labels: lang/vi

#3502 [vi] Add Vietnamese localization for Continuous Delivery concept
  content/vi/continuous-delivery.md
Labels: lang/vi

#3154 [it] update-observability-term-#3103
  content/it/observability.md
Labels: lang/it

#3511 [EN] update Service Mesh
  content/en/service-mesh.md
  wordlist.txt
Labels: lang/en

#3514 [vi] Add Vietnamese translation for Infrastructure as Code
  content/vi/infrastructure-as-code.md
Labels: lang/vi

#3516 [vi] Add Vietnamese translation for Infrastructure as a Service
  content/vi/infrastructure-as-a-service.md
Labels: lang/vi

#3503 [vi] Add Vietnamese localization for Continuous Integration concept
  content/vi/continuous-integration.md
Labels: lang/vi

#3517 Update Contribution Guide
  content/en/contribute/_index.md
Labels: lang/en, maintainers
