Repository cncf/glossary, pull requests merged in 2025-08, with the labels that each got.

#3537 [ja] Localize Platform Engineering into Japanese
  content/ja/platform-engineering.md
Labels: lang/ja

#3528 Kubernetes Operator
  content/en/operator.md
  wordlist.txt
Labels: lang/en

#3536 Add Turkish translation for Runtime glossary term
  content/tr/runtime.md
Labels: lang/tr

#3543 [ja] Localize Sidecar Container into Japanese
  content/ja/sidecar-container.md
Labels: lang/ja

#3539 [ja] Update Service Mesh
  content/ja/service-mesh.md
Labels: lang/ja

#3544 Merge main into dev-es to keep in sync
  .github/labeler.yml
  .github/settings.yml
  .github/workflows/es-spellcheck.yml
  .github/workflows/post-outdated-content-report.yaml
  .github/workflows/spellcheck.yml
  CODEOWNERS
  config.toml
  content/bn/digital-certificate.md
  content/en/cluster.md
  content/en/contribute/_index.md
  content/en/digital-certificate.md
  content/en/distributed-systems.md
  content/en/gitops.md
  content/en/nodes.md
  content/en/operator.md
  content/en/service-mesh.md
  content/en/style-guide/_index.md
  content/es/digital-certificate.md
  content/ru/digital-certificate.md
  content/vi/_index.md
  content/vi/auto-scaling.md
  content/vi/cloud-computing.md
  content/vi/cloud-native-apps.md
  content/vi/cloud-native-tech.md
  content/vi/cluster.md
  content/vi/containerization.md
  content/vi/continuous-delivery.md
  content/vi/continuous-deployment.md
  content/vi/continuous-integration.md
  content/vi/contribute/_index.md
  content/vi/contributor-ladder/_index.md
  content/vi/devops.md
  content/vi/devsecops.md
  content/vi/digital-certificate.md
  content/vi/distributed-apps.md
  content/vi/immutable-infrastructure.md
  content/vi/infrastructure-as-a-service.md
  content/vi/infrastructure-as-code.md
  content/vi/loosely-coupled-architecture.md
  content/vi/mutual-transport-layer-security.md
  content/vi/platform-as-a-service.md
  content/vi/policy-as-code.md
  content/vi/security-chaos-engineering.md
  content/vi/stateful-apps.md
  content/vi/stateless-apps.md
  content/vi/style-guide/_index.md
  content/vi/virtual-machine.md
  content/vi/zero-trust-architecture.md
  i18n/vi.toml
  wordlist.txt
Labels: lang/es

#3541 Merge dev-ja into main
  content/ja/cluster.md
  content/ja/digital-certificate.md
  content/ja/nodes.md
  content/ja/platform-engineering.md
  content/ja/service-mesh.md
  content/ja/sidecar-container.md
Labels: maintainers, lang/ja
