Repository cncf/glossary, pull requests merged in 2025-03, with the labels that each got.

#3407 Update packages and required Node version
  package.json
Labels: maintainers

#3377 [FR] fix capitalization
  content/fr/bare-metal-machine.md
  content/fr/chaos-engineering.md
  content/fr/client-server-architecture.md
  content/fr/cloud-computing.md
  content/fr/cloud-native-security.md
  content/fr/container-orchestration.md
  content/fr/continuous-delivery.md
  content/fr/continuous-deployment.md
  content/fr/continuous-integration.md
  content/fr/distributed-apps.md
  content/fr/edge-computing.md
  content/fr/event-driven-architecture.md
  content/fr/loosely-coupled-architecture.md
  content/fr/microservices-architecture.md
  content/fr/monolithic-apps.md
  content/fr/multitenancy.md
  content/fr/scalability.md
  content/fr/service-discovery.md
  content/fr/service-mesh.md
  content/fr/shift-left.md
  content/fr/stateful-apps.md
  content/fr/stateless-apps.md
  content/fr/tightly-coupled-architecture.md
  content/fr/vertical-scaling.md
  content/fr/virtual-machine.md
  content/fr/zero-trust-architecture.md
Labels: lang/fr

#3406 Initial release of the Sign Language feature
  assets/scss/_styles_project.scss
  content/en/auto-scaling.md
  content/en/container.md
  content/en/reliability.md
  content/en/serverless.md
  content/en/service.md
  content/en/virtual-machine.md
  i18n/en.toml
  layouts/shortcodes/sign-language-section.html
  spellcheck.yml
Labels: lang/en, lang/sign

#3320 [FR] add webassembly
  content/fr/webassembly.md
Labels: lang/fr

#3422 [editorial] Use slack.cncf.io as canonical URL
  content/en/_index.md
Labels: lang/en

#3351 [ru] Localize reliability.md
  content/ru/reliability.md
Labels: lang/ru

#3430 simplify contributions
  content/en/_index.md
  content/en/contribute/_index.md
  content/en/contributor-ladder/_index.md
  content/en/style-guide/_index.md
Labels: lang/en
