Repository cncf/glossary, changes with the owners that CODEOWNERS names for each.
All owners: @caniszczyk, @seokho-son, @iamNoah1, @jihoon-seo, @nate-double-u, @castrojo, @TarekMSayed, @same7ammar, @AShabana, @arezk84, @Arindam200, @Imtiaz1234, @mitul3737, @sajibAdhi, @DaveVentura, @CathPag, @bcubk, @raelga, @ramrodo, @electrocucaracha, @krol3, @92nqb, @huats, @fydrah, @Krast76, @sestegra, @guillaumebernard84, @Garima-Negi, @jayesh-srivastava, @abhay-raj19, @aj11anuj, @kumarankit999, @bishal7679, @fsbaraglia, @ugho16, @annalisag-spark, @sistella, @inductor, @naonishijima, @kaitoii11, @yuichi-nakamura, @Okabe-Junya, @yunkon-kim, @edsoncelio, @brunoguidone, @jessicalins, @MrErlison, @shurup, @kirkonru, @tym83, @aliok, @halil-bugol, @rwxdash, @eminalemdar, @Saim-Safdar, @waleed318, @hanyuancheung, @Jacob953, @Rocksnake, @Submarinee, @pichuang, @ydFu, @hwchiu, @johnlinp

CODEOWNERS:

# This CODEOWNERS file defines contributors that are
# responsible for code in this repository.

# Code owners are automatically requested for review
# when someone opens a pull request that modifies code that they own.

# These owners will be default owners for everything in this repository.
# These owners consist of Maintainers
* @caniszczyk @seokho-son @iamNoah1 @jihoon-seo @nate-double-u


# Approvers for English content
/content/en/ @caniszczyk @seokho-son @iamNoah1 @jihoon-seo @nate-double-u @castrojo
/i18n/en.toml @caniszczyk @seokho-son @iamNoah1 @jihoon-seo @nate-double-u @castrojo


# These are the owners (approvers) for localization contents
# in each `/content/language/` directory.


# Approvers for Arabic contents
/content/ar/ @TarekMSayed @same7ammar @AShabana @arezk84
/i18n/ar.toml @TarekMSayed @same7ammar @AShabana @arezk84

# Approvers for Bengali contents
/content/bn/ @Arindam200 @Imtiaz1234 @mitul3737 @sajibAdhi
/i18n/bn.toml @Arindam200 @Imtiaz1234 @mitul3737 @sajibAdhi

# Approvers for German contents
/content/de/ @iamNoah1 @DaveVentura @CathPag @bcubk
/i18n/de.toml @iamNoah1 @DaveVentura @CathPag @bcubk

# Approvers for Spanish contents
/content/es/ @raelga @ramrodo @electrocucaracha @krol3 @92nqb
/i18n/es.toml @raelga @ramrodo @electrocucaracha @krol3 @92nqb

# Approvers for French contents
/content/fr/ @huats @fydrah @Krast76 @sestegra @guillaumebernard84
/i18n/fr.toml @huats @fydrah @Krast76 @sestegra @guillaumebernard84

# Approvers for Hindi contents
/content/hi/ @Garima-Negi @jayesh-srivastava @abhay-raj19 @aj11anuj @kumarankit999 @bishal7679
/i18n/hi.toml @Garima-Negi @jayesh-srivastava @abhay-raj19 @aj11anuj @kumarankit999 @bishal7679

# Approvers for Italian contents
/content/it/ @fsbaraglia @ugho16 @annalisag-spark @sistella
/i18n/it.toml @fsbaraglia @ugho16 @annalisag-spark @sistella

# Approvers for Japanese contents
/content/ja/ @inductor @naonishijima @kaitoii11 @yuichi-nakamura @Okabe-Junya
/i18n/ja.toml @inductor @naonishijima @kaitoii11 @yuichi-nakamura @Okabe-Junya

# Approvers for Korean contents
/content/ko/ @seokho-son @jihoon-seo @yunkon-kim
/i18n/ko.toml @seokho-son @jihoon-seo @yunkon-kim

# Approvers for Portuguese contents
/content/pt-br/ @edsoncelio @brunoguidone @jessicalins @MrErlison
/i18n/pt-br.toml @edsoncelio @brunoguidone @jessicalins @MrErlison

# Approvers for Russian contents
/content/ru/ @shurup @kirkonru @tym83
/i18n/ru.toml @shurup @kirkonru @tym83

# Approvers for Turkish contents
/content/tr/ @aliok @halil-bugol @rwxdash @eminalemdar
/i18n/tr.toml @aliok @halil-bugol @rwxdash @eminalemdar

# Approvers for Urdu contents
/content/ur/ @Saim-Safdar @waleed318
/i18n/ur.toml @Saim-Safdar @waleed318

# Approvers for Simplified Chinese contents
/content/zh-cn/ @hanyuancheung @Jacob953 @Rocksnake @Submarinee
/i18n/zh-cn.toml @hanyuancheung @Jacob953 @Rocksnake @Submarinee

# Approvers for Traditional Chinese contents
/content/zh-tw/ @pichuang @ydFu @hwchiu @johnlinp
/i18n/zh-tw.toml @pichuang @ydFu @hwchiu @johnlinp

update: settings.yml
  .github/settings.yml
Owners: @caniszczyk, @seokho-son, @iamNoah1, @jihoon-seo, @nate-double-u

Update content/it/ingress.md
  content/it/ingress.md
Owners: @fsbaraglia, @ugho16, @annalisag-spark, @sistella

[FR] Localize Event-Driven Architecture
  content/fr/event-driven-architecture.md
Owners: @huats, @fydrah, @Krast76, @sestegra, @guillaumebernard84

[ja] Localize Function as a Service (FaaS) for Japanese (#2759)
  content/ja/function-as-a-service.md
Owners: @inductor, @naonishijima, @kaitoii11, @yuichi-nakamura, @Okabe-Junya

[ja] Localize Service for Japanese (#2806)
  content/ja/service.md
Owners: @inductor, @naonishijima, @kaitoii11, @yuichi-nakamura, @Okabe-Junya

Update .github/ISSUE_TEMPLATE/new-term.yml
  .github/ISSUE_TEMPLATE/new-term.yml
Owners: @caniszczyk, @seokho-son, @iamNoah1, @jihoon-seo, @nate-double-u

[tr] Turkish Localization is added for api gateway page (#2797)
  content/tr/api-gateway.md
Owners: @aliok, @halil-bugol, @rwxdash, @eminalemdar

feat: translate edge-computing.md
  content/ja/edge-computing.md
Owners: @inductor, @naonishijima, @kaitoii11, @yuichi-nakamura, @Okabe-Junya

Create ingress.md
  content/bn/ingress.md
Owners: @Arindam200, @Imtiaz1234, @mitul3737, @sajibAdhi

feat: translate idempotence.md
  content/ja/idempotence.md
Owners: @inductor, @naonishijima, @kaitoii11, @yuichi-nakamura, @Okabe-Junya

feat: translate stateless-apps.md into Japanese
  content/ja/stateless-apps.md
Owners: @inductor, @naonishijima, @kaitoii11, @yuichi-nakamura, @Okabe-Junya

del: unnecessary empty
  content/ja/stateless-apps.md
Owners: @inductor, @naonishijima, @kaitoii11, @yuichi-nakamura, @Okabe-Junya

feat: translate agile-software-development.md
  content/ja/agile-software-development.md
Owners: @inductor, @naonishijima, @kaitoii11, @yuichi-nakamura, @Okabe-Junya

del: origin content
  content/ja/agile-software-development.md
Owners: @inductor, @naonishijima, @kaitoii11, @yuichi-nakamura, @Okabe-Junya

feat: translate stateful-apps.md
  content/ja/stateful-apps.md
Owners: @inductor, @naonishijima, @kaitoii11, @yuichi-nakamura, @Okabe-Junya

update: word definition
  content/ja/agile-software-development.md
Owners: @inductor, @naonishijima, @kaitoii11, @yuichi-nakamura, @Okabe-Junya

update: minor fix
  content/ja/agile-software-development.md
Owners: @inductor, @naonishijima, @kaitoii11, @yuichi-nakamura, @Okabe-Junya

feat: translate reliability.md
  content/ja/reliability.md
Owners: @inductor, @naonishijima, @kaitoii11, @yuichi-nakamura, @Okabe-Junya

Update ingress.md
  content/bn/ingress.md
Owners: @Arindam200, @Imtiaz1234, @mitul3737, @sajibAdhi

Rename self healing.md to self-healing.md
  content/bn/self-healing.md
Owners: @Arindam200, @Imtiaz1234, @mitul3737, @sajibAdhi

Rename service discovery.md to service-discovery.md
  content/bn/service-discovery.md
Owners: @Arindam200, @Imtiaz1234, @mitul3737, @sajibAdhi

service-proxy added
  content/ja/service-proxy.md
Owners: @inductor, @naonishijima, @kaitoii11, @yuichi-nakamura, @Okabe-Junya

Add Turkish localization blue-green-deployment.md
  content/tr/blue-green-deployment.md
Owners: @aliok, @halil-bugol, @rwxdash, @eminalemdar

Add Turkish localization for canary-deployment.md
  content/tr/canary-deployment.md
Owners: @aliok, @halil-bugol, @rwxdash, @eminalemdar

Add Turkish localization for client-server-architecture.md
  content/tr/client-server-architecture.md
Owners: @aliok, @halil-bugol, @rwxdash, @eminalemdar

Add Turkish localization for continuous-integration.md
  content/tr/continuous-integration.md
Owners: @aliok, @halil-bugol, @rwxdash, @eminalemdar

Add Turkish localization for continuous-deployment.md
  content/tr/continuous-deployment.md
Owners: @aliok, @halil-bugol, @rwxdash, @eminalemdar

Add Turkish localization for data-center.md
  content/tr/data-center.md
Owners: @aliok, @halil-bugol, @rwxdash, @eminalemdar

add service-proxy again
  content/ja/service-proxy.md
Owners: @inductor, @naonishijima, @kaitoii11, @yuichi-nakamura, @Okabe-Junya

added service proxy
  content/ja/service-proxy.md
Owners: @inductor, @naonishijima, @kaitoii11, @yuichi-nakamura, @Okabe-Junya

Change "سنفة" to "حجيرة"
  content/ar/pod.md
Owners: @TarekMSayed, @same7ammar, @AShabana, @arezk84

[bn] Localize container-orchestration.md (#2796)
  content/bn/container-orchestration.md
Owners: @Arindam200, @Imtiaz1234, @mitul3737, @sajibAdhi

[bn] Localize runtime.md (#2811)
  content/bn/runtime.md
Owners: @Arindam200, @Imtiaz1234, @mitul3737, @sajibAdhi

[bn] Localize ingress.md (#2835)
  content/bn/ingress.md
Owners: @Arindam200, @Imtiaz1234, @mitul3737, @sajibAdhi

[bn] Missing "-" from name (#2837)
  content/bn/self-healing.md
  content/bn/service-discovery.md
Owners: @Arindam200, @Imtiaz1234, @mitul3737, @sajibAdhi

[bn] Localize role based access control.md (#2812)
  content/bn/role-based-access-control.md
Owners: @Arindam200, @Imtiaz1234, @mitul3737, @sajibAdhi

[tw] Localize 'Datacenter'
  content/zh-tw/data-center.md
Owners: @pichuang, @ydFu, @hwchiu, @johnlinp

[tw] Aglie Software Development remove what-it-is section
  content/zh-tw/agile-software-development.md
Owners: @pichuang, @ydFu, @hwchiu, @johnlinp

[tw] API Gateway remove what-it-is section
  content/zh-tw/api-gateway.md
Owners: @pichuang, @ydFu, @hwchiu, @johnlinp

[tw] API remove what-it-is section
  content/zh-tw/application-programming-interface.md
Owners: @pichuang, @ydFu, @hwchiu, @johnlinp
