Repository cncf/glossary, changes with the owners that CODEOWNERS names for each.
All owners: @caniszczyk, @seokho-son, @iamNoah1, @jihoon-seo, @nate-double-u, @castrojo, @TarekMSayed, @same7ammar, @AShabana, @arezk84, @Arindam200, @Imtiaz1234, @mitul3737, @sajibAdhi, @DaveVentura, @CathPag, @bcubk, @raelga, @ramrodo, @electrocucaracha, @krol3, @92nqb, @huats, @fydrah, @Krast76, @sestegra, @guillaumebernard84, @Garima-Negi, @jayesh-srivastava, @abhay-raj19, @aj11anuj, @kumarankit999, @bishal7679, @fsbaraglia, @ugho16, @annalisag-spark, @sistella, @inductor, @naonishijima, @kaitoii11, @yuichi-nakamura, @Okabe-Junya, @yunkon-kim, @edsoncelio, @brunoguidone, @jessicalins, @MrErlison, @shurup, @kirkonru, @tym83, @aliok, @halil-bugol, @rwxdash, @eminalemdar, @Saim-Safdar, @waleed318, @hanyuancheung, @Jacob953, @Rocksnake, @Submarinee, @pichuang, @ydFu, @hwchiu, @johnlinp

CODEOWNERS:

# This CODEOWNERS file defines contributors that are
# responsible for code in this repository.

# Code owners are automatically requested for review
# when someone opens a pull request that modifies code that they own.

# These owners will be default owners for everything in this repository.
# These owners consist of Maintainers
* @caniszczyk @seokho-son @iamNoah1 @jihoon-seo @nate-double-u


# Approvers for English content
/content/en/ @caniszczyk @seokho-son @iamNoah1 @jihoon-seo @nate-double-u @castrojo
/i18n/en.toml @caniszczyk @seokho-son @iamNoah1 @jihoon-seo @nate-double-u @castrojo


# These are the owners (approvers) for localization contents
# in each `/content/language/` directory.


# Approvers for Arabic contents
/content/ar/ @TarekMSayed @same7ammar @AShabana @arezk84
/i18n/ar.toml @TarekMSayed @same7ammar @AShabana @arezk84

# Approvers for Bengali contents
/content/bn/ @Arindam200 @Imtiaz1234 @mitul3737 @sajibAdhi
/i18n/bn.toml @Arindam200 @Imtiaz1234 @mitul3737 @sajibAdhi

# Approvers for German contents
/content/de/ @iamNoah1 @DaveVentura @CathPag @bcubk
/i18n/de.toml @iamNoah1 @DaveVentura @CathPag @bcubk

# Approvers for Spanish contents
/content/es/ @raelga @ramrodo @electrocucaracha @krol3 @92nqb
/i18n/es.toml @raelga @ramrodo @electrocucaracha @krol3 @92nqb

# Approvers for French contents
/content/fr/ @huats @fydrah @Krast76 @sestegra @guillaumebernard84
/i18n/fr.toml @huats @fydrah @Krast76 @sestegra @guillaumebernard84

# Approvers for Hindi contents
/content/hi/ @Garima-Negi @jayesh-srivastava @abhay-raj19 @aj11anuj @kumarankit999 @bishal7679
/i18n/hi.toml @Garima-Negi @jayesh-srivastava @abhay-raj19 @aj11anuj @kumarankit999 @bishal7679

# Approvers for Italian contents
/content/it/ @fsbaraglia @ugho16 @annalisag-spark @sistella
/i18n/it.toml @fsbaraglia @ugho16 @annalisag-spark @sistella

# Approvers for Japanese contents
/content/ja/ @inductor @naonishijima @kaitoii11 @yuichi-nakamura @Okabe-Junya
/i18n/ja.toml @inductor @naonishijima @kaitoii11 @yuichi-nakamura @Okabe-Junya

# Approvers for Korean contents
/content/ko/ @seokho-son @jihoon-seo @yunkon-kim
/i18n/ko.toml @seokho-son @jihoon-seo @yunkon-kim

# Approvers for Portuguese contents
/content/pt-br/ @edsoncelio @brunoguidone @jessicalins @MrErlison
/i18n/pt-br.toml @edsoncelio @brunoguidone @jessicalins @MrErlison

# Approvers for Russian contents
/content/ru/ @shurup @kirkonru @tym83
/i18n/ru.toml @shurup @kirkonru @tym83

# Approvers for Turkish contents
/content/tr/ @aliok @halil-bugol @rwxdash @eminalemdar
/i18n/tr.toml @aliok @halil-bugol @rwxdash @eminalemdar

# Approvers for Urdu contents
/content/ur/ @Saim-Safdar @waleed318
/i18n/ur.toml @Saim-Safdar @waleed318

# Approvers for Simplified Chinese contents
/content/zh-cn/ @hanyuancheung @Jacob953 @Rocksnake @Submarinee
/i18n/zh-cn.toml @hanyuancheung @Jacob953 @Rocksnake @Submarinee

# Approvers for Traditional Chinese contents
/content/zh-tw/ @pichuang @ydFu @hwchiu @johnlinp
/i18n/zh-tw.toml @pichuang @ydFu @hwchiu @johnlinp

[tw] Blue Green Deployment remove load balancer link
  content/zh-tw/blue-green-deployment.md
Owners: @pichuang, @ydFu, @hwchiu, @johnlinp

[tw] Blue Green Deployment remove what-it-is section
  content/zh-tw/blue-green-deployment.md
Owners: @pichuang, @ydFu, @hwchiu, @johnlinp

[tw] Canary Deployment remove what-it-is section
  content/zh-tw/canary-deployment.md
Owners: @pichuang, @ydFu, @hwchiu, @johnlinp

[tr] data-center.md localization to Turkish (#2844)
  content/tr/data-center.md
Owners: @aliok, @halil-bugol, @rwxdash, @eminalemdar

[tr] continuous-deployment.md localization to Turkish (#2843)
  content/tr/continuous-deployment.md
Owners: @aliok, @halil-bugol, @rwxdash, @eminalemdar

[tr] continuous-integration.md localization to Turkish (#2842)
  content/tr/continuous-integration.md
Owners: @aliok, @halil-bugol, @rwxdash, @eminalemdar

[tr] blue-green-deployment.md localization to Turkish (#2839)
  content/tr/blue-green-deployment.md
Owners: @aliok, @halil-bugol, @rwxdash, @eminalemdar

[tr] client-server-architecture.md localization to Turkish (#2841)
  content/tr/client-server-architecture.md
Owners: @aliok, @halil-bugol, @rwxdash, @eminalemdar

[tr] canary-deployment.md localization to Turkish (#2840)
  content/tr/canary-deployment.md
Owners: @aliok, @halil-bugol, @rwxdash, @eminalemdar

Add initial localization contributors list (#2809)
  content/ja/_index.md
Owners: @inductor, @naonishijima, @kaitoii11, @yuichi-nakamura, @Okabe-Junya

fix: detailed expression
  content/ja/reliability.md
Owners: @inductor, @naonishijima, @kaitoii11, @yuichi-nakamura, @Okabe-Junya

fix sentences according @sestegra feedbacks
  content/fr/event-driven-architecture.md
Owners: @huats, @fydrah, @Krast76, @sestegra, @guillaumebernard84

add info about not completed terms (#2813)
  .github/ISSUE_TEMPLATE/new-term.yml
Owners: @caniszczyk, @seokho-son, @iamNoah1, @jihoon-seo, @nate-double-u
