Repository cncf/glossary, changes with the owners that CODEOWNERS names for each.
All owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo, @Eviekim, @yunkon-kim, @edsoncelio, @brunoguidone, @jessicalins, @MrErlison, @Garima-Negi, @sayantani11, @anubha-v-ardhan, @jayesh-srivastava, @DaveVentura, @fsbaraglia, @ugho16, @annalisag-spark, @sistella, @TarekMSayed, @same7ammar, @AShabana, @arezk84, @mitul3737, @Mouly22, @ikramulkayes, @Imtiaz1234, @raelga, @electrocucaracha, @krol3, @92nqb, @hanyuancheung, @Jacob953, @Rocksnake, @Submarinee, @huats, @fydrah, @Krast76, @Saim-Safdar, @waleed318

CODEOWNERS:

# This CODEOWNERS file defines contributors that are
# responsible for code in this repository.

# Code owners are automatically requested for review
# when someone opens a pull request that modifies code that they own.

# These owners will be default owners for everything in this repository.
# These owners consist of Maintainers and English approvers.
* @caniszczyk @CathPag @jasonmorgan @seokho-son @iamNoah1 @jihoon-seo


# These are the owners (approvers) for localization contents
# in each `/content/language/` directory.

# Approvers for Korean contents
/content/ko/ @seokho-son @Eviekim @jihoon-seo @yunkon-kim

# Approvers for Portuguese contents
/content/pt-br/ @edsoncelio @brunoguidone @jessicalins @MrErlison

# Approvers for Hindi contents
/content/hi/ @Garima-Negi @sayantani11 @anubha-v-ardhan @jayesh-srivastava

# Approvers for German contents
/content/de/ @iamNoah1 @DaveVentura @CathPag

# Approvers for Italian contents
/content/it/ @fsbaraglia @ugho16 @annalisag-spark @sistella

# Approvers for Arabic contents
/content/ar/ @TarekMSayed @same7ammar @AShabana @arezk84

# Approvers for Bengali contents
/content/bn/ @mitul3737 @Mouly22 @ikramulkayes @Imtiaz1234

# Approvers for Spanish contents
/content/es/ @raelga @electrocucaracha @krol3 @92nqb

# Approvers for Chinese contents
/content/zh-cn/ @hanyuancheung @Jacob953 @Rocksnake @Submarinee

# Approvers for French contents
/content/fr/ @huats @fydrah @Krast76

# Approvers for Urdu contents
/content/ur/ @Saim-Safdar @waleed318

Add policy-as-code.md
  content/es/policy-as-code.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

update wordlist.txt
  content/es/.wordlist.txt
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

remove extra changes
  .github/pull_request_template.md
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

remove extra changes
  .github/workflows/check-outdated-terms.yaml
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

remove extra changes
  .github/workflows/post-outdated-terms-report.yaml
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

remove extra changes
  layouts/partials/head.html
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

remove extra changes
  .github/pull_request_template.md
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

add event-streaming.md
  content/es/event-streaming.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

add words
  content/es/.wordlist.txt
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

remove extra changes
  .github/workflows/check-outdated-terms.yaml
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

remove extra changes
  .github/workflows/post-outdated-terms-report.yaml
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

remove extra changes
  layouts/partials/head.html
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

arrange wordlist in alphabetical order
  content/es/.wordlist.txt
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

change status
  content/es/policy-as-code.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

add question mark
  content/es/policy-as-code.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

add question mark
  content/es/policy-as-code.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

Update content/es/policy-as-code.md
  content/es/policy-as-code.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

Update content/es/policy-as-code.md
  content/es/policy-as-code.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

Update content/es/policy-as-code.md
  content/es/policy-as-code.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

Update content/es/.wordlist.txt
  content/es/.wordlist.txt
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

Update content/es/policy-as-code.md
  content/es/policy-as-code.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

Change api absolute reference
  content/en/event-streaming.md
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

Remove branch criteria selection in labeler CI
  .github/workflows/labeler.yml
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

Update content/es/event-streaming.md
  content/es/event-streaming.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

Update content/es/event-streaming.md
  content/es/event-streaming.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

Update content/es/event-streaming.md
  content/es/event-streaming.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

Update content/es/event-streaming.md
  content/es/event-streaming.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

Update content/es/event-streaming.md
  content/es/event-streaming.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

Update content/es/event-streaming.md
  content/es/event-streaming.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

Update content/es/event-streaming.md
  content/es/event-streaming.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

Update content/es/event-streaming.md
  content/es/event-streaming.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

Update content/es/event-streaming.md
  content/es/event-streaming.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

Update content/es/event-streaming.md
  content/es/event-streaming.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

serverless.md localized into Hindi
  content/hi/serverless.md
Owners: @Garima-Negi, @sayantani11, @anubha-v-ardhan, @jayesh-srivastava

Add /pt-br/observability.md
  content/pt-br/observability.md
Owners: @edsoncelio, @brunoguidone, @jessicalins, @MrErlison

Add /pt-br/microservices.md
  content/pt-br/microservices.md
Owners: @edsoncelio, @brunoguidone, @jessicalins, @MrErlison

Change api absolute reference (#1441)
  content/en/event-streaming.md
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

Update cloud-native-tech.md
  content/en/cloud-native-tech.md
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

add extra works to wordlist.txt
  content/es/.wordlist.txt
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

[Spanish] localize 'Event Streaming' (#1440)
  content/es/.wordlist.txt
  content/es/event-streaming.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb
