Repository cncf/glossary, changes with the owners that CODEOWNERS names for each.
All owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo, @Eviekim, @yunkon-kim, @edsoncelio, @brunoguidone, @jessicalins, @MrErlison, @Garima-Negi, @sayantani11, @anubha-v-ardhan, @jayesh-srivastava, @DaveVentura, @fsbaraglia, @ugho16, @annalisag-spark, @sistella, @TarekMSayed, @same7ammar, @AShabana, @arezk84, @mitul3737, @Mouly22, @ikramulkayes, @Imtiaz1234, @raelga, @electrocucaracha, @krol3, @92nqb, @hanyuancheung, @Jacob953, @Rocksnake, @Submarinee, @huats, @fydrah, @Krast76, @Saim-Safdar, @waleed318

CODEOWNERS:

# This CODEOWNERS file defines contributors that are
# responsible for code in this repository.

# Code owners are automatically requested for review
# when someone opens a pull request that modifies code that they own.

# These owners will be default owners for everything in this repository.
# These owners consist of Maintainers and English approvers.
* @caniszczyk @CathPag @jasonmorgan @seokho-son @iamNoah1 @jihoon-seo


# These are the owners (approvers) for localization contents
# in each `/content/language/` directory.

# Approvers for Korean contents
/content/ko/ @seokho-son @Eviekim @jihoon-seo @yunkon-kim

# Approvers for Portuguese contents
/content/pt-br/ @edsoncelio @brunoguidone @jessicalins @MrErlison

# Approvers for Hindi contents
/content/hi/ @Garima-Negi @sayantani11 @anubha-v-ardhan @jayesh-srivastava

# Approvers for German contents
/content/de/ @iamNoah1 @DaveVentura @CathPag

# Approvers for Italian contents
/content/it/ @fsbaraglia @ugho16 @annalisag-spark @sistella

# Approvers for Arabic contents
/content/ar/ @TarekMSayed @same7ammar @AShabana @arezk84

# Approvers for Bengali contents
/content/bn/ @mitul3737 @Mouly22 @ikramulkayes @Imtiaz1234

# Approvers for Spanish contents
/content/es/ @raelga @electrocucaracha @krol3 @92nqb

# Approvers for Chinese contents
/content/zh-cn/ @hanyuancheung @Jacob953 @Rocksnake @Submarinee

# Approvers for French contents
/content/fr/ @huats @fydrah @Krast76

# Approvers for Urdu contents
/content/ur/ @Saim-Safdar @waleed318

change title to 'Firewall'
  content/es/firewall.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

[es] Sync devops term (#1392)
  content/es/devops.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

[es] Sync continuous-integration term (#1391)
  content/es/continuous-integration.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

[es] Sync cluster term (#1388)
  content/es/cluster.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

[es] Sync container-image term (#1389)
  content/es/container-image.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

add change requests from Baris
  content/de/blue-green-deployment.md
Owners: @iamNoah1, @DaveVentura, @CathPag

Adding HTTP and Kafka to content/es/.wordlist.txt
  content/es/.wordlist.txt
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

removed tags from content/es/event-driven-architecture.md
  content/es/event-driven-architecture.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

minor changes on content/es/event-driven-architecture.md
  content/es/event-driven-architecture.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

set status completed on content/es/event-driven-architecture.md
  content/es/event-driven-architecture.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

Create content/es/reliability.md
  content/es/reliability.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

localization
  content/de/client-server-architecture.md
Owners: @iamNoah1, @DaveVentura, @CathPag

[DE] Localization of Blue Green Deployment (#1342)
  content/de/blue-green-deployment.md
Owners: @iamNoah1, @DaveVentura, @CathPag

Fixed a typo.
  content/it/cloud-native-tech.md
Owners: @fsbaraglia, @ugho16, @annalisag-spark, @sistella

Localize the content/en/debugging.md document to Spanish
  .gitpod.yml
  content/en/debugging.md
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

Delete .gitpod.yml
  .gitpod.yml
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

Update content/en/container-orchestration.md
  content/en/container-orchestration.md
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

Update content/en/container-orchestration.md
  content/en/container-orchestration.md
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

Update content/en/container-orchestration.md
  content/en/container-orchestration.md
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

Update content/en/container-orchestration.md
  content/en/container-orchestration.md
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

Create Spanish localization for event-driven-architecture.md (#1427)
  content/es/.wordlist.txt
  content/es/event-driven-architecture.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

[Spanish] localize 'Platform as a Service (PaaS)' #1400 (#1424)
  content/es/.wordlist.txt
  content/es/platform-as-a-service.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

Create content/es/reliability.md (#1447)
  content/es/reliability.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

swapped in a new image for the homepage
  content/en/_index.md
  static/images/homepage/kubecon.jpg
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

[es] Sync continuous-delivery term (#1390)
  content/es/continuous-delivery.md
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

Resort wordlist.txt
  content/es/.wordlist.txt
Owners: @raelga, @electrocucaracha, @krol3, @92nqb

Update hypervisor.md
  content/en/hypervisor.md
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @jihoon-seo

Localized `content/bn/blue-green-deployment.md` to Bengali
  content/bn/blue-green-deployment.md
Owners: @mitul3737, @Mouly22, @ikramulkayes, @Imtiaz1234

Add /pt-br/container-as-a-service.md
  content/pt-br/containers-as-a-service.md
Owners: @edsoncelio, @brunoguidone, @jessicalins, @MrErlison

Create containerization.md
  content/de/containerization.md
Owners: @iamNoah1, @DaveVentura, @CathPag

[bn] Localize Infrastructure as Code
  content/bn/infrastructure-as-code.md
Owners: @mitul3737, @Mouly22, @ikramulkayes, @Imtiaz1234

Corrected some Mistakes
  content/bn/infrastructure-as-code.md
Owners: @mitul3737, @Mouly22, @ikramulkayes, @Imtiaz1234

Localized `content/bn/blue-green-deployment.md` to Bengali
  content/bn/blue-green-deployment.md
Owners: @mitul3737, @Mouly22, @ikramulkayes, @Imtiaz1234

Create event-streaming.md
  content/pt-br/event-streaming.md
Owners: @edsoncelio, @brunoguidone, @jessicalins, @MrErlison
