Repository cncf/glossary, changes with the owners that CODEOWNERS names for each.
All owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @Eviekim, @jihoon-seo, @edsoncelio, @brunoguidone, @Garima-Negi, @sayantani11, @anubha-v-ardhan, @jayesh-srivastava, @iamNoah1, @DaveVentura, @Giulia-dipietro, @meryem-ldn, @annalisag-spark, @sistella

CODEOWNERS:

# These are the maintainers in the repo.
# These owners will be the default owners for everything in the repo.
# We require at least two maintainers to sign off on a new term.

* @caniszczyk @CathPag @jasonmorgan @seokho-son


# These are the owners for localization contents
# in each `/content/language/` directory.

# Owners of Korean contents
/content/ko/ @seokho-son @Eviekim @jihoon-seo

# Owners of Portuguese contents
/content/pt/ @edsoncelio @brunoguidone

# Owners of Hindi contents
/content/hi/ @Garima-Negi @sayantani11 @anubha-v-ardhan @jayesh-srivastava

# Owners of German contents
/content/de/ @CathPag @iamNoah1 @DaveVentura

# Owners of Italian contents
/content/it/ @Giulia-dipietro @meryem-ldn @annalisag-spark @sistella

# Owners of Arabic contents
# /content/ar/ @TarekMSayed @same7ammar @AShabana @hacktron95

# Owners of Bengali contents
# /content/bn/ @mitul3737 @Mouly22 @ikramulkayes

added first draft of chaos engineering
  content/en/chaos_engineering.md
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son

replace इमेजिस with इमेजें/ इमेजों as suitable
  content/hi/container-image.md
Owners: @Garima-Negi, @sayantani11, @anubha-v-ardhan, @jayesh-srivastava

fix : transliterate terms
  content/hi/container-image.md
Owners: @Garima-Negi, @sayantani11, @anubha-v-ardhan, @jayesh-srivastava

fix: transliterate static, execute
  content/hi/container-image.md
Owners: @Garima-Negi, @sayantani11, @anubha-v-ardhan, @jayesh-srivastava

[hi] Localize container-image.md (#417)
  content/hi/container-image.md
Owners: @Garima-Negi, @sayantani11, @anubha-v-ardhan, @jayesh-srivastava

Create code-of-conduct.md
  code-of-conduct.md
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son

Update infrastructure_as_code.md
  content/it/infrastructure_as_code.md
Owners: @Giulia-dipietro, @meryem-ldn, @annalisag-spark, @sistella

Update content/it/style-guide/_index.md
  content/it/style-guide/_index.md
Owners: @Giulia-dipietro, @meryem-ldn, @annalisag-spark, @sistella

Update content/it/style-guide/_index.md
  content/it/style-guide/_index.md
Owners: @Giulia-dipietro, @meryem-ldn, @annalisag-spark, @sistella

Update content/it/style-guide/_index.md
  content/it/style-guide/_index.md
Owners: @Giulia-dipietro, @meryem-ldn, @annalisag-spark, @sistella

Update content/it/style-guide/_index.md
  content/it/style-guide/_index.md
Owners: @Giulia-dipietro, @meryem-ldn, @annalisag-spark, @sistella

Settings and initial contents for German localization (#347)
  config.toml
  content/de/_index.md
  content/de/contribute/_index.md
  content/de/style-guide/_index.md
  i18n/de.toml
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son, @iamNoah1, @DaveVentura

Update content/it/style-guide/_index.md
  content/it/style-guide/_index.md
Owners: @Giulia-dipietro, @meryem-ldn, @annalisag-spark, @sistella

Settings and initial contents for Arabic localization (#428)
  config.toml
  content/ar/_index.md
  content/ar/cloud_native_tech.md
  content/ar/contribute/_index.md
  content/ar/style-guide/_index.md
  i18n/ar.toml
Owners: @caniszczyk, @CathPag, @jasonmorgan, @seokho-son
